<script>
    const glide = new Glide('.glide', {
        type: 'slider',
        perView: 4,
        focus: "center",
        rewind: false,
        bound: true,
        gap: 0,
        breakpoints: {
            1200: {
                perView: 4
            },
            1080: {
                perView: 3
            },
            1198: {
                perView: 3
            },
            768: {
                perView: 3
            },
            700: {
                perView: 3
            },
            600: {
                perView: 2
            },
            576: {
                perView: 2
            },
            400: {
                perView: 1
            },
        }
    }).mount()
    function handleDisableControls() {
        backBtnEl = document.querySelector('[data-glide-dir="<"]');
        nextBtnEl = document.querySelector('[data-glide-dir=">"]');
        if (backBtnEl && nextBtnEl) {
            if (glide.index === 0) {
                // disable prev button
                backBtnEl.classList.add('--disabled')
            } else {
                backBtnEl.classList.remove('--disabled')
            }
            if (glide.index + glide._o.perView === glide._c.Html.slides.length) {
                // disable next button
                nextBtnEl.classList.add('--disabled')
            } else {
                nextBtnEl.classList.remove('--disabled')
            }
        }
    }
    glide.on(['build.after', 'run'], function () {
        handleDisableControls();
    })
    handleDisableControls();
</script>