<section class="container mobile-adjusted" id="mockup_builder">
    <div>
      <div class="row" id="mockup__card-wrapper">
        <div :class="['col-xs-12',{'--advance': activeTab === 'active'}]" style="padding: 0;">
          <div class="row mockup__preview-configuration-wrapper" :class="{'--gray-bg' : activeTab === 'preview'}">
            <div class="preview-design-switch hide-md-up col-xs-12">
              <div class="design-type col-xs-6" :class="{'--active_tab': activeTab === 'controls'}"
                @click="switchTab('controls')">
                Ad Content
              </div>
              <div class="design-type col-xs-6" :class="{'--active_tab': activeTab === 'preview'}"
                @click="switchTab('preview')">
                Preview
              </div>
            </div>
            <div v-show="activeTab === 'both' ?  true : activeTab === 'controls'"
              class="mockup__configuration-wrapper col-sm-down-12">
  
              <div class="mockup__configuration-section" id="mockup-controls">
                <div class="mockup__configuration-header-wrapper">
                  <h4 class="mockup__configuration-title">Twitter</h4>
                </div>
                <div class="mockup-type">
                  <div class="mockup-type-header">
                    <span class="mockup__title">Ad Type & format</span>
                  </div>
                  <div>
                    <div class="glide">
                      <div class="glide__track" data-glide-el="track">
                        <div class="insta__mockup-type-wrapper" id="mockup-type-wrapper" ref="adType">
                          <div style="width: auto !important;" class="mockup-type__card slide-mockup-type"
                            :class="{'--active': activeAd.id === adType.id}" v-for="adType in adTypes" :key="adType.id"
                            @click="adTypeClick(adType)">
                            <div class="image-wrapper">
                              <img :src="getImgUrl(adType.img)">
                            </div>
                            <div class="insta-mockup-type-title">
                              <p :class="{'--active': activeAd.id === adType.id}">{adType.type}
                                <span>({adType.ratio})</span>
                              </p>
                              <div class="circle">
                                <div class="circle-inner" v-if="activeAd.id === adType.id"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="glide-controls" data-glide-el="controls">
                        <span class="swiper-previous glide-control-btn" data-glide-dir="<">
                          {{- partial "icons/left-arrow.html" -}}
                        </span>
                        <span class="swiper-next glide-control-btn" data-glide-dir=">">
                          {{- partial "icons/right-arrow.html" -}}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="profile__input-wrapper">
                  <span class="mockup__title">Profile picture and username</span>
                  <div class="uploader-wrapper">
                    <uploader @submit-image="uploadImage($event,'header')" @validated="validation($event)">
                      <span class="upload-image-wrapper">
                        <span v-if="!dpSrc">{{- partial "icons/upload-img-logo.html" -}}</span>
                        <img v-else :src="dpSrc ? dpSrc : ''" alt=""> 
                      </span> 
                    </uploader>
                    <div class="input-wrapper">
                      <input v-model="profileName" @keyDown="onKeyDown" type="text" id="account-name-input"
                        class="mockup-input" placeholder="username" maxlength="20" />
                    </div>
                  </div>
                </div>
                <div class="mockup__configuration-like-count ib__mockup-input-wrapper">
                  <h4 class="mockup__title">
                    User ID
                  </h4>
                  <p class="mockup__description">
                    Set the user id of your post. with no white space.
                  </p>
                  <input v-model="profileUserId" @keyDown="onKeyDown" type="text" id="account-name-input"
                  class="mockup-input" placeholder="username" maxlength="20" />
                </div>
                <div class="mockup__configuration-message-wrapper">
                  <h4 class="mockup__title">
                    Caption
                  </h4>
                  <p class="mockup__description">
                    Grab interest with more info about what you're advertising. Keep it short - we recommend 90 characters
                    or less.
                  </p>
                  <textarea @input="addCaption($event, 70)" maxlength="3500" class="message-textarea" v-model="caption"
                    placeholder="This is caption that will display on the final mockup. You can write anything."></textarea>
                </div>
                <div class="mockup__configuration-dropzone-wrapper ib__mockup-dropzone">
                  <span class="mockup__title" v-if="activeAd.id === 4">Image carousel (up to 10)</span><span class="mockup__title"
                    v-else>Image</span>
                  <span class="mockup__description">Recommended image size:
                    <span>{activeAd.resolution}</span>&nbsp;pixels.</span>
                  <uploader v-if="activeAd.type !== 'Carousel'" :multiple="false" :drop="true"
                    @submit-image="uploadImage($event,'body')" @validated="validation($event)">
                    <div class="upload_placeholder-wrapper">
                      {{- partial "icons/upload-placeholder.html" -}}
                      <p><span>Click to upload</span> or drag-and-drop</br>
                      <div class="sub-droparea-text">Supports only .png or .jpg</div>
                      <span ref="messageError" class="image-error-text"></span>
                      </p>
                    </div>
                  </uploader>
                  <div v-else class="multiple-uploader">
                    <div class="ib_upload"  v-for="post in postSrc" :key="(Math.random() * 100)">
                      <div class="image-wrapper">
                        <div class="edit-delete-wrapper">
                          <uploader :multiple="false" @submit-image="uploadImage($event,'body',i)" @validated="validation($event)">
                          <span class="delete-icon">
                            {{- partial "icons/edit.html" -}}
                          </span>
                        </uploader>
                          <span class="delete-icon" style="margin-top: 4px;" @click="deletePost(post)">
                            {{- partial "icons/delete.html" -}}
                          </span>
                        </div>
                        <img  class="preview-image-body" :src="post" alt="">
                      </div>
                    </div>
                   <uploader v-if="postSrc.length < 10" :multiple="true" @submit-image="uploadImage($event,'body')" @validated="validation($event)">
                    <div class="ib_upload uploader">
                      <div class="image-wrapper">
                        <span> {{- partial "icons/add.html" -}}</span>
                      </div>
                    </div>
                    </uploader>
                  </div>
                </div>
                <div class="mockup__configuration-like-count ib__mockup-input-wrapper">
                  <h4 class="mockup__title">
                    Website
                  </h4>
                  <p class="mockup__description">
                    Set the Website name of your post. with no white space.
                  </p>
                  <input v-model="website" @keyDown="onKeyDown" type="text" id="account-name-input"
                  class="mockup-input" placeholder="examplewebsite.com" maxlength="20" />
                </div>
                <div class="mockup__configuration-like-count ib__mockup-input-wrapper">
                  <h4 class="mockup__title">
                    Bottom Tagline
                  </h4>
                  <p class="mockup__description">
                    Set the description your post. with no white space.
                  </p>
                  <input v-model="description" type="text" id="account-name-input"
                  class="mockup-input" placeholder="Bottom tagline example" maxlength="60" />
                </div>
                <div class="mockup__configuration-like-count ib__mockup-input-wrapper">
                  <h4 class="mockup__title">
                    Comments
                  </h4>
                  <p class="mockup__description">
                    Set the number of comments for your post. Numeric input only.
                  </p>
                  <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    class="likes-count-input" type="number" @input="numberInput($event,'commentCount')" placeholder="1">
                </div>
                <div class="mockup__configuration-like-count ib__mockup-input-wrapper">
                  <h4 class="mockup__title">
                    Retweet
                  </h4>
                  <p class="mockup__description">
                    Set the number of Retweet for your post. Numeric input only.
                  </p>
                  <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    class="likes-count-input" type="number" placeholder="1" @input="numberInput($event,'shareCount')">
                </div>
                <div class="mockup__configuration-like-count ib__mockup-input-wrapper">
                  <h4 class="mockup__title">
                    Likes
                  </h4>
                  <p class="mockup__description">
                    Set the number of likes for your post. Numeric input only.
                  </p>
                  <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    @input="numberInput($event,'likes')" class="likes-count-input" type="number" placeholder="15">
                </div>
              </div>
            </div>
            <div v-show="activeTab === 'both' ?  true : activeTab === 'preview'" class="mockup__preview-section"
              id="mockup-preview">
              <div class="preview-wrapper-mobile">
                <div id="mockup-download-img">
                    <div class="ib_twitter-mockup-wrapper" id="ib_twitter-mockup-wrapper">
                        <uploader @submit-image="uploadImage($event,'header')" @validated="validation($event)">
                          <div class="twitter-profile-picture">
                              <div class="profile-picture-wrapper">
                                <img v-if="dpSrc" :src="dpSrc ? dpSrc : ''" alt="">
                              </div>
                          </div>
                        </uploader>
                        <div :class="['twitter__post-section',{'carousel-adjestument' : activeAd.id=== 3}]">
                            <div class="twitter__post-header-section">
                                <div class="head">
                                    <div class="profile-credencials">
                                        <span class="profile-name">{profileName ? profileName:'Slingshot'}</span>
                                        {{- partial "icons/twitter-verified-tag.html" -}}
                                        <span class="username">@{profileUserId ? profileUserId:'useslingshot'}</span>
                                    </div>
                                    {{- partial "icons/twitter-more-buttons.html" -}}
                                </div>
                                <div class="header-description-caption" style="min-height: 48px">
                                  <span class="caption-text" v-html="count === 0 ? displayCaptionValue : captionValue"></span><span v-if="showSeeMore"
                                  class="see-more" @click="seeMoreExpand">...See More</span>
                                </div>
                            </div>
                            <div :class="{'twitter__carousel-wrapper' : activeAd.id=== 3}">
                              <div v-if="activeAd.id !== 3 " class="twitter__post-body-section" id="twitter__post-body-section">
                                <uploader :multiple="activeAd.id === 3 ? true : false"
                                @submit-image="uploadImage($event,'body')" @validated="validation($event)">
                                  <div class="twitter-post" id="twitter-post" :style="getComputedHeight">
                                    <img v-if="postSrc[0]" class="preview-image-body" :src="activeAd.id !== 3 ? postSrc[postSrc.length - 1] : post" alt="twitter-post-image">
                                    <span v-else class="placeholder-info">{activeAd.ratio} <span>{activeAd.resolution}px
                                        recommended<span></span>
                                  </div>
                                </uploader>
                                  <div class="twitter-post-description">
                                      <div class="link">
                                        {website ? website:'examplewebsite.com'}
                                      </div>
                                      <div class="text">
                                        {description ? description:'Bottom tagline example'}
                                      </div>
                                  </div>
                              </div>
                              <div v-else v-for="(post,i) in postSrc[0] ? postSrc : [1]" :key="(Math.random() * 100)" class="twitter__post-body-section" id="twitter__post-body-section">
                                <uploader :multiple="true"
                                @submit-image="uploadImage($event,'body',i)" @validated="validation($event)">
                                  <div class="twitter-post" :style="getComputedHeight">
                                    <img v-if="postSrc[0]" class="preview-image-body" :src="activeAd.id !== 3 ? postSrc[postSrc.length - 1] : post" alt="twitter-post-image">
                                    <span v-else class="placeholder-info">{activeAd.ratio} <span>{activeAd.resolution}px
                                        recommended<span></span>
                                  </div>
                                </uploader>
                                  <div class="twitter-post-description">
                                      <div class="link">
                                        {website ? website:'examplewebsite.com'}
                                      </div>
                                      <div class="text">
                                        {description ? description:'Bottom tagline example'}
                                      </div>
                                  </div>
                              </div>
                              <div v-if="activeAd.type === 'Carousel' && postSrc.length < 10" class="twitter__post-body-section" id="twitter__post-body-section">
                                <uploader :multiple="true"
                                @submit-image="uploadImage($event,'body')" @validated="validation($event)">
                                  <div class="twitter-post" :style="getComputedHeight">
                                    <span class="placeholder-info">{activeAd.ratio} <span>{activeAd.resolution}px
                                        recommended<span></span>
                                  </div>
                                </uploader>
                                  <div class="twitter-post-description">
                                      <div class="link">
                                        {website ? website:'examplewebsite.com'}
                                      </div>
                                      <div class="text">
                                        {description ? description:'Bottom tagline example'}
                                      </div>
                                  </div>
                              </div>
                            </div>
                            <div class="twitter__post-user-action-section">
                                <div class="action-wrapper">
                                  {{- partial "icons/twitter-comment.html" -}}
                                  <span>{commentCount}</span>
                                </div>
                                <div class="action-wrapper">
                                  {{- partial "icons/twitter-repost.html" -}}
                                  <span>{shareCount}</span>
                                </div>
                                <div class="action-wrapper">
                                  {{- partial "icons/twitter-like.html" -}}
                                  <span>{likes}</span>
                                </div>
                                <div class="action-wrapper">
                                  {{- partial "icons/twitter-share-icon.html" -}}
                                </div>
                            </div>
                            <div class="twitter__post-footer-section">
                              {{- partial "icons/twitter-promoted.html" -}}
                              <span>Promoted</span>
                            </div>
                        </div>
                        <div v-if="activeAd.id=== 3  && left"  class="btn btn-prev" aria-label="Previous slide" @click="slidePrevious">
                          <span class="left-arrow"> &#10094; </span>
                        </div>
                        <div v-if="activeAd.id=== 3"  class="btn btn-next" aria-label="Next slide" @click="slideNext">
                          <span class="right-arrow"> &#10095;  </span>
                        </div>
                    </div>
                </div>
              </div>
              <div class="preview-download-wrapper">
                <button @click="downloadPng('ib_twitter-mockup-wrapper','twitter-ad-mockup')" class="mockup-download-btn mockup-btn">
                  Download PNG
                </button>
                <button v-if="canCopy" @click="copyImage('ib_twitter-mockup-wrapper')" class="mockup-copy-btn" @mouseleave="copied = false">
                  {{- partial "icons/copy-button.html" -}}
                  <span v-if="!copied" class="--tooltip-copy">Copy to clipboard</span>
                  <span v-else class="--tooltip-copy --sucess">Copied
                    {{- partial "icons/check.html" -}}
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {{- if getenv "IS_PROD" -}}
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  {{- else -}}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {{- end -}}
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.0/glide.min.js" integrity="sha512-IkLiryZhI6G4pnA3bBZzYCT9Ewk87U4DGEOz+TnRD3MrKqaUitt+ssHgn2X/sxoM7FxCP/ROUp6wcxjH/GcI5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {{- partial "site/ad-mockup-generator/adFormatHeightMixin.html" -}}
  {{- partial "site/ad-mockup-generator/generalMixin.html" -}}
  {{- partial "site/ad-mockup-generator/uploadMixin.html" -}}
  {{- partial "site/ad-mockup-generator/captionMixin.html" -}}
  <script>
      Vue.component('uploader', {
          data: function () {
              return {
                  isDragEnter: false,
                  hasSelection: false,
                  displayText: '',
                  value1: '',
              }
          },
          props:{
              tabindex: [String, Number],
              drop: {
                type: Boolean,
                default: false,
              },
              button: {
                type: Boolean,
                default: false,
              },
              multiple: {
                type: Boolean,
                default: false,
              },
              // Same as native accept attribute
              extensions: {
                type: String,
                default: '.jpg,.svg,.png,.jpeg',
              },
              // This value should be a positive number
              maxFileSize: {
                type: Number,
                default: 4000,
                validator: value => {
                  return value > 0;
                },
              },
              height: {
                type: String,
                default: 'auto',
              },
              width: {
                type: String,
                default: '',
              },
              label: String,
              validateFn: {
                type: Function,
                default: () => true,
              },
          },
          methods: {
              openPicker(e) {
                e.preventDefault()
                this.$refs.fileInput.click();
              },
              handleFileChange(e) {
                e.preventDefault()
                // This method will be called when the file gets uploaded
                const files = e.target.files || e.dataTransfer.files;
                if(this.multiple && files.length > 10 && this.$refs.messageError){
                  this.$refs.messageError.innerHTML = 'You can only upload maximum 10 files';
                  return
                }
                if (files[0]) {
                  this.preprocessFiles(files);
                }
              },
              handleDrop(e) {
                this.isDragEnter = false;
                this.preprocessFiles(e.dataTransfer.files);
              },
              checkFileExtensions(files) {
                // get non-empty, unique extension items
                const extList = [...new Set(this.extensions.toLowerCase().split(',').filter(Boolean))];
                const list = Array.from(files);
                // check if the selected files are in supported extensions
                const invalidFileIndex = list.findIndex(file => {
                  const ext = `.${file.name.toLowerCase().split('.').pop()}`;
                  return extList.includes(ext);
                });
                // all exts are valid
                return invalidFileIndex === -1;
              },
              checkFileSize(files) {
                if (Number.isNaN(this.maxFileSize)) {
                  return true;
                }
                const list = Array.from(files);
                // find invalid file size
                const invalidFileIndex = list.findIndex(file => file.size > this.maxFileSize);
                // all file size are valid
                return invalidFileIndex === 0;
              },
              validate(files) {
                const err = document.querySelector('.image-error-text');
                // file selection
                if (!this.multiple && files.length > 1) {
                  err.innerHTML = 'You can only upload one file';
                  return 'MULTIFILES_ERROR';
                }
                // check File extension for normal upload its not necessary but for drop we have to check the extension
                if (this.checkFileExtensions(files)) {
                  err.innerHTML = 'You can only upload .png or .jpg files';
                  return 'EXTENSION_ERROR';
                }
                // file size
                if (!this.checkFileSize(files)) {
                  err.innerHTML = 'File size is too large';
                  return 'FILE_SIZE_ERROR';
                }
                // custom validation
                return true;
              },
              preprocessFiles(files) {
                const result = this.validate(files);
                this.$emit('validated', result, files);
                // validation
                if (result === true) {
                  this.$emit('submit-image', files);
                }
                // clear selected files
                this.$refs.fileInput.value = '';
              },
          },
        computed: {
          computedStyle() {
            return {
              height: this.height,
              width: this.width,
            };
          },
          placeholder() {
            if (this.label) {
              return this.label;
            }
            return this.multiple ? 'Choose files' : 'Choose a file';
          },
        },
  
        template:  `
          <label class="mockup__file-uploader" :class="{ 'mockup-drag-enter': isDragEnter }">
              <template v-if="!drop && button">
                  <button class="upload_profile-picture-btn mockup-btn" @click="openPicker">
                    Upload Image
                  </button>
              </template>
              <div v-else-if="drop" class="file--upload__draggable" ref="LvDroppable" @dragenter.prevent="isDragEnter = true" @dragover.prevent="isDragEnter = true" @dragleave.prevent="isDragEnter = false" @drop.prevent="handleDrop" :style="computedStyle">
                    <slot></slot>
              </div>
              <template v-else>
                    <slot></slot>
              </template>
              <input ref="fileInput" type="file" :accept="extensions" :tabindex="tabindex" :multiple="multiple" @change="handleFileChange($event)" />
          </label>
      `
      })
      Vue.component('dropdown', {
          data: function () {
              return {
                  selectedOption:this.optionselected,
                  isOpenDropdown: false
              }
          },
          props:{
              options: {
                type: Array,
              },
              optionselected:{
                type: Object
              }
          },
          watch:{
            optionselected(value){
              this.selectedOption = value
            }
          },
          methods: {
          openDropdown(e){
          this.isOpenDropdown = true
            window.addEventListener('click', (event)=>{
              if (this.$refs.dropdown && !this.$refs.dropdown.contains(event.target)){
                  this.closeDropdown()
              }
            });
          },
          closeDropdown(e){
              this.isOpenDropdown = false
          },
          selectOption(option){
              this.selectedOption = option
              this.$emit('option-select', this.selectedOption);
              
          },
          },
  
          template:  `
          <div class="mockup_dropdown-wrapper">      
              <div class="mockup-dropdown"  @click.prevent="openDropdown" ref="dropdown"  tabindex="1">     
                      <a href="javascript:void(0)" v-html="selectedOption.name">
                          Select CTA
                      </a>
                      <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1 1L5.4698 5L10 1" stroke="black"/>
                      </svg>
                  </div>
                  <ul class="mockup-dropdown__dropdown-list" v-show="isOpenDropdown">
                      <li class="list-item" v-for="option in options" @click="selectOption(option)">
                          <p class="list-title"  v-html="option.name"></p>
                      </li>            
                  </ul>
              </div>
          </div>
      `
      })
      Vue.component('slider', {
          data: function () {
              return {
                current: 0,
                direction: 1,
                transitionName: "fade",
                show: false,
              }
          },
          watch:{
            current(val){
              this.$emit('current-post', val);
            }
          },
          props:{
            slides: {
              type: Array,
            },
            optionselected:{
              type: Object
            }
          },
          methods: {
            slide(dir) {
              this.direction = dir;
              dir === 1 ? (this.transitionName = "slide-next") : (this.transitionName = "slide-prev");
              var len = this.slides.length;
              this.current = (this.current + dir % len + len) % len;
            },
          },
          mounted() {
            this.show = true;
          },
  
          template:  `
            <div id="slider">
              <transition-group tag="div" :name="transitionName" class="slides-group">
                <div v-if="show" :key="current" class="slide"" >
                  <img v-if="slides[current]" class="preview-image-body" :src="slides[current]" alt="">
                </div>
              </transition-group>
              <div v-if='slides.length > 1' class="btn btn-prev" aria-label="Previous slide" @click="slide(-1)">
                <span class="left-arrow"> &#10094; </span>
              </div>
              <div  v-if='slides.length > 1' class="btn btn-next" aria-label="Next slide" @click="slide(1)">
                <span class="right-arrow"> &#10095;  </span>
              </div>
            </div>
      `
      })
  
      var app = new Vue({
        el: '#mockup_builder',
        mixins: [uploadMixin,generalMixin,captionMixin],
        data: {
              activeTab: 'controls',
              profileName: '',
              profileUserId: '',
              selectedPreviewCTA: {name:'Learn More',code:'LM'},
              likes: 15,
              description: '',
              website:'',
              captionValue: '',
              seeMoreDisplayValue: '',
              activePost: 0,
              left: 0,
              commentCount: 15,
              shareCount: 15,
              adTypes: [{
                id:1,
                type:'Square',
                ratio:'1:1',
                img:'1-1',
                widthR: 1,
                heightR: 1,
                req: 80,
                resolution: '1080x1080'
              },
              {
                id:2,
                type:'Landscape',
                ratio:'16:9',
                img:'3-2'   ,
                widthR: 16,
                heightR: 9,
                req: 80,
                resolution: '1920x1080'
              },
              {
                id:3,
                type:'Carousel',
                ratio:'1:1',
                widthR: 1,
                heightR: 1,
                img:'carousel',
                req: 80 ,
                resolution: '1080x1080'
              },
            ],
              activeAd: {
                id:1,
                type:'Square',
                ratio:'1:1',
                img:'1-1',
                widthR: 1,
                heightR: 1,
                req: 80,
                resolution: '1080x1080'
              },
              copied: false,
              canCopy:true
          },
          updated() {
            if(this.activeAd.id === 3){
              this.setPreviewRatio()
            }
          },
      methods:{
        switchTab(tab){
            this.activeTab = tab
            this.$nextTick(() => {
              if(this.activeTab === 'preview') this.setPreviewRatio()
            })
          },
          optionSelect(e){
            this.selectedPreviewCTA = e
          },
          getImgUrl(pic) {
              return '/icons/'+pic+'.svg'
          },
          adTypeClick(adType){
            if(this.activeAd.id !== adType.id){
              if(this.$refs.messageError) {
                this.$refs.messageError.innerHTML = '';
              }
              this.clearFields()
              this.activeAd =  adType
              this.$nextTick(() => {
                this.setPreviewRatio()
                this.setHeight(adType.req)
              })
            }
          },
          setHeight(req){
            document.getElementById('mockup-controls').style.height = (document.getElementById('mockup-preview').clientHeight - req) + 'px'
          },
          onKeyDown(){
            if (event.code === 'Space') event.preventDefault()
          },
          clearFields(){
            this.dpSrc = null,
            this.postSrc = [],
            this.caption='',
            this.likes=null,
            this.commentCount= 15,
            this.shareCount= 15,
            this.profileName = '',
            this.profileUserId = '',
            this.website = '',
            this.description = '',
            this.selectedPreviewCTA= {name:'Learn More',code:'LM'}
            this.activePost = 0
          },
          updateCurrentPost(val){
            this.activePost = val
          },
          checkBrowserCompatibility(){
            var isFirefox = typeof InstallTrigger !== 'undefined';
            if(isFirefox){
              this.canCopy = false
            }
          },
          setPreviewRatio(){
            let el = this.activeAd.id !== 3 ? document.getElementById('twitter-post') : document.getElementsByClassName('twitter-post')[0]
            let  width= el.offsetWidth
            let target = document.getElementsByClassName('twitter-post')
            let height =  this.activeAd.id === 1 || this.activeAd.id === 3 ? width + 'px' : this.activeAd.id === 2 ? ((2/3)* width) + 'px':'417px'
            for (var i = 0; i < target.length; i++) {
               if(target[i]){
                target[i].style.height = height
               }
            }
          },
          setActiveTab(){
            if(window.innerWidth <= 1024 ){
               this.activeTab = 'controls' 
            }else{
              this.activeTab = 'both'
            }
          },
          slideNext(){
            let ele = document.getElementsByClassName('twitter__carousel-wrapper')[0]
            this.left += 280    
            if(ele.scrollWidth < (this.left + 280)){
              this.left -= 280    
            }
            ele.scrollTo({
              left: this.left,
              behavior: 'smooth',
            })
            // this.setPreviewRatio()
            // this.$nextTick(() => {
            //   // this.setPreviewRatio()
            // })
          },
          slidePrevious(){
            let ele = document.getElementsByClassName('twitter__carousel-wrapper')[0]
            this.left -= 280
            ele.scrollTo({
              left: this.left,
              behavior: 'smooth',
            })
            // this.$nextTick(() => {
            //   // this.setPreviewRatio()
            // })
          },
      },
      mounted(){
        this.setActiveTab()
        this.$nextTick(() => {
          this.setHeight(80);
        })
        window.addEventListener('resize',(event) =>{
          this.setActiveTab()
          this.setHeight(80);
        }, true)
        this.checkBrowserCompatibility()
      },
      computed: {
        getComputedHeight() {
          let  width= document.getElementsByClassName('twitter-post')[0].offsetWidth
          return {
            height: this.activeAd.id === 1 || this.activeAd.id === 3 ? width + 'px' : this.activeAd.id === 2 ? ((2/3)* width) + 'px':'417px',
          };
          },
        },
        delimiters: ['{', '}'],
      });
      </script>
      <script>
          const glide = new Glide('.glide',{
            type: 'slider',
            perView: 4,
            focus: "center",
            rewind: false,
            bound: true,
            gap: 0,
            breakpoints: {
                  1200: {
                      perView: 4
                  },
                  1080: {
                      perView: 3
                  },
              1198: {
                perView: 3
              },
              768: {
                perView: 3
              },
                  700: {
                      perView: 3
                  },
              600: {
                perView: 2
              },
              576: {
                perView: 2
              },
              400: {
                perView: 1
              },
              }
          }).mount()
      </script>