<script>
    var uploadMixin = {
        data: {
              dpSrc:null,
              postSrc:[],
          },
        methods: {
            uploadImage(fileset,location, index){
            const files = Array.from(fileset)
            files.forEach(file => {
              let src = URL.createObjectURL(file)
              if(location === 'header'){
                this.dpSrc = src
              }else{
                if(index>=0){
                  let posts = [...this.postSrc]
                  posts[index] = src
                  this.postSrc =[...posts]
                }else{
                  this.postSrc.push(src)
                }
              }
            })
          },
          deletePost(post){
            this.postSrc = this.postSrc.filter(e => e !== post)
          },
          validation(e){
              console.log(e)
          },
        }
    }
</script>