{{- define "main" -}}
{{- with .Params.hero -}}
<section class="container mobile-adjusted" id="hero_cmp">
    <div style="display: flex;justify-content: center;">
        <div class="hero_cpm-header">
            <h1>{{- .title | markdownify -}}</h1>
            <h4>{{- .subtitle | markdownify -}}</h4>
        </div>
    </div>
</section>
{{- partial "site/br_calculator.html" . -}}
{{- end -}}
{{- partial "site/ugc-global.html" . -}}
{{- partial "site/related-tools.html" . -}}
{{- partial "site/faq-influencer.html" (dict "context" . "faq" .Site.Data.faq.bounce_rate_calculator "id" "faq-influencer" "header" true) -}}
{{- end -}}
