{{- define "main" -}}
{{- with .Params.hero -}}
<section class="container mobile-adjusted" id="hero_cmp">
    <div class="hero_cpm-header">
        <h1>{{- .title | markdownify -}}</h1>
        <h4>{{- .subtitle | markdownify -}}</h4>
    </div>
    <div class="calculator-toggle">
        <div class="calculator-type --active">
            Simple Mode
        </div>
        <div class="calculator-type">
            Advanced  <span class="question-circle --gray_bg">
                {{- partial "icons/question-mark.html" -}}
            </span>
        </div>
    </div>
</section>
<section class="container mobile-adjusted">
    {{- partial "site/cpm_calculator-input.html" . -}}
</section>
{{- end -}}
{{- partial "site/whatwedo.html" . -}}
{{- partial "site/faq-influencer.html" (dict "context" . "faq" .Site.Data.faq.home "id" "faq-influencer" "header" true) -}}
{{- end -}}