{{- define "main" -}}
{{- with .Params.hero -}}
<section class="container mobile-adjusted" id="hero">
    <div class="hero_cpm-header">
        <h1>{{- .title | markdownify -}}</h1>
        <h4>{{- .subtitle | markdownify -}}</h4>
    </div>
    <div class="calculator-toggle">
        <div class="calculator-type --active">
            Simple Mode
        </div>
        <div class="calculator-type">
            Advanced 
        </div>
    </div>
</section>
{{- end -}}
{{- partial "site/whatwedo.html" . -}}
{{- partial "site/faq-influencer.html" (dict "context" . "faq" .Site.Data.faq.home "id" "faq-influencer" "header" true) -}}
{{- end -}}