{{- define "main" -}}
{{- $endpointUrl := "http://localhost:4000/engagement-calculator" -}}
{{- if getenv "IS_PROD" -}}
{{- $endpointUrl = "https://graphql.inbeat.co/engagement-calculator" -}}
{{- end -}}
{{- $forInstagram := eq .Params.platform "instagram" -}}
{{- $username := "amoureuxdumonde"}}
{{- if not $forInstagram -}}
{{- $username = "jasminmccarthyy" -}}
{{- end -}}
{{- $maintenance := isset .Params "maintenance" -}}
<div id="engagement-rate">

    {{ $content := partial "site/engagementRateForm.html" .}}
    {{ partial "site/popup.html" (dict "context" . "id" "formPopup" "content" $content "canClose" false "class" "auto-wh"  ) }}
    <section class="container mobile-adjusted page-top" id="engagement-header">
        <h1>{{- .Params.titre -}}</h1>
        <p>{{- .Params.subtitle | markdownify -}}</p>
    </section>
    <section id="engagement-calculator" class="container mobile-adjusted">

        {{- if $maintenance -}}
            <p class="maintenance">Our calculator is down at the moment. Sorry about this! We are working to resolve this as fast as possible.</p>
        {{- else -}}
        <div id="engagement-form">
            {{- if $forInstagram -}}
            <input type="string" required v-model="username" placeholder="Enter Instagram @username" @keyup.enter="submit">
            {{- else -}}
            <input type="string" required v-model="username" placeholder="Enter TikTok @username" @keyup.enter="submit">
            {{- end -}}
            <button type="submit" @click="submit">
                <div class="lds-ring" v-if="loading"><div></div><div></div><div></div><div></div></div>
                <span v-else>Check Profile</span>
            </button>
        </div>

        {{- end -}}

        <div id="skeleton-loader" class="engagement-loader card row section"  v-if="loading">
            <div class="loading-bar--container">
                <div class="loading-bar">
                    <div> <p class="text">Fetching Profile</p></div>
                    <div class="bar"><span id="progress" class="progress-bar-fill"></span></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="loader-circle--medium loader-center"></div>
                <div class="col-md-6 loader-center"><div class="loader-bar"></div></div>
                <div class="col-md-8 loader-center"><div class="loader-bar"></div></div>
                <div class="col-md-8 loader-center"><div class="loader-bar"></div></div>
                <div class="col-md-12 loader-center"><div class="loader-square--tiny"></div></div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-4"><div class="loader-square--small"></div></div>
                    <div class="col-xs-4"><div class="loader-square--small"></div></div>
                    <div class="col-xs-4"><div class="loader-square--small"></div></div>
                    <div class="col-xs-6"><div class="loader-square--big"></div></div>
                    <div class="col-xs-6"><div class="loader-square--big"></div></div>
                    <div class="col-xs-12"><div class="loader-square--full"></div></div>
                </div>
            </div>
        </div>

        <transition name="slide-fade" mode="out-in">
            <p v-if="error" class="error">{ error }</p>
        <div id="engagement-result" class="card row section" v-else-if="!loading">

            <div class="col-xs-12 col-md-4 profile-info">
                <img :src="user.avatar" :alt="user.username" @click="openProfile"/>
                <p class="username" @click="openProfile">@{ user.username }</p>
                <span class="contact" style="text-decoration: underline">
                    Contact info { user.has_email ? '' : 'not' } available
                </span>
                <div class="stats row">
                    <div class="col-xs-4">
                        <p>{ formatFollowing(user.followers) }</p>
                        <span>Followers</span>
                    </div>
                    <div class="col-xs-4">
                        <p>{ formatFollowing(user.following) }</p>
                        <span>Following</span>
                    </div>
                    <div class="col-xs-4">
                        {{- if $forInstagram -}}
                        <p>{ user.nb_posts }</p>
                        <span>Posts</span>
                        {{- else -}}
                        <p>{ formatLikes(parseInt(user.total_likes || 0, 10)) }</p>
                        <span>Likes</span>
                        {{- end -}}
                    </div>
                </div>
                <a href="https://teaminbeat.typeform.com/to/sLHT8z3M" class="btn btn-lg btn-light calc-cta-btn" target="_blank" v-if="selectedUserType === 'Influencer'">
                   Sign-up as a <b>Creator</b>
                </a>
                <a href="https://app.inbeat.co/get-started" class="btn btn-lg btn-light" target="_blank" v-else>
                    Find Similar <b>Creators</b>
                 </a>
            </div>
            <div class="col-xs-12 col-md-8 posts-info">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 stats engagement">
                        <div class="card">
                            {{- partial "icons/engagement.html" -}}
                            <p>{ user.engagement.toFixed(2) }%</p>
                            <span>Engagement Rate</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 stats likes">
                        <div class="card">
                            {{- partial "icons/heart.html" -}}
                            <p>{ formatLikes(user.avg_likes) }</p>
                            <span>Avg. Likes</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 stats comments">
                        <div class="card">
                            {{- if $forInstagram -}}
                            {{- partial "icons/comment.html" -}}
                            <p>{ average_comments }</p>
                            <span>Avg. Comments</span>
                            {{- else -}}
                            {{- partial "icons/play.html" -}}
                            <p>{ formatLikes(user.avg_views) }</p>
                            <span>Avg. Views</span>
                            {{- end -}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 graph">
                        <div class="card">
                            <p>Likes per post</p>
                            <svg style="width:0; height:0; position:absolute;" aria-hidden="true" focusable="false">
                                <defs>
                                    <linearGradient id="graphFill" x1="1" x2="1" y1="0" y2="1">
                                        <stop offset="0%" stop-color="#E7AEC0"></stop>
                                        <stop offset="100%" stop-color="#FAECDB"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                            <trend-chart
                                v-if="datasetLikes.length"
                                :datasets="[{data: datasetLikes, fill: true, className: 'curve-inbeat', smooth: true}]"
                                :labels="labels"
                                :min="0"
                                :grid="grid" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 graph">
                        <div class="card">
                            <p>Comments per post</p>
                            <trend-chart
                                v-if="datasetComments.length"
                                :datasets="[{data: datasetComments, fill: true, className: 'curve-inbeat', smooth: true}]"
                                :labels="labels"
                                :min="0"
                                :grid="grid" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 posts">
                        <div class="card">
                            <p class="card-title">Recent posts</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-3" v-for="post in posts.slice(0, 8)" :key="post.url">
                                    <div class="post" @click="openPost(post.url)">
                                        <div class="img" :style="`background-image: url(${post.image})`">
                                            <div class="views" v-if="post.is_video">
                                                {{- partial "icons/play-empty.html" -}}{ formatLikes(post.video_views)}
                                            </div>
                                        </div>
                                        <p>
                                            <span>{{- partial "icons/heart.html" -}} { formatLikes(post.likes) }</span>
                                            <span>{{- partial "icons/comment.html" -}} { formatLikes(post.comments) }</span>
                                            <span>{{- partial "icons/engagement.html" -}} { post.engagement.toFixed(1) }%</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</section>
{{- partial "site/ugc-global.html" . -}}
</div>
{{- if $forInstagram -}}
{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.engagement.instagram "id" "home-faq" "title" "FAQ Regarding Our Engagement Rate Tool") -}}
{{- else -}}
{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.engagement.tiktok "id" "home-faq" "title" "FAQ Regarding Our TikTok Engagement Rate Tool") -}}
{{- end -}}

{{- if getenv "IS_PROD" -}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{- end -}}
<script src="https://unpkg.com/vue-trend-chart@0.15.1/dist/vue-trend-chart.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ getenv "GOOGLE_RECAPTCHA_KEY" }}"></script>
{{- partial "site/emailCaptureMixin.html" -}}
<script>
    var notCharRegex = /[^\w\d.-]/g;
    var app = new Vue({
        el: '#engagement-rate',
        mixins: [emailCaptureMixin],
        data() {
            return {
                username: '',
                user: null,
                posts: [],
                datasetLikes: [],
                datasetComments: [],
                average_comments : 0,
                labels: {
                    xLabels: [],
                    yLabels: 5,
                    yLabelsTextFormatter: val => this.formatLikes(val)
                },
                grid: {
                    verticalLines: true,
                    verticalLinesNumber: 1,
                    horizontalLines: true,
                    horizontalLinesNumber: 5
                },
                error: null,
                loading: false,
                quotaReached: false,
                initialSearch: true,
            };
        },
        created() {
            if ('{{ $maintenance | safeJS }}' === 'true') return;
            this.submit();
            this.initialSearch = false;
        },
        mounted() {

        },
        methods: {
            getAverageComments(){
                var sum = 0;
                for(var i = 0; i < this.posts.length; i++){
                    sum += this.posts[i].comments;
                }
                this.average_comments = Math.round(sum / this.posts.length);
            },
            async submit() {
                // this.openEmailCaptureForm(); // only for local testing
              if(this.loading == true) return;
                var username = this.initialSearch ? '{{ $username | safeJS }}' : this.username.replace(notCharRegex, '');
                if (this.quotaReached) {
                    this.error = 'You reached your quota for this hour. Try again later.';
                    return;
                }
                if (username == '') {
                    this.error = 'Please enter a username.';
                    return;
                }
                this.loading = true;
                var _this = this;
                window.grecaptcha.ready(() => {
                  document.getElementById("progress").style.width = Math.floor(Math.random() * (50 - 20 + 1)) + 20 + '%';
                    window.grecaptcha.execute('{{- getenv "GOOGLE_RECAPTCHA_KEY" -}}', {action: 'submit'}).then(function (token) {
                      var request = new XMLHttpRequest();
                      request.open('POST', '{{ $endpointUrl | safeJS }}', true);
                      request.setRequestHeader('Content-Type', 'application/json');
                      request.onload = function () {
                        if (!request.status || request.status !== 200) {
                          if (request.status === 429) {
                            _this.quotaReached = true;
                            _this.error = 'You reached your quota for this hour. Try again later.';
                            _this.loading = false;
                            return
                          }
                          var res = JSON.parse(request.response);
                          _this.error = res.error || 'An error occured. Try 3 times, if it doesn\'t work, Instagram might blocking this';
                          _this.loading = false;
                          return
                        }
                        document.getElementById("progress").style.width = 100 + "%";
                        var res = JSON.parse(request.response);
                        _this.user = res.user;
                        _this.posts = res.posts;
                        _this.labels.xLabels = res.posts.map((_, i) => i + 1);
                        _this.datasetLikes = res.posts.map(post => post.likes);
                        _this.datasetComments = res.posts.map(post => post.comments);
                        _this.error = null;
                        _this.getFirstData = true;
                        setTimeout(() => {
                            _this.loading = false;
                            _this.getAverageComments();
                        }, 500);
                      };
                      request.onerror = function () {
                        console.log(request.response);
                        _this.error = 'An error occured. Try 3 times, if it doesn\'t work, Instagram might blocking this';
                        _this.loading = false;
                      }
                      request.send(JSON.stringify({platform: '{{ .Params.platform | safeJS }}', username, token}));
                      _this.openEmailCaptureForm(request);
                    })
                })
            },
            formatFollowing(nb) {
                if (nb < 10000) {
                    return Math.ceil(nb);
                }
                if (nb < 1000000) {
                    var newNb = Math.ceil(nb / 100);
                    return `${newNb / 10}k`;
                }
                var newNb = Math.ceil(nb / 10000);
                return `${newNb / 100}M`;
                },
            formatLikes(nb) {
                if (nb < 1000) {
                    return Math.ceil(nb);
                }
                if (nb < 10000) {
                    var newNb = Math.ceil(nb / 10);
                    return `${newNb / 100}k`;
                }
                if (nb < 100000) {
                    var newNb = Math.ceil(nb / 100);
                    return `${newNb / 10}k`;
                }
                if (nb < 1000000) {
                    return `${Math.ceil(nb / 1000)}k`;
                }
                if (nb < 10000000) {
                    var newNb = Math.ceil(nb / 10000);
                    return `${newNb / 100}M`;
                }
                // if nb = 3 415 786 -> 3.42M
                var newNb = Math.ceil(nb / 100000);
                return `${newNb / 10}M`;
            },
            openPost(url) {
                var win = window.open(url, '_blank');
                win.focus();
            },
            openProfile() {
                if ('{{ .Params.platform | safeJS }}' === 'instagram') {
                    var win = window.open('https://www.instagram.com/' + this.user.username, '_blank');
                    win.focus();
                } else {
                    var win = window.open('https://www.tiktok.com/@' + this.user.username, '_blank');
                    win.focus();
                }
            },
        },
        // To make sure there's no conflict with Hugo templating
        delimiters: ['{', '}'],
    });
</script>
{{- end -}}
