{{- define "main" -}}
{{- $endpointUrl := "http://localhost:4000/engagement-calculator" -}}
{{- if getenv "IS_PROD" -}}
{{- $endpointUrl = "https://graphql.inbeat.co/engagement-calculator" -}}
{{- end -}}
{{- $forInstagram := eq .Params.platform "instagram" -}}
{{- $username := "amoureuxdumonde"}}
{{- if not $forInstagram -}}
{{- $username = "jasminmccarthyy" -}}
{{- end -}}
{{- $maintenance := isset .Params "maintenance" -}}
<div id="engagement-rate">

    {{- partial "site/formPopup.html" (dict "context" . "class" "popup-form" ) -}}
    <section class="container mobile-adjusted page-top" id="ffc-header">
        <h1>{{- .Params.titre -}}</h1>
        <p>{{- .Params.subtitle | markdownify -}}</p>
    </section>
    <section id="ffc-calculator" class="container mobile-adjusted">
       
        {{- if $maintenance -}}
            <p class="maintenance">Our calculator is down at the moment. Sorry about this! We are working to resolve this as fast as possible.</p>
        {{- else -}}
        <div id="ffc-form">
            {{- if $forInstagram -}}
            <input type="string" required v-model="username" placeholder="Enter Instagram @username" @keyup.enter="submit">
            {{- else -}}
            <input type="string" required v-model="username" placeholder="Enter TikTok @username" @keyup.enter="submit">
            {{- end -}}
            <button type="submit" @click="submit">
                <div class="lds-ring" v-if="loading"><div></div><div></div><div></div><div></div></div>
                <span v-else>Check Profile</span>
            </button>
        </div>

        {{- end -}}

        <div id="skeleton-loader" class="ffc-loader card row section"  v-if="loading">
            <div class="loading-bar--container">
                <div class="loading-bar">
                    <div> <p class="text">Fetching Profile</p></div>
                    <div class="bar"><span id="progress" class="progress-bar-fill"></span></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="loader-circle--medium loader-center"></div>
                <div class="col-md-6 loader-center"><div class="loader-bar"></div></div>
                <div class="col-md-8 loader-center"><div class="loader-bar"></div></div>
                <div class="col-md-8 loader-center"><div class="loader-bar"></div></div>
                <div class="col-md-12 loader-center"><div class="loader-square--tiny"></div></div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-4"><div class="loader-square--small"></div></div>
                    <div class="col-xs-4"><div class="loader-square--small"></div></div>
                    <div class="col-xs-4"><div class="loader-square--small"></div></div>
                    <div class="col-xs-6"><div class="loader-square--big"></div></div>
                    <div class="col-xs-6"><div class="loader-square--big"></div></div>
                    <div class="col-xs-12"><div class="loader-square--full"></div></div>
                </div>
            </div>
        </div>

        <transition name="slide-fade" mode="out-in">
            <p v-if="error" class="error">{ error }</p>
        <div id="ffc-result" class="card row section" v-else-if="!loading">

            <div class="col-xs-12 col-md-4 profile-info">
                <img :src="user.avatar" :alt="user.username" @click="openProfile"/>
                <p class="username" @click="openProfile">@{ user.username }</p>
                <span class="contact" style="text-decoration: underline">
                    Contact info { user.has_email ? '' : 'not' } available
                </span>
                <div class="stats row">
                    <div class="col-xs-4">
                        <p>{ formatFollowing(user.followers) }</p>
                        <span>Followers</span>
                    </div>
                    <div class="col-xs-4">
                        <p>{ formatFollowing(user.following) }</p>
                        <span>Following</span>
                    </div>
                    <div class="col-xs-4">
                        {{- if $forInstagram -}}
                        <p>{ user.nb_posts }</p>
                        <span>Posts</span>
                        {{- else -}}
                        <p>{ formatLikes(parseInt(user.total_likes || 0, 10)) }</p>
                        <span>Likes</span>
                        {{- end -}}
                    </div>
                </div>
                <a href="https://app.inbeat.co/get-started" class="btn btn-md btn-crazy" target="_blank">
                    Find similar influencers
                </a>
            </div>
            <div class="col-xs-12 col-md-8 posts-info">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 stats engagement">
                        <div class="card">
                            {{- partial "icons/engagement.html" -}}
                            <p>{ user.engagement.toFixed(2) }%</p>
                            <span>Engagement Rate</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 stats likes">
                        <div class="card">
                            {{- partial "icons/heart.html" -}}
                            <p>{ formatLikes(user.avg_likes) }</p>
                            <span>Avg. Likes</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 stats comments">
                        <div class="card">
                            {{- if $forInstagram -}}
                            {{- partial "icons/comment.html" -}}
                            <p>{ Math.round(user.comments_per_likes * 1000) }</p>
                            <span>Comments per 1000 Likes</span>
                            {{- else -}}
                            {{- partial "icons/play.html" -}}
                            <p>{ formatLikes(user.avg_views) }</p>
                            <span>Avg. Views</span>
                            {{- end -}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 graph">
                        <div class="card">
                            <p>Likes per post</p>
                            <svg style="width:0; height:0; position:absolute;" aria-hidden="true" focusable="false">
                                <defs>
                                    <linearGradient id="graphFill" x1="1" x2="1" y1="0" y2="1">
                                        <stop offset="0%" stop-color="#E7AEC0"></stop>
                                        <stop offset="100%" stop-color="#FAECDB"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                            <trend-chart
                                v-if="datasetLikes.length"
                                :datasets="[{data: datasetLikes, fill: true, className: 'curve-inbeat', smooth: true}]"
                                :labels="labels"
                                :min="0"
                                :grid="grid" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 graph">
                        <div class="card">
                            <p>Comments per post</p>
                            <trend-chart
                                v-if="datasetComments.length"
                                :datasets="[{data: datasetComments, fill: true, className: 'curve-inbeat', smooth: true}]"
                                :labels="labels"
                                :min="0"
                                :grid="grid" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 posts">
                        <div class="card">
                            <p class="card-title">Recent posts</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-3" v-for="post in posts.slice(0, 8)" :key="post.url">
                                    <div class="post" @click="openPost(post.url)">
                                        <div class="img" :style="`background-image: url(${post.image})`">
                                            <div class="views" v-if="post.is_video">
                                                {{- partial "icons/play-empty.html" -}}{ formatLikes(post.video_views)}
                                            </div>
                                        </div>
                                        <p>
                                            <span>{{- partial "icons/heart.html" -}} { formatLikes(post.likes) }</span>
                                            <span>{{- partial "icons/comment.html" -}} { formatLikes(post.comments) }</span>
                                            <span>{{- partial "icons/engagement.html" -}} { post.engagement.toFixed(1) }%</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</section>
<section class="container m-tb-160 mobile-adjusted" id="start-now">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col1">
            <h2>Find more influencers</h2>
            <h4>Search thousands of influencers with inBeat</h4>
            <a href="https://app.inbeat.co/get-started" title="Try it now" class="btn btn-crazy btn-md" target="_blank">
                <span>Try it now</span> &#8212 it's free
            </a>
            <p class="signin">
                Already in the family?
                <a href="https://app.inbeat.co" title="Sign in">Sign in</a>.
            </p>
        </div>
        <div class="col-xs-12 col-sm-offset-1 col-sm-7 hide-sm align-right">
            {{- partial "icons/engagement-img.html" -}}
        </div>
    </div>
</section>
</div>
{{- if $forInstagram -}}
{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.engagement.instagram "id" "home-faq" "title" "FAQ Regarding Our Engagement Rate Tool") -}}
{{- else -}}
{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.engagement.tiktok "id" "home-faq" "title" "FAQ Regarding Our TikTok Engagement Rate Tool") -}}
{{- end -}}

{{- if getenv "IS_PROD" -}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{- end -}}
<script src="https://unpkg.com/vue-trend-chart@0.15.1/dist/vue-trend-chart.js"></script>
<script>
    var notCharRegex = /[^\w\d.-]/g;
    var app = new Vue({
        el: '#engagement-rate',
        data() {
            return {
                username: '',
                user: null,
                posts: [],
                datasetLikes: [],
                datasetComments: [],
                getFirstData: false,
                labels: {
                    xLabels: [],
                    yLabels: 5,
                    yLabelsTextFormatter: val => this.formatLikes(val)
                },
                grid: {
                    verticalLines: true,
                    verticalLinesNumber: 1,
                    horizontalLines: true,
                    horizontalLinesNumber: 5
                },
                error: null,
                errorform: null,
                loading: false,
                loadingform: false,
                quotaReached: false,
                initialSearch: true,
            };
        },
        created() {
            if ('{{ $maintenance | safeJS }}' === 'true') return;
            this.submit();
            this.initialSearch = false;
        },
        mounted() {},
        methods: {
           handleEvent(e) {
                var progressBar = document.getElementById("progress")
                if (e.lengthComputable) {
                    var percent = Math.floor(Math.random() * (50 - 20 + 1)) + 20;
                    var ratio = Math.floor((e.loaded / e.total) * percent) + '%';
                    progressBar.style.width = ratio;
                    console.log('e.loadend', e.loadend);
                    if(e.type === "loadend" ){
                        setTimeout(() => {
                            progressBar.style.width = 100 + "%";
                            setTimeout(() => {
                                this.loading = false;
                            }, 1000);
                        }, 2000);
                    }
                }
            },
            validateEmail(email) {
               var re = /\S+@\S+\.\S+/;
               return re.test(email.value);
            },
            request(data, request, api){
                    return new Promise(function (resolve, reject) {
                        var xhr = new XMLHttpRequest();
                        xhr.open(request, api, true);
                        xhr.setRequestHeader('Content-Type', 'application/json');
                        xhr.onload = function () {
                            var status = xhr.status;
                            if (status == 200) {
                                resolve(xhr.response);
                            } else {
                                reject({
                                  status: this.status,
                                  statusText: xhr.statusText
                                });
                            }
                        };
                        xhr.onerror = function () {
                          reject({
                            status: this.status,
                            statusText: xhr.statusText
                          });
                        };
                        xhr.send(data);
                    });
            },
            getListID(tagName) {
                switch (tagName) {
                    case 'Influencer':
                        return '1'
                        break;
                    case 'Brand':
                        return '2'
                        break;
                    case 'Agency':
                        return '3'
                        break;
                    case 'E-commerce':
                        return '4'
                        break;
                    default:
                        return 0;
                }
            },
            clearFormPopup(formObject){
                setCookie('erc-submit', true, 60);
                togglePopup('formPopup');
                // reset value
                formObject[0].value = null;
                formObject[1].value = 'default';
                document.getElementById('banner').style.pointerEvents= 'all';
                this.errorform = null;
                this.loadingform = false;
            },
            getGroupId(type, continent, country){
              if(type == 'Influencer'){
                return 109535675
              }
              if(type == 'Brand' ||type == 'Agency' || type == 'E-commerce')
                if(continent == 'EU'){
                  return 107989498
                }
                if(continent == 'NA' && (country == 'US' || country == 'CA')){
                    return 107989498
                  }
                  else{
                    return 109535666 
                  }
            },
            async formSubmit() {
                this.loadingform = true;
                var error = this.errorform;
                var _this = this;
                var formElements = document.getElementById('form-popup').elements;
                // Reset error on element change
                formElements[1].addEventListener('change', function(e){
                    formElements[1].classList.remove('input-error')
                });
               if (!this.validateEmail(formElements[0])) {
                    formElements[0].classList.add('input-error')
                    this.loadingform = false;
                    return;
                } else {
                    formElements[0].classList.remove('input-error')
                }
                // Check dropdown field
                if (formElements[1].value === 'default') {
                    formElements[1].classList.add('input-error')
                    this.loadingform = false;
                    return;
                } else {
                    formElements[1].classList.remove('input-error')
                }
                //https://graphql.inbeat.co/ipdata
                await _this.request(null, 'GET', 'https://graphql.inbeat.co/ipdata').then(async (e) =>{
                    const json = JSON.parse(e);
                    const continent = json.continent_code;
                    const country = json.country_code;
                    const type = formElements[1].value
                    const email = formElements[0].value
                    const listId = _this.getListID(formElements[1].value)
                    let group = await _this.getGroupId(type, continent, country);
                    var data = JSON.stringify({
                      'url': `/api/v2/groups/${group}/subscribers`,
                      'email': email,
                      'fields': {
                        'category': type,
                        'country': json.country_name
                      }
                    });

                    // https://graphql.inbeat.co/mailer-lite
                    try{
                      await _this.request(data, 'POST', 'https://graphql.inbeat.co/mailer-lite')
                      _this.clearFormPopup(formElements);
                    }catch (error) {
                      console.error(error.statusText);
                      _this.errorform = 'There has been an error, please try again';
                      return;
                    }
                });
                this.loadingform = false;
            },
            getCookie(name){
                var nameEQ = name + '=';
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            },
            setCookie(name){
                var expires = '';
                if (days) {
                    var date = new Date();
                    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                    expires = '; expires=' + date.toUTCString();
                }
                document.cookie = name + '=' + (value || '') + expires + '; path=/';
            },
            async submit() {
                var username = this.initialSearch ? '{{ $username | safeJS }}' : this.username.replace(notCharRegex, '');
                if (this.quotaReached) {
                    this.error = 'You reached your quota for this hour. Try again later.';
                    return;
                }
                if (username == '') {
                    this.error = 'Please enter a username.';
                    return;
                }
                this.loading = true;
                var _this = this;
                var request = new XMLHttpRequest();
                request.open('POST', '{{ $endpointUrl | safeJS }}', true);
                request.setRequestHeader('Content-Type', 'application/json');
                request.addEventListener('progress', this.handleEvent);
                request.addEventListener('loadstart', this.handleEvent);
                request.addEventListener('loadend', this.handleEvent);
                request.onload = function() {
                    if (!request.status || request.status !== 200) {
                        if (request.status === 429) {
                            _this.quotaReached = true;
                            _this.error = 'You reached your quota for this hour. Try again later.';
                            _this.loading = false;
                            return
                        }
                        var res = JSON.parse(request.response);
                        _this.error = res.error || 'An error occured. Try 3 times, if it doesn\'t work, Instagram might blocking this';
                        _this.loading = false;
                        return
                    }
                    var res = JSON.parse(request.response);
                    _this.user = res.user;
                    _this.posts = res.posts;
                    _this.labels.xLabels = res.posts.map((_, i) => i+1);
                    _this.datasetLikes = res.posts.map(post => post.likes);
                    _this.datasetComments = res.posts.map(post => post.comments);
                    _this.error = null;
                    _this.getFirstData = true;
                };
                request.onerror = function() {
                    console.log(request.response);
                    _this.error = 'An error occured. Try 3 times, if it doesn\'t work, Instagram might blocking this';
                    _this.loading = false;
                }
                request.send(JSON.stringify({ platform: '{{ .Params.platform | safeJS }}', username: username }));
                if(!this.getCookie('erc-submit') && this.getFirstData === true){
                    document.getElementById('banner').style.pointerEvents= 'none';
                    request.addEventListener('loadend', (() =>{
                        setTimeout(function(){ this.togglePopup('formPopup'); }, 500);
                    }));
                }
            },
            formatFollowing(nb) {
                if (nb < 10000) {
                    return Math.ceil(nb);
                }
                if (nb < 1000000) {
                    var newNb = Math.ceil(nb / 100);
                    return `${newNb / 10}k`;
                }
                var newNb = Math.ceil(nb / 10000);
                return `${newNb / 100}M`;
                },
            formatLikes(nb) {
                if (nb < 1000) {
                    return Math.ceil(nb);
                }
                if (nb < 10000) {
                    var newNb = Math.ceil(nb / 10);
                    return `${newNb / 100}k`;
                }
                if (nb < 100000) {
                    var newNb = Math.ceil(nb / 100);
                    return `${newNb / 10}k`;
                }
                if (nb < 1000000) {
                    return `${Math.ceil(nb / 1000)}k`;
                }
                if (nb < 10000000) {
                    var newNb = Math.ceil(nb / 10000);
                    return `${newNb / 100}M`;
                }
                // if nb = 3 415 786 -> 3.42M
                var newNb = Math.ceil(nb / 100000);
                return `${newNb / 10}M`;
            },
            openPost(url) {
                var win = window.open(url, '_blank');
                win.focus();
            },
            openProfile() {
                if ('{{ .Params.platform | safeJS }}' === 'instagram') {
                    var win = window.open('https://www.instagram.com/' + this.user.username, '_blank');
                    win.focus();
                } else {
                    var win = window.open('https://www.tiktok.com/@' + this.user.username, '_blank');
                    win.focus();
                }
            },
        },
        // To make sure there's no conflict with Hugo templating
        delimiters: ['{', '}'],
    });
</script>
{{- end -}}