{{- define "main" -}}
{{- $endpointUrl := "http://localhost:4000/engagement-calculator" -}}
{{- if getenv "IS_PROD" -}}
{{- $endpointUrl = "https://graphql.inbeat.co/engagement-calculator" -}}
{{- end -}}
{{- $forInstagram := eq .Params.platform "instagram" -}}
{{- $username := "amoureuxdumonde"}}
{{- if not $forInstagram -}}
{{- $username = "watchaswewander" -}}
{{- end -}}
{{- $maintenance := isset .Params "maintenance" -}}
<div id="ffc-calculator__wrap">
    <section class="container mobile-adjusted page-top" id="ffc-header">
        <h1>{{- .Params.titre -}}</h1>
        <p>{{- .Params.subtitle | markdownify -}}</p>
    </section>
    {{ $content := partial "site/engagementRateForm.html" .}}
    {{ partial "site/popup.html" (dict "context" . "id" "formPopup" "content" $content "canClose" false "class" "auto-wh"  ) }}
    <section id="ffc-calculator" class="container mobile-adjusted">

        {{- if $maintenance -}}
            <p class="maintenance">Our calculator is down at the moment. Sorry about this! We are working to resolve this as fast as possible.</p>
        {{- else -}}
        <div id="ffc-form">
            {{- if $forInstagram -}}
            <input type="string" required v-model="username" placeholder="Enter Instagram @username" @keyup.enter="submit">
            {{- else -}}
            <input type="string" required v-model="username" placeholder="Enter TikTok @username" @keyup.enter="submit">
            {{- end -}}
            <button type="submit" @click="submit">
                <div class="lds-ring" v-if="loading"><div></div><div></div><div></div><div></div></div>
                <span v-else>Check Followers</span>
            </button>
        </div>

        {{- end -}}

        <div id="skeleton-loader" class="ffc-loader card row section "  v-if="loading">
            <div class="loading-bar--container">
                <div class="loading-bar">
                    <div> <p class="text">Fetching Profile</p></div>
                    <div class="bar"><span id="progress" class="progress-bar-fill"></span></div>
                </div>
            </div>
            <div class="col-md-6  col-xs-12 margin-top">
                <div class="loader-circle--medium loader-center"></div>
                <div class="col-xs-4 loader-center"><div class="loader-bar"></div></div>
                <div class="col-xs-3 loader-center"><div class="loader-bar"></div></div>
                <br><br>
                <div class="row">
                    <div class="col-xs-12"><div class="loader-square--medium"></div></div>
                    <div class="col-xs-12"><div class="loader-square--medium"></div></div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 margin-top">
                <div class="row">
                    <div class="col-xs-12"><div class="loader-square--big"></div></div>
                    <div class="col-xs-12"><div class="loader-square--big"></div></div>
                </div>
            </div>
            <div class="col-xs-12 m-tb-40">
                <div class="row">
                    <div class="col-xs-12"><div class="loader-square--medium"></div></div>
                </div>
            </div>
        </div>

        <transition name="slide-fade" mode="out-in">
            <p v-if="error" class="error">{ error }</p>
        <div id="ffc-result" class="card row section" v-else-if="!loading">

            <div class="col-xs-12 col-md-6 profile-info">
                <img :src="user.avatar" :alt="user.username" @click="openProfile"/>
                <p class="username" @click="openProfile">@{ user.username }</p>
                <span class="tag" :class=audienceScoreClass>
                   { audienceScoreTag }
                </span>
                <div class="audience-score row ">
                    <div class="gauge-wrapper card col-xs-12">
                        <div>
                            <p class="score">{ audienceScore.toFixed(1) }<br> <span>Audience Score</span></p>
                        </div>
                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                        <svg viewBox="-100 0 500 200"  fill="none" xmlns="http://www.w3.org/2000/svg" version="1.1">
                            <path id="gauge_back" stroke="#F0F0F0" stroke-width="11" stroke-linecap="round" d="M 275 159.99999999999997 A 125 125 0 0 0 25 160.00000000000003"/>
                            <path id="gauge" fill="none" :d=arcStyle stroke="url(#paint0_linear_2410_5725)" stroke-width="11" stroke-linecap="round" />
                            <g filter="url(#filter0_d_2410_5728)" >
                                <circle :cx=GaugeCircle.x :cy=GaugeCircle.y r="8.5" fill="white" id="circle"/>
                            </g>
                            <defs>
                                <linearGradient id="paint0_linear_2410_5725" x1="6" y1="123" x2="240" y2="123" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FFE9F0"/>
                                    <stop offset="0.510417" stop-color="#FAECDB"/>
                                    <stop offset="1" stop-color="#D6EBE4"/>
                                </linearGradient>
                                <filter id="filter0_d_2410_5728" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset dy="4"/>
                                    <feGaussianBlur stdDeviation="4.5"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2410_5728"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2410_5728" result="shape"/>
                                </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div class="stats row">
                    <div class="card col-xs-12 p-tb-60 m-tb-40">
                        <div class="row">
                            <div class="followers col-xs-12 col-sm-4 col-md-4">
                                {{- partial "icons/followers.html" -}}
                                <p>{ formatFollowing(user.followers) }</p>
                                <span>Followers</span>
                            </div>
                            <div class="engagement col-xs-12 col-sm-4 col-md-4">
                                {{- partial "icons/engagement.html" -}}
                                <p>{ user.engagement.toFixed(2) }%</p>
                                <span>Engagement Rate</span>
                            </div>
                            <div class="likes col-xs-12 col-sm-4 col-md-4">
                                {{- partial "icons/heart.html" -}}
                                <p>{ formatNb(user.avg_likes) }</p>
                                <span>Avg. Likes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 data-info">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card ratio-followers">
                            <div class="row">
                                <div class="col-lg-4 col-xs-12 real-followers">
                                    <p>{ formatNb(realFollowersValue)}</p><span>Real Followers ≈</span>
                                </div>
                                <div class="col-lg-8 col-xs-12">
                                    <p class="percent">{ realFollowersPercent }</p>
                                    <div class="data-progressbar">
                                        <span id="followers-data-progress" class="data-progressbar--fill" style="background-color:#E7CAA7" :style="{'width':realFollowersPercent}"></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4 col-xs-12 inactive-foll">
                                    <p>{inactiveFollowersValue}</p><span>Inactive Foll. ≈</span>
                                </div>
                                <div class="col-lg-8 col-xs-12">
                                    <p class="percent">{ inactiveFollowersPercent }</p>
                                    <div class="data-progressbar">
                                        <span id="inactive-data-progress" class="data-progressbar--fill" style="background-color:#000000" :style="{'width':inactiveFollowersPercent}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 average-subtitle "><h5>Average VS Target</h5></div>
                    <div class="col-xs-12">
                        <div class="card ratio-average">
                            <div class="row">
                                <div class="col-lg-4 col-xs-12 average-likes">
                                    <p>{ formatNb(user.avg_likes) }</p><span>Average likes</span>
                                </div>
                                <div class="col-lg-8 col-xs-12">
                                    <p class="percent">Target: { formatNb(likesTarget) }</p>
                                    <div class="data-progressbar">
                                        <span id="likesTarget-data-progress" class="data-progressbar--fill" style="background-color:#E7AEC0" :style="{'width':likesTargetPercent }"></span>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-4 col-xs-12 average-comments">
                                    <p>{ (user.comments_per_likes * 100).toFixed(1) }%</p><span>Comments/Likes</span>
                                </div>
                                <div class="col-lg-8 col-xs-12">
                                    <p class="percent">Target: { commentsLikesTarget.toFixed(0) }%</p>
                                    <div class="data-progressbar">
                                        <span id="followersTarget-data-progress" class="data-progressbar--fill" style="background-color:#95BEB0" :style="{'width':commentsLikesTargetPercent}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 posts-info">
                <div class="row">
                    <div class="col-xs-12 col-md-12 posts">
                        <div class="card">
                            <p class="card-title">Latest Audience Engagement</p>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-2" v-for="post in posts.slice(0, 6)" :key="post.url">
                                    <div class="post" @click="openPost(post.url)">
                                        <div class="img" :style="`background-image: url(${post.image})`">
                                            <div class="views" v-if="post.is_video">
                                                {{- partial "icons/play-empty.html" -}}{ formatLikes(post.video_views)}
                                            </div>
                                        </div>
                                        <p>
                                            <span>{{- partial "icons/heart.html" -}} { formatLikes(post.likes) }</span>
                                            <span>{{- partial "icons/comment.html" -}} { formatLikes(post.comments) }</span>
                                            <span>{{- partial "icons/engagement.html" -}} { post.engagement.toFixed(1) }%</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <p class="subtext col-md-6">We use the avg. likes & comments then compare them to industry standards by following size. This calculator does not analyse followers, so the audience score is an estimation.</p>
            </div>
        </div>

        </transition>
    </section>
</div>
{{- partial "site/ugc-global.html" . -}}


{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.fake_follower_checker "id" "home-faq" "title" "FAQ Regarding Our Engagement Rate Tool") -}}


{{- if getenv "IS_PROD" -}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{- end -}}
<script src="https://unpkg.com/vue-trend-chart@0.15.1/dist/vue-trend-chart.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render={{ getenv "GOOGLE_RECAPTCHA_KEY" }}"></script>
{{- partial "site/emailCaptureMixin.html" -}}
<script>
    var notCharRegex = /[^\w\d.-]/g;
    var app = new Vue({
        el: '#ffc-calculator__wrap',
        mixins: [emailCaptureMixin],
        data() {
            return {
                username: '',
                user: null,
                posts: [],
                datasetLikes: [],
                datasetComments: [],
                audienceScore: 0,
                audienceScoreTag: '',
                audienceScoreClass: '',
                arcStyle : 0,
                likesTarget: 0,
                likesTargetPercent: 0,
                commentsLikesTarget: 0,
                commentsLikesTargetPercent: 0,
                GaugeCircle: {
                    x: 0,
                    y: 0
                },
                scoreArc : 0,
                realFollowersValue: 0,
                realFollowersPercent: 0,
                inactiveFollowersValue: 0,
                inactiveFollowersPercent: 0,
                labels: {
                    xLabels: [],
                    yLabels: 5,
                    yLabelsTextFormatter: val => this.formatLikes(val)
                },
                grid: {
                    verticalLines: true,
                    verticalLinesNumber: 1,
                    horizontalLines: true,
                    horizontalLinesNumber: 5
                },
                error: null,
                loading: false,
                quotaReached: false,
                initialSearch: true,
            };
        },
        created() {
            if ('{{ $maintenance | safeJS }}' === 'true') return;
            this.submit();
            this.initialSearch = false;
        },
        mounted() {},
        methods: {
            polarToCartesian(centerX, centerY, radius, angleInDegrees) {
              var angleInRadians = (angleInDegrees+180) * Math.PI / 180.0;

              return {
                x: centerX + (radius * Math.cos(angleInRadians)),
                y: centerY + (radius * Math.sin(angleInRadians))
              };
            },
            describeArc(x, y, radius, startAngle, endAngle){

                var start = this.polarToCartesian(x, y, radius, endAngle);
                var end = this.polarToCartesian(x, y, radius, startAngle);

                var largeArcFlag = endAngle - startAngle <= 180 ? '0' : '1';

                var d = [
                    'M', start.x, start.y,
                    'A', radius, radius, 0, largeArcFlag, 0, end.x, end.y
                ].join(' ');
                this.arcStyle = d
                this.GaugeCircle.x = start.x
                this.GaugeCircle.y = start.y
                return d;
            },
            setTargetMetric(target){
                const percent = (value, target) => (value * 100) / target;
                var type = this.userType(this.user.followers);
                this.likesTarget = type.likes_follower * this.user.followers;
                this.likesTargetPercent = this.clamp( percent(this.user.avg_likes, this.likesTarget), 0 ,100) + '%'
                this.commentsLikesTarget = type.comments_likes*100;
                this.commentsLikesTargetPercent = this.clamp((this.user.comments_per_likes/type.comments_likes)*100, 0 ,100) + '%'
            },
            setFinalMetric(){
                var nbRealFollower = (this.userScore().score / 100) * this.user.followers;
                var percentRealFollower = this.userScore().score;
                this.realFollowersValue = nbRealFollower;
                this.realFollowersPercent = percentRealFollower.toFixed(0) + '%';

                var nbInactiveFollower = this.user.followers -  nbRealFollower;
                this.inactiveFollowersValue =  this.formatNb(Math.abs(nbInactiveFollower));
                this.inactiveFollowersPercent = (100 - this.userScore().score).toFixed(0) +'%';
            },
            userScore(){
                var l = (this.user.avg_likes * 100) / this.likesTarget;
                var c = (this.user.comments_per_likes * 100) / this.userType(this.user.followers).comments_likes;
                var score = this.clamp((l + c) / 2, 0 ,100);
                let tag, tagClass;
                if(score > 0 && score < 10){tag =  'Score - Very Poor'; tagClass = 'tag--verypoor';}
                if(score > 10 && score < 20){tag =  'Score - Poor'; tagClass = 'tag--poor';}
                if(score > 20 && score < 30){tag =  'Score - Mediocre'; tagClass = 'tag--mediocre';}
                if(score > 30 && score < 40){tag =  'Score - Ok'; tagClass = 'tag--ok';}
                if(score > 40 && score < 50){tag =  'Score - Fair'; tagClass = 'tag--fair';}
                if(score > 50 && score < 60){tag =  'Score - Good'; tagClass = 'tag--good';}
                if(score > 70 && score < 80){tag =  'Score - Excellent'; tagClass = 'tag--excellent';}
                if(score > 80 && score < 90){tag =  'Score - Amazing'; tagClass = 'tag--amazing';}
                if(score > 90){tag =  'Score - Exceptional'; tagClass = 'tag--exceptional';}

                return {
                    'score': score,
                    'tag': tag,
                    'tagClass': tagClass
                };
            },
            clamp(num, min, max){
                return Math.min(Math.max(num, min), max);
            },
            remap(x, inMin, inMax, outMin, outMax){
                return (x - inMin) * (outMax - outMin) / (inMax - inMin) + outMin;
            },
            userType(nbFollowers){
                    if(nbFollowers < 1000)
                        return {'likes_follower': 0.1, 'comments_likes': 0.1, 'type': 'small-creator'};
                    if(nbFollowers > 1000 && nbFollowers < 10000)
                        return {'likes_follower': 0.1, 'comments_likes': 0.1, 'type': 'nano-influencer'};
                    if(nbFollowers >= 10000 && nbFollowers < 50000)
                        return {'likes_follower': 0.08, 'comments_likes': 0.06, 'type': 'micro-influencer'};
                    if(nbFollowers >= 50000 && nbFollowers < 300000)
                        return {'likes_follower': 0.06, 'comments_likes': 0.04, 'type': 'midtier-influencer'};
                    if(nbFollowers >= 300000 && nbFollowers < 1000000)
                        return {'likes_follower': 0.04, 'comments_likes': 0.02, 'type': 'macro-influencer'};
                    if(nbFollowers >= 1000000)
                        return {'likes_follower': 0.035, 'comments_likes': 0.01, 'type': 'mega-influencer'};
            },
            async submit() {
                // this.openEmailCaptureForm(); // only for local testing.
                var username = this.initialSearch ? '{{ $username | safeJS }}' : this.username.replace(notCharRegex, '');
                if (this.quotaReached) {
                    this.error = 'You reached your quota for this hour. Try again later.';
                    return;
                }
                if (username == '') {
                    this.error = 'Please enter a username.';
                    return;
                }
                this.loading = true;
                var _this = this;
              window.grecaptcha.ready(() => {
                document.getElementById("progress").style.width = Math.floor(Math.random() * (50 - 20 + 1)) + 20 + '%';
                window.grecaptcha.execute('{{- getenv "GOOGLE_RECAPTCHA_KEY" -}}', {action: 'submit'}).then(function (token) {
                  var request = new XMLHttpRequest();
                  request.open('POST', '{{ $endpointUrl | safeJS }}', true);
                  request.setRequestHeader('Content-Type', 'application/json');
                  request.onload = function () {
                    if (!request.status || request.status !== 200) {
                      if (request.status === 429) {
                        _this.quotaReached = true;
                        _this.error = 'You reached your quota for this hour. Try again later.';
                        _this.loading = false;
                        return
                      }
                      var res = JSON.parse(request.response);
                      _this.error = res.error || 'An error occured. Try 3 times, if it doesn\'t work, Instagram might blocking this';
                      _this.loading = false;
                      return
                    }
                    document.getElementById("progress").style.width = 100 + "%";
                    var res = JSON.parse(request.response);
                    _this.user = res.user;
                    if(Math.abs(_this.user.comments_per_likes) > 1){
                        _this.user.comments_per_likes = Math.abs(_this.user.comments_per_likes) / 100;
                    }
                    _this.user.comments_per_likes = _this.clamp(_this.user.comments_per_likes, 0, 1);
                    _this.posts = res.posts;
                    _this.labels.xLabels = res.posts.map((_, i) => i + 1);
                    _this.datasetLikes = res.posts.map(post => post.likes);
                    _this.datasetComments = res.posts.map(post => post.comments);
                    _this.error = null;
                    _this.getFirstData = true;
                      setTimeout(() => {
                        _this.loading = false;
                        _this.setTargetMetric();
                        _this.setFinalMetric();
                        _this.audienceScore = _this.clamp(_this.userScore().score / 10, 0, 10);
                        _this.audienceScoreTag = _this.userScore().tag
                        _this.audienceScoreClass = _this.userScore().tagClass
                        _this.arcStyle = _this.describeArc(150, 160, 125, 0, _this.remap(_this.audienceScore * 10, 0, 100, 0, 180));
                      }, 500);
                  };
                  request.onerror = function () {
                    console.log(request.response);
                    _this.error = 'An error occured. Try 3 times, if it doesn\'t work, Instagram might blocking this';
                    _this.loading = false;
                  }
                  request.send(JSON.stringify({platform: '{{ .Params.platform | safeJS }}', username, token}));
                  _this.openEmailCaptureForm(request);
                })
              })
            },
            formatFollowing(nb) {
                if (nb < 10000) {
                    return Math.ceil(nb);
                }
                if (nb < 1000000) {
                    var newNb = Math.ceil(nb / 100);
                    return `${newNb / 10}k`;
                }
                var newNb = Math.ceil(nb / 10000);
                return `${newNb / 100}M`;
                },
            formatLikes(nb) {
                if (nb < 1000) {
                    return Math.ceil(nb);
                }
                if (nb < 10000) {
                    var newNb = Math.ceil(nb / 10);
                    return `${newNb / 100}k`;
                }
                if (nb < 100000) {
                    var newNb = Math.ceil(nb / 100);
                    return `${newNb / 10}k`;
                }
                if (nb < 1000000) {
                    return `${Math.ceil(nb / 1000)}k`;
                }
                if (nb < 10000000) {
                    var newNb = Math.ceil(nb / 10000);
                    return `${newNb / 100}M`;
                }
                // if nb = 3 415 786 -> 3.42M
                var newNb = Math.ceil(nb / 100000);
                return `${newNb / 10}M`;
            },
            formatNb(nb) {
                if (nb < 1000) {
                    return Math.ceil(nb);
                }
                if (nb < 10000) {
                    var newNb = Math.ceil(nb / 10);
                    return `${newNb / 100}k`;
                }
                if (nb < 100000) {
                    var newNb = Math.ceil(nb / 100);
                    return `${newNb / 10}k`;
                }
                if (nb < 1000000) {
                    return `${Math.ceil(nb / 1000)}k`;
                }
                if (nb < 10000000) {
                    var newNb = Math.ceil(nb / 10000);
                    return `${newNb / 100}M`;
                }
                // if nb = 3 415 786 -> 3.42M
                var newNb = Math.ceil(nb / 100000);
                return `${newNb / 10}M`;
            },
            openPost(url) {
                var win = window.open(url, '_blank');
                win.focus();
            },
            openProfile() {
                if ('{{ .Params.platform | safeJS }}' === 'instagram') {
                    var win = window.open('https://www.instagram.com/' + this.user.username, '_blank');
                    win.focus();
                } else {
                    var win = window.open('https://www.tiktok.com/@' + this.user.username, '_blank');
                    win.focus();
                }
            },
        },
        // To make sure there's no conflict with Hugo templating
        delimiters: ['{', '}'],
    });
</script>
{{- end -}}
