{{- define "main" -}}
<div id="freetoolkit" class="mt-120">
    <section class="container mobile-adjusted page-top " id="freetoolkit-header">
        <h1>{{- .Params.titre -}}</h1>
        <p>{{- .Params.subtitle | markdownify -}}</p>
    </section>
    <section class="toolkits container">
        <div class="row">
            {{- range .Params.toolkits -}}

                    <div class="toolkit col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="{{ $.Site.BaseURL }}{{ .url }}">
                        <div class="inner">
                            <div class="icon">{{- partial (printf "icons/%s.html" .icon) -}}</div>
                            <div class="content">
                                <h4>{{ .title }}</h4>
                                <p> {{ .text }}</p>
                            </div>
                        </div>
                    </a>
                    </div>

            {{- end -}}
        </div>
    </section>
</div>

{{- partial "site/testimonial.html" . -}}

<!-- <section class="container-fluid p-tb-80 mobile-adjusted no-border" id="cta-home">
    <div class="row m-tb-160">
        <div class="col-xs-12 col-md-12 align-center">
            <h2>Try inBeat</h2>
            <h4>inBeat is a search engine that <br> makes discovering influencers easy</h4>
            <div class="cta-button">
                <a href="https://app.inbeat.co/get-started" title="Try it now" class="btn btn-crazy-hover btn-lg" target="_blank">
                    <span><strong>Try it now</strong> </span> &#8212 it's free
                </a>
            </div>
        </div>
    </div>
</section> -->
{{- end -}}
