{{- define "main" -}}
<div id="freetoolkit" class="mt-120">
    <section class="container mobile-adjusted page-top " id="freetoolkit-header">
        <h1>{{- .Params.titre -}}</h1>
        <p>{{- .Params.subtitle | markdownify -}}</p>
    </section>
    <section class="toolkits container">
        <div class="row">
            {{- range .Params.toolkits -}}

                    <div class="toolkit col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <a href="{{ $.Site.BaseURL }}{{ .url }}">
                        <div class="inner">
                            <div class="icon">{{- partial (printf "icons/%s.html" .icon) -}}</div>
                            <div class="content">
                                <h4>{{ .title }}</h4>
                                <p> {{ .text }}</p>
                            </div>
                        </div>
                    </a>
                    </div>

            {{- end -}}
        </div>
    </section>
</div>

{{- partial "site/ugc-global.html" . -}}
{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.home "id" "home-faq") -}}
{{- end -}}
