{{- define "main" -}}
{{- with .Params.hero -}}
<section class="container-fluid mobile-adjusted" id="hero-influencer" style="background-color: #EDF9EB;">
    <div class="container">
        <h1 class="hero-title">{{- .title | markdownify -}}</h1>
        <h4 class="hero-sub_title">{{- .subtitle | markdownify -}}</h4>
        <div class="cta">
            <a href="{{- .cta.link -}}" class="btn btn-lg hero-btn" title="Book a demo" id="hero-cta">
                {{- htmlUnescape .cta.text | markdownify -}}
            </a>
        </div>
    </div>
</section>
{{- end -}}
{{- partial "site/switchers.html" . -}}
{{- partial "site/testimonial-with-cards.html" . -}}
{{- partial "site/clients.html" . -}}
<div class="m-tb-145">
    {{- partial "site/features.html" . -}}
</div>

{{- partial "site/whatwedo-v2.html" . -}}

{{- with .Params.startnow -}}
<section class="container m-tb-160 mobile-adjusted" id="start-now">
    <div class="row large-gutter">
        <div class="col-xs-12 col-md-4 col1">
            <h2>{{- .title -}}</h2>
            <h4>{{- .description -}}</h4>
            <a href="https://app.inbeat.co/get-started" title="Try it now" class="btn btn-crazy btn-md" target="_blank">
                <span>Try it now</span> &#8212 it's free
            </a>
            <p class="signin">
                Already in the family?
                <a href="https://app.inbeat.co" title="Sign in">Sign in</a>.
            </p>
        </div>
        <div class="col-xs-12 col-md-8 hide-md">
            <div class="icon-ctn"></div>
        </div>
    </div>
</section>
{{- end -}}

{{- partial "site/faq-influencer.html" (dict "context" . "faq" .Site.Data.faq.home "id" "faq-influencer" "header" true) -}}

{{- end -}}
