{{- define "main" -}}
{{- with .Params.hero -}}
<section class="container mobile-adjusted" id="mockup-hero">
    <div class="hero_mockup-header">
        <h1>{{- .title | markdownify -}}</h1>
        <h4>{{- .subtitle | markdownify -}}</h4>
        {{- partial "site/ad-mockup-generator/navigation.html" . -}}
    </div>
</section>
{{- partial "site/ad-mockup-generator/instagram.html" . -}}
{{- end -}}
{{- partial "site/whatwedo.html" . -}}
{{- partial "site/faq-influencer.html" (dict "context" . "faq" .Site.Data.faq.instagram__mockup "id" "faq-influencer" "header" true) -}}
{{- end -}}