{{- define "main" -}}
{{- with .Params.hero -}}
{{ partial "site/showcase-popup.html" }}
<section class="container mobile-adjusted mip" id="hero">
  <h1>{{- .title | markdownify -}}</h1>
  <h4>{{- .subtitle | markdownify -}}</h4>
  <div class="cta">
    <a href="https://app.inbeat.co/get-started" class="btn btn-lg btn-crazy-hover" title="Start Your Campaign Now" id="hero-cta">
      Start Your Campaign Now
    </a>
  </div>
</section>
{{- end -}}

<section class="container mobile-adjusted mip" id="brands">
  {{- range .Params.brands -}}
  <img src="{{- .img -}}" alt="{{- .title -}}">
  {{- end -}}
</section>

<section class="container mobile-adjusted mip" id="advantages1">
  {{- range $i,$v := .Params.advantages1 -}}
  <div class="row middle-xs">
    {{if not (modBool $i 2)}}
      <div class="col-xs-12 col-md-6 img">
        <img src="{{- .img -}}" alt="">
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <h2>{{- .title -}}</h2>
        <p>{{- .text -}}</p>
        <a href="{{- $.Site.Data.settings.bookcall -}}" class="btn btn-lg" title="Schedule a call">
          Schedule a call
        </a>
      </div>
    {{else}}
      <div class="col-xs-12 col-md-5">
        <h2>{{- .title -}}</h2>
        <p>{{- .text -}}</p>
        <a href="{{- $.Site.Data.settings.bookcall -}}" class="btn btn-lg" title="Schedule a call">
          Schedule a call
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-md-offset-1 img">
        <img src="{{- $v.img -}}" alt="">
      </div>
    {{end}}
  </div>
  {{- end -}}
</section>

<section class="mobile-adjusted mip" id="extras">
  <div class="container row large-gutter">
    {{- range .Params.extras -}}
    <div class="col-xs-12 col-lg-4">
      {{- partial (printf "icons/%s.html" .icon) -}}
      <h3>{{- .title -}}</h3>
      <p>{{- .text -}}</p>
    </div>
    {{- end -}}
  </div>
</section>

<section class="container mobile-adjusted mip" id="advantages2">
  <div class="row large-gutter">
    {{- range $i,$v := .Params.advantages2 -}}
    <div class="col-xs-12 col-lg-4">
      <div class="col col-{{- $i -}}">
        <h3>{{- .title -}}</h3>
        <p>{{- .text -}}</p>
      </div>
    </div>
    {{- end -}}
  </div>
</section>

<section class="mobile-adjusted m-tb-160 mip" id="features">
  <div class="row container">
    <div class="col-xs-12">
      <h4>Micro-influencer marketing platform features →</h4>
    </div>
    {{- range .Params.features -}}
    <div class="col-xs-12 col-sm-6 col-md-3">
      <p class="title">{{- .title -}}</p>
      <p class="small">{{- .description -}}</p>
    </div>
    {{- end -}}
  </div>
</section>

<h2 class="container">Case Studies</h2>
{{- range .Params.studies -}}
<section class="container m-tb-80 mip study" id="{{- .id -}}">
  <div class="row middle-xs">
    <div class="col-xs-12 col-md-4 left-col">
      <h2>{{- .title -}}</h2>
      <p>{{- .text | markdownify -}}</p>
      {{- with .testimonial -}}
      <div class="testimonial">
        <p>{{- .text -}}</p>
        <p class="author">
          <img src="{{- .img -}}" alt="{{- .author -}}">
          <strong>{{- .author -}}</strong><br>
          <span>{{- .title -}}</span>
        </p>
      </div>
      {{- end -}}
    </div>
    <div class="col-xs-12 col-md-7 col-md-offset-1">
      <img src="{{- .img -}}" alt="">
      <div class="nums">
        {{- range .nums -}}
        <div class="num">
          <p class="title">{{- .num -}}</p>
          <p class="description">{{- .text -}}</p>
        </div>
        {{- end -}}
      </div>
    </div>
  </div>
</section>
{{- end -}}

{{- with .Params.gotmilk -}}
<section class="container m-tb-80 mip study" id="gotmilk">
  <div class="row middle-xs">
    <div class="col-xs-12 col-md-4 left-col">
      <h2>{{- .title | markdownify -}}</h2>
      <p>{{- .text | markdownify -}}</p>
    </div>
    <div class="col-xs-12 col-md-7 col-md-offset-1">
      <iframe title="vimeo-player" src="{{- .video -}}"
              width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>
{{- end -}}

{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.micro_influencers_platform.faq1 "id" "home-faq" "title" "Fairly asked questions") -}}

<section class="mip cta">
  <h2>Get Started</h2>
  <p>Dive into your influencer campaign<br>today, with inBeat.</p>
  <a href="/book-a-demo" class="btn btn-lg" title="Book a demo">
    Book a demo
  </a>
</section>

{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.micro_influencers_platform.faq2 "id" "home-faq" "title" "Fairly asked questions") -}}


{{- end -}}
