{{- define "main" -}}
{{- with .Params.teasertrial -}}
<!-- <section id="teaser-trial">
    <div class="container mobile-adjusted">
        <div class="row middle-xs">
            <div class="col-xs-12 col-md-4">
                <h2>{{- .title -}}</h2>
                <p class="description">{{- .description -}}</p>
                <a href="{{- .cta.link -}}" class="btn btn-lg" title="Try it now">
                    {{- htmlUnescape .cta.text | markdownify -}}
                </a>
            </div>
            <div class="col-xs-12 col-md-offset-2 col-md-6">
                <div class="row">
                    <div class="col-xs-6">
                        {{- range first 3 .features -}}
                        <p class="features">
                            {{- if .has -}}
                            {{- partial "icons/check.html" -}}
                            {{- else -}}
                            {{- partial "icons/close.html" -}}
                            {{- end -}}
                            {{- .text | markdownify -}}
                        </p>
                        {{- end -}}
                    </div>
                    <div class="col-xs-6">
                        {{- range last 3 .features -}}
                        <p class="features">
                            {{- if .has -}}
                            {{- partial "icons/check.html" -}}
                            {{- else -}}
                            {{- partial "icons/close.html" -}}
                            {{- end -}}
                            {{- .text | markdownify -}}
                        </p>
                        {{- end -}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
{{- end -}}
{{- partial "site/pricing-toggle-section.html" . -}}
{{- partial "site/pricing-database-section.html" . -}}
{{- partial "site/pricing-creator-studio-section.html" . -}}

{{- partial "site/testimonial.html" . -}}
<!-- {{- partial "site/testimonial-with-cards.html" . -}} -->
<!-- {{- partial "site/clients-creator-studio.html" . -}} -->

<section class="container mobile-adjusted m-tb-160" id="included">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="aside-content">
                <h3>All paid plans <br> include →</h3>
                <div class="btn-section">
                    <a class='btn btn-lg btn-crazy' href="https://app.inbeat.co/get-started" target="_blank">Try it for free</a>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            {{- range first 2 .Params.included -}}
            <p class="title">{{- .title -}}</p>
            <p class="small">{{- .description -}}</p>
            {{- end -}}
        </div>
        <div class="col-xs-6 col-md-4">
            {{- range last 2 .Params.included -}}
            <p class="title">{{- .title -}}</p>
            <p class="small">{{- .description -}}</p>
            {{- end -}}
        </div>
    </div>
</section>

{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.pricing "id" "pricing-faq") -}}
{{ $content :=  `<div class="content-video">
    <iframe src="https://player.vimeo.com/video/641548333?h=057cffcccb&color=ffe9f0&title=0&byline=0&portrait=0" height="560" style="width:100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="btn-cta">
    <a href="https://calendly.com/inbeat-co/creator-studio-demo" target="_blank">
        <button class="btn"><span>Book a Demo</span></button>
    </a>
</div>` }}
{{ partial "site/popup.html" (dict "context" . "id" "creatorStudioVideoPopup" "content" $content "canClose" true  ) }}  
{{- end -}}
