@font-face {
font-family: 'Fira Sans';
src: url('../fonts/Fira_Sans/FiraSansLight.eot');
src: url('../fonts/Fira_Sans/FiraSansLight.eot?#iefix') format('embedded-opentype'),
url('../fonts/Fira_Sans/FiraSansLight.woff') format('woff'),
url('../fonts/Fira_Sans/FiraSansLight.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'Fira Sans';
src: url('../fonts/Fira_Sans/FiraSans.eot');
src: url('../fonts/Fira_Sans/FiraSans.eot?#iefix') format('embedded-opentype'),
url('../fonts/Fira_Sans/FiraSans.woff') format('woff'),
url('../fonts/Fira_Sans/FiraSans.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Fira Sans';
src: url('../fonts/Fira_Sans/FiraSansMedium.eot');
src: url('../fonts/Fira_Sans/FiraSansMedium.eot?#iefix') format('embedded-opentype'),
url('../fonts/Fira_Sans/FiraSansMedium.woff') format('woff'),
url('../fonts/Fira_Sans/FiraSansMedium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'Fira Sans';
src: url('../fonts/Fira_Sans/FiraSans-Bold.eot');
src: url('../fonts/Fira_Sans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Fira_Sans/FiraSans-Bold.woff') format('woff'),
url('../fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: 'Nunito Sans';
src: url('../fonts/Nunito_Sans/NunitoSans-Light.eot');
src: url('../fonts/Nunito_Sans/NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/Nunito_Sans/NunitoSans-Light.woff') format('woff'),
url('../fonts/Nunito_Sans/NunitoSans-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'Nunito Sans';
src: url('../fonts/Nunito_Sans/NunitoSans-Regular.eot');
src: url('../fonts/Nunito_Sans/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Nunito_Sans/NunitoSans-Regular.woff') format('woff'),
url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Nunito Sans';
src: url('../fonts/Nunito_Sans/NunitoSans-SemiBold.eot');
src: url('../fonts/Nunito_Sans/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Nunito_Sans/NunitoSans-SemiBold.woff') format('woff'),
url('../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf') format('truetype');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'Source Code Pro';
src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.eot');
src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/Source_Sans_Pro/SourceSansPro-Light.woff') format('woff'),
url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'Source Code Pro';
src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.eot');
src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.woff') format('woff'),
url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Source Code Pro';
src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.eot');
src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.woff') format('woff'),
url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-color: #E4E4E4;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-style: normal;
}
h1 {
    font-size: 56px;
    line-height: 1.21;
    letter-spacing: -1.5px;
    color: #120021;
    margin-top: 0;
    margin-bottom: 21px;
}
h2 {
    font-size: 52px;
    line-height: 1.19;
    letter-spacing: -1.1px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #120021;
    font-weight: 500;
}
h3 {
	font-size: 20px;
	line-height: 1;
	letter-spacing: 2.5px;
	color: #120021;
	margin-top: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-weight: 400;
}
h4 {
    font-size: 16px;
	line-height: 1;
	letter-spacing: 2.5px;
	color: #120021;
	margin-top: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-weight: 400;
}
a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none !important;
}
a:hover {
    text-decoration: none;
	color: rgba(255,255,255,0.3);
}
.section-subtitle {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    color: #f5f4ff;
}
#wrapper {
    position: relative; 
    min-height:100%;
    height:auto !important;
    height:100%;
}
#header {
    background-color: #E4E4E4;
    padding-top: 50px;
    padding-bottom: 70px;
}
.nav-brand {
    display: block;
}
.logo-title {
    color: rgba(80, 80, 80, 0.4);
    font-size: 16px;
    line-height: 20px;
    font-family: 'Nunito Sans';
    border-left: 1px solid rgba(80, 80, 80, 0.4);
    padding-left: 13px;
    margin-left: 13px;
}
.nav-brand.block-fixed {
    position: fixed;
    left: 31px;
    z-index: 99;
}
.navbar-nav li a {
    font-family: 'Nunito Sans';
    font-size: 18px;
    color: #000;
}
.navbar-nav li a:hover {
    background-color: transparent;
	color: #000;
}
.navbar-nav.header-menu li a:link,
.navbar-nav.header-menu li a:focus {
	background-color: transparent;
	color: #000;
}
.navbar-nav.header-menu li a:hover {
    color: #999;
}
.navbar-nav.header-menu li.active a {
    opacity: 0.5;
}
.popups-list {
    text-align: center;
}
.quick-start-list li {
    list-style-type: decimal;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0,0,0,0.6);
    font-family: 'Nunito Sans';
    margin-bottom: 20px;
}
.popups-list button {
    width: 100%;
    margin-bottom: 20px;
}
#popups-preview {
    padding-bottom: 51px;
}
.popups-preview-header {
    margin-bottom: 80px;
}
#popups-preview p {
    font-size: 20px;
    line-height: 30px;
    color: rgba(0,0,0,0.6);
    font-family: 'Nunito Sans';
    margin-bottom: 35px;
}
#popups-preview .btn-download,
.documentation-section .btn-download {
    padding-left: 17px;
    padding-right: 17px;
    font-size: 20px;
    line-height: 38px;
    color: #fff;
    font-family: 'Nunito Sans';
    background-color: #e81f7c;
}
#popups-preview .btn-download:hover,
.documentation-section .btn-download:hover {
    background-color: #ed4d97;
    color: #fff;
}
#popups-preview .btn-download:active, 
.documentation-section .btn-download:active {
    background-color: #c01464;
    color: #fff;
}
.preview-inner {
    margin-bottom: 70px;
}
.preview-inner img {
    width: 100%;
}
.preview-inner .btn-group {
    width: 100%;
}
.preview-icon {
    background-image: url(../icon/eye.png);
    background-size: contain;
    width: 21px;
    height: 13px;
    position: absolute;
    top: 50%;
    margin-top: -6.5px;
    right: 18px;
}
.code-icon {
    background-image: url(../icon/download.png);
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 18px;
}
.btn-preview {
    width: 50%;
    height: 50px;
    padding: 13px 18px;
    float: left;
    text-align: left;
    font-size: 16px;
    font-family: 'Nunito Sans';
    font-weight: 600;
    color: #fff;
    background-color: #1a2ae3;
    border-radius: 0;
    border-bottom-left-radius: .25rem;
    position: relative;
}
.btn-preview:hover {
    background-color: #4653ea;
}
.btn-preview:active {
    background-color: #1522b5;
}
.btn-code {
    width: 50%;
    height: 50px;
    padding: 13px 18px;
    float: left;
    text-align: left;
    font-size: 16px;
    font-family: 'Nunito Sans';
    font-weight: 600;
    color: #fff;
    background-color: #020d4a;
    border-radius: 0;
    border-bottom-right-radius: .25rem;
    position: relative;
}
.btn-code:hover {
    background-color: #03167c;
}
.btn-code:active {
    background-color: #010418;
}
.modal-code .modal-header .close {
    padding: 15px;
    top: 8px;
    right: 8px;
}
.modal-code .modal-header .close:before {
    width: 12px;
    height: 12px;
    top: 10px;
    right: 10px;
}
.modal-code .modal-content {
    border-radius: 5px;
}
.modal-code .nav-tabs {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #C3C3C3;
    height: 50px;
    border: 0;
}
.modal-code .nav-tabs .nav-link {
    color: #000;
    line-height: 2;
    border: 0;
}
.modal-code .nav-tabs .nav-link.active {
    border: 0;
}
.modal-code .nav-tabs .nav-link:hover {
    border-color: transparent;
    color: rgba(0, 0, 0, 0.4);
}
.modal-code .nav-tabs .nav-link.active:hover {
    color: rgba(0, 0, 0, 0.4);
}
.code-inner {
    padding: 1rem
}
.code-inner pre {
    display: block;
    margin-bottom: 0;
    padding-left: 35px;
    padding-right: 35px;
    overflow: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 5px;
    background-color: #D5D5D5;
    font-family: 'Source Code Pro', monospace;
    font-stretch: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #262421;
    line-height: 1.4;
}
.code-inner .btn-clipboard {
    top: 20px;
    right: 20px;
}
.link-documentation {
    color: #1a2ae3;
}
/* ------ capability-template ------ */

.capability-template #wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    z-index: 2;
}
#sidebar.active {
    margin-left: -300px;
}
#sidebar .sidebar-header {
    padding: 15px;
    background: #fff;
    border-bottom: 1px solid #000;
}
#sidebar .sidebar-header h3 {
    margin-bottom: 0;
    color: #000;
}
#sidebar .sidebar-body h4 {
    color: #000;
    margin-bottom: 15px;
}
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}
#capability-buttons {
    padding: .5rem 1rem;
}
.sidebar-body button {
    width: 70px;
    height: 50px;
    border: 1px solid #000;
    background-color: transparent;
    position: relative;
}
.sidebar-body button:hover {
    border-color: #f00;
}
.sidebar-body button:focus,
.sidebar-body button:active {
    border: 1px solid #217ee7;
}
.sidebar-body .col button span {
    width: 25px;
    height: 20px;
    background-color: #17a2b8;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
}
.btn-popup-position-top-left span {
    left: 5px;
    top: 5px;
}
.btn-popup-position-top-center span {
    left: 50%;
    margin-left: -12.5px;
    top: 5px;
}
.btn-popup-position-top-right span {
    right: 5px;
    top: 5px;
}
.btn-popup-position-center-left span {
    left: 5px;
    top: 50%;
    margin-top: -10px;
}
.btn-popup-position-center-center span {
    left: 50%;
    margin-left: -12.5px;
    top: 50%;
    margin-top: -10px;
}
.btn-popup-position-center-right span {
    right: 5px;
    top: 50%;
    margin-top: -10px;
}
.btn-popup-position-bottom-left span {
    left: 5px;
    bottom: 5px;
}
.btn-popup-position-bottom-center span {
    left: 50%;
    margin-left: -12.5px;
    bottom: 5px;
}
.btn-popup-position-bottom-right span {
    right: 5px;
    bottom: 5px;
}
.modal-dialog.popup-position-top-left {
    margin: 1.75rem auto 1.75rem 1.75rem;
}
.modal-dialog.popup-position-top-right {
    margin: 1.75rem 1.75rem 1.75rem auto;
}
.modal-dialog.popup-position-top-center {
    margin: 1.75rem auto;
}
/* ------ /capability-template ------ */

/* ------ documentation-template ------ */
body.documentation-demo {
    overflow: hidden;
    padding-right: 15px;
}
body.documentation .nav-brand {
    color: #000000;
}
body.documentation .navbar-nav li a {
    color: #000000;
}
body.documentation .navbar-nav.header-menu li a:link, body.bg-documentation .navbar-nav.header-menu li a:focus {
    color: #000000;
}
body.documentation p {
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}
body.documentation .code-btn p {
    padding: 11px 0;
    margin-bottom: 1.5rem;
    line-height: 23px;
}
.documentation-title {
    margin-bottom: 71px;
}
.documentation-title h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -1.5px;
    margin-bottom: 21px;
}
body.documentation .documentation-title p {
    color: rgba(0,0,0,0.6);
    font-size: 20px;
    margin-bottom: 0;
}
body.documentation .section-title {
    color: #120021;
    font-size: 36px;
    font-weight: 500;
    line-height: 46px;
    letter-spacing: -0.5px;
    padding-bottom: 32px;
    margin-bottom: 35px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.documentation-section {
    margin-bottom: 66px;
}
.documentation-section pre {
    display: block;
    margin-bottom: 32px;
    padding-left: 35px;
    padding-right: 35px;
    overflow: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 5px;
    background-color: #D5D5D5;
    font-family: 'Source Code Pro', monospace;
    font-stretch: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #262421;
    line-height: 1.66666667em;
}
.documentation-section h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.5px;
    margin-bottom: 32px;
    padding-top: 20px;
    text-transform: none;
}
.btn-clipboard {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
    display: block;
    padding: .25rem .5rem;
    font-size: 75%;
    color: #818a91;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
}
.btn-clipboard:hover {
    color: #fff;
    background-color: #1a2ae3;
}
.code {
    color: #2121DD;
}
.demo-block {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 35px;
    margin-bottom: 32px;
}
div[id*=bite].bite-demo .modal-content {
    padding: 85px 80px;
    background: rgba(41,54,246,1);
    background: -moz-linear-gradient(left, rgba(41,54,246,1) 0%, rgba(112,122,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41,54,246,1)), color-stop(100%, rgba(112,122,255,1)));
    background: -webkit-linear-gradient(left, rgba(41,54,246,1) 0%, rgba(112,122,255,1) 100%);
    background: -o-linear-gradient(left, rgba(41,54,246,1) 0%, rgba(112,122,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(41,54,246,1) 0%, rgba(112,122,255,1) 100%);
    background: linear-gradient(to right, rgba(41,54,246,1) 0%, rgba(112,122,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2936f6', endColorstr='#707aff', GradientType=1 );
}
div[id*=bite].bite-demo .popup-title {
    font-size: 35px;
    line-height: 1.25;
    margin-bottom: 14px;
}
div[id*=bite].bite-demo .popup-text {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    margin-bottom: 39px;
}
div[id*=bite].bite-demo .form-control {
    width: 260px;
    height: 50px;
    padding: 6px 21px;
}
div[id*=bite].bite-demo .form-control::-moz-placeholder {
    line-height: 2.6;
}
div[id*=bite].bite-demo .form-control:-moz-placeholder {
    line-height: 2.6;
}
div[id*=bite].bite-demo .btn {
    width: 62px;
    height: 50px;
    background-color: #1625f2;
}
div[id*=bite].bite-demo .btn:hover {
    background-color: #ffff;
}
div[id*=bite].bite-demo .btn:hover i {
    color: #1625f2;
} 
div[id*=bite].bite-demo .btn:active {
    -moz-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -o-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}
.demo-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    color: #fff;
    font-size: 46px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -1.5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.demo-wrapper.show-block {
    display: block;
}
.demo-wrapper-close {
    padding: 20px;
    margin: 0;
    position: fixed;
    top: 6px;
    right: 22px;
    opacity: 1;
    outline: 0;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.demo-wrapper-close:focus,
.demo-wrapper-close:active {
    outline: 0;
}
.demo-wrapper-close:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 12.5px;
    right: 12.5px;
    background-size: contain;
    opacity: .3;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.demo-wrapper-close.close-light:hover:before {
    opacity: 1;
}
.demo-wrapper-close.close-light:before {
    background-image: url(../icon/Icon-Close-Light.png);
    opacity: .6;
}
.demo-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.demo-inner .container {
    height: 3000px;
}
.documentation .btn-demonstration {
    background-color: #2929B4;
    font-family: 'Nunito Sans';
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    height: 45px;
}
.documentation .btn-demonstration:hover {
    background-color: #3d3dd3;
}
.documentation .btn-demonstration:active {
    background-color: #20208a;
}
/* ------ /documentation-template ------ */

/* ------ faq-template ------ */
.faq-title h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -1.5px;
    margin-bottom: 70px;
}
.faq-section {
    margin-bottom: 70px;
}
.faq-section .card-header {
    padding: 0;
}
.faq-section h3 .btn {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    text-transform: none;
    padding: .75rem 1.25rem;
    width: 100%;
    text-align: left;
}
.faq-section h3 .btn:hover,
.faq-section h3 .btn:active,
.faq-section h3 .btn:focus {
    text-decoration: none;
}
.faq p {
    color: rgba(0,0,0,0.6);
    font-size: 20px;
}
.faq-section pre {
    display: block;
    margin-bottom: 0;
    padding-left: 35px;
    padding-right: 35px;
    overflow: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 5px;
    background-color: #D5D5D5;
    font-family: 'Source Code Pro', monospace;
    font-stretch: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #262421;
    line-height: 1.66666667em;
}
/* ------ /faq-template ------ */

#footer-block {
    background-color: #E4E4E4;
    padding: 15px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position:relative;
}
#footer-block a img {
    width: 70px;
}
.logo-footer {
    font-size: 20px;
    letter-spacing: -0.6px;
    color: #000;
    line-height: 33px;
    font-family: 'Nunito Sans';
}
.logo-footer span {
    font-family: 'Nunito Sans'; 
}
.logo-footer:hover {
	color: #999;
}
.footer-menu li {
    float: left;
    margin-right: 13px;
}
.footer-menu li:last-child {
    margin-right: 0;
}
.footer-menu li a {
    padding: 15px 13px;
    line-height: 33px;
    font-size: 16px;
    color: #000;
    text-transform: none;
    letter-spacing: normal;
}
.footer-menu li a:hover {
	color: #999;
}
.social-icon-ftr {
    float: right;
    color: #fff;
    padding: 0 14px;
}
.social-icon-ftr:hover {
	color: #999;
}
.social-icon-ftr .fa-lg {
    line-height: 35px;
}
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .preview-icon {
        background-image: url(../icon/eye@2x.png)
    }
    .code-icon {
        background-image: url(../icon/download@2x.png);
    }
    .demo-wrapper-close.close-light:before {
        background-image: url(../icon/Icon-Close-Light@2x.png);
    }
}
@media only screen and (min-width: 992px) {
    .no-padding {
        padding: 0;
    }
    .no-padding-left {
        padding-left: 0;
    }
    .no-padding-right {
        padding-right: 0;
    }
    .popups-list button {
        width: 10%;
        margin-bottom: 20px;
        margin-right: 20px;
    }
    .navbar {
        padding: 0;
        margin: 0 -15px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }
    .preview-inner .col-md-4:nth-of-type(1) {
        padding-left: 0;
        padding-right: 20px;
    }
    .preview-inner .col-md-4:nth-of-type(2) {
        padding-left: 10px;
        padding-right: 10px;
    }
    .preview-inner .col-md-4:nth-of-type(3) {
        padding-left: 20px;
        padding-right: 0;
    }
}
@media only screen and (max-width: 990px) {
    #footer-block .row > div {
        text-align: center;
    }
    #footer-block .row div,
    #footer-block .row ul {
        float: none !important;
    }
    .logo-footer,
    .footer-menu {
        margin-bottom: 20px;
        display: block;
    }
    .footer-menu li,
    .social-icon-ftr {
        float: none;
        display: inline-block;
    }
    .preview-inner .btn {
        text-align: center;
    }
    .preview-inner .btn i {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .preview-inner {
        margin-bottom: 0;
    }
    .preview-inner .col-md-4 {
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 575px) {
    .bite-demo .form-inline {
        display: block !important;
    }
    .bite-demo .form-control,
    .bite-demo .btn {
        width: 100%;
        text-align: center;
    }
    .bite-demo .modal-content {
        padding: 40px;
    }
}