<script>
  var unlockCalculator = {
    data() {
      return {
        showPopup: false,
        userType: "",
        popupClass: "",
      };
    },
    computed: {
      cookieName() {
        return "unlock-tool" + window.location.pathname.replace(/\//g, "-");
      },
    },
    methods: {
      showUnlockPopup() {
        let cookieValue = getCookie(this.cookieName);
          this.showPopup = true;
          this.popupClass = "show";
          this.handleState(true);
          return true;
      },
      hideUnlockPopup() {
        this.showPopup = false;
        this.handleState(false);
      },
      handleState(newVal) {
        if (newVal) {
          this.preventScroll();
        } else {
          this.allowScroll();
        }
      },
      preventScroll() {
        document.body.style.overflow = "hidden";
      },
      allowScroll() {
        document.body.style.overflow = "";
      },
    },
    delimiters: ["{", "}"],
  };
</script>
