<script>
  var unlockCalculator = {
    data() {
      return {
        userType: "",
        popupClass: "show",
        email: "",
        subscriptionError: null,
      };
    },
    methods: {
      sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
      },
      showUnlockPopup() {
        let cookieValue = getCookie("calculator");
        if (cookieValue === "true") {
          return;
        }
        // Reset user type to make sure it's null if a user clear his cookies
        this.setUserType("");
        this.popupClass = "show";
        this.handleScroll(true);
        return true;
      },
      async hideUnlockPopup() {
        await setCookie("calculator", "true", 365);
        await this.sleep(1000) // Close popup after 1 second
        this.popupClass = "";
        this.handleScroll(false);
      },
      handleScroll(newVal) {
        if (newVal) {
          document.body.style.overflow = "hidden";
        } else {
          document.body.style.overflow = "";
        }
      },
      setUserType(type) {
        this.userType = type;
      },
      async handleSubscription() {
        if (!isValidEmail(this.email)) {
          console.log("Invalid email address.");
          this.subscriptionError = "Invalid email address.";
          return;
        }
        const result = await beehiivAPI.subscribe(this.email);
        if (result.error) {
          console.error("Failed to subscribe:", result.error);
          this.subscriptionError = result.error;
          return
        }
        console.log("Successfully subscribed:", result);
        this.hideUnlockPopup();
      },
    },
    delimiters: ["{", "}"],
  };
</script>