// HTML elements
body {
    overflow-x: hidden;
    color: $dark;
}
h1 {
    font-weight: 600;
    margin-top: 0;
    @include breakpoint(lg) {
        font-size: 5rem;
        line-height: 5.625rem;
    }
}

h2 {
    font-weight: 500;
    margin-top: 0;
    @include breakpoint(lg) {
        font-size: 3.5rem;
        line-height: 3.875rem;
    }
}

h3 {
    font-weight: 500;
    margin-top: 0;
    @include breakpoint(lg) {
        font-size: 1.875rem;
        line-height: 2.5rem;
    }
}

h4 {
    font-weight: 500;
    @include breakpoint(lg) {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

p {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    &.small {
        font-size: 1rem;
        line-height: 1.625rem;
    }
}

a {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: $dark;
    text-decoration: none;
    &.small {
        font-size: 0.9375rem;
    }
    &:visited {
        color: $dark;
    }
    &:hover {
        text-decoration: none;
    }
}

ul, ol, li {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.625rem;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

a.btn {
    background-color: $dark;
    background: $dark;
    border: 0.125rem solid $dark;
    color: white;
    border-radius: 1px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    letter-spacing: -0.5px;
    &.btn-sm {
        line-height: 2.025rem;
        padding-bottom: 0.1rem;
        height: 2.375rem;
    }
    &.btn-md {
        line-height: 3.5rem;
        height: 3.75rem;
    }
    &.btn-lg {
        line-height: 4.125rem;
        height: 4.375rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
    &.btn-white {
        color: $dark;
        background: white;
        background-color: white;
        border-color: $dark;
    }
}

// Layout
.container {
    max-width: calc(100% - 1rem);
}

.row.large-gutter {
    @include breakpoint(md) {
        margin-right: -1.5rem;
        margin-left: -1.5rem;
        .col-md,
        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12, 
        .col-lg,
        .col-lg-1,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12 {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }
    }
}

.hide-xs {
    display: none !important;
    @include breakpoint(sm) {
        display: block !important;
    }
}

.hide-sm-up {
    @include breakpoint(sm) {
        display: none !important;
    }
}

// Utils

.p-tb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-tb-80 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.m-tb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.m-tb-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.m-tb-160 {
    margin-top: 160px;
    margin-bottom: 160px;
}