// Colors
$dark: #141514;
$dark_sub: rgba(0, 0, 0, 0.5);
$secondary: #EE3465;
$neutral: #DFE4EA;
$placeholder: #EFF2F6;
$white: #FFFFFF;
$red: #E7AEC0;
$red_sub: #FFE9F0;
$yellow: #D0B594;
$yellow_sub: #FAECDB;
$green: #95BEB0;
$green_sub: #D6EBE4;
$light_grey: #F9F7F7;
$light_green: #EDF9EB;

//features colors
$light_green: #DBEBD6;
$light_green_accent: #E3EBD6;
$light_red: #FADFDB;
$light_blue: #D6EBE6;
$light_blue_accent: #D6EBDD;

//menu hover
$quicksearch: #F3F9F7;
$deepsearch: #FCF3FB;
$contactexports: #F1FAF0;
$creatorstudio: #F1F2F8;

//follower score
$low: #F6E0E3;
$low_text: #B5757D;

$medium: #FDEBE3;
$medium_text: #B47963;

$fair: #F8F0DC;
$fair_text: #B47963;

$great: #D7EBE4;
$great_text: #4F7D6D;


// Widths
$xl: 100em; // equivalent to 1600px with default font-size of 16px
$lg: 75em; // equivalent to 1200px. From Flexboxgrid.
$md: 64em; // equivalent to 1024px. From Flexboxgrid.
$sm: 48em; // equivalent to 768px. From Flexboxgrid.
$xs: 25em; // equivalent to 400px

// Fonts
$font: "neue-haas-unica", sans-serif;
$blogfont: "lora", serif;
$weight_bold: 600;

// Utils
$br: 4px;
$navheight: 5.25rem;
$mobilenavheight: 3.125rem;


// Transition
$transition_default: all .15s cubic-bezier(0.5, 0.1, 0.6, 0.5);