$laptop: 1400px;
$tablet: 1024px;
$bigphone: 800px;
$phone: 680px;

$pfont: 'Open Sans', Helvetica, sans-serif;
$hfont: 'Work Sans', Helvetica, sans-serif;

$purple: #6969F2;
$royalblue: #2E5BFF;
$blue: #011285;
$darkblue: #000E4A;
$gray: #CBCBD9;
$darkgray: #444444;
$green: #37CA8E;

$br: 4px;