$laptop: 1400px;
$tablet: 1024px;
$bigphone: 800px;
$phone: 680px;

$pfont: 'Open Sans', Helvetica, sans-serif;
$hfont: 'Work Sans', Helvetica, sans-serif;

$blue: #001dff;
$green: #4cca87;
$darkblue: #001d91;