<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.min.js" integrity="sha256-HlqBFI4b3mzFNE97JQcgI/uhJvHBI5czBqfVtEeA1Hg=" crossorigin="anonymous"></script>
<script src="{{ "/js/main.min.js" | absURL }}" defer></script>

{{- if getenv "IS_PROD" -}}
    {{ if and (ne .Page.RelPermalink "/engagement-rate-calculator-tiktok/") (ne .Page.RelPermalink "/engagement-rate-calculator-instagram/") (ne .Page.RelPermalink "/top-influencers/tiktok/") (ne .Page.RelPermalink "/top-influencers/instagram/") }}
        <!-- start Gist JS code-->
        <script>
            (function(d,h,w){var gist=w.gist=w.gist||[];gist.methods=['trackPageView','identify','track','setAppId'];gist.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);gist.push(e);return gist;}};for(var i=0;i<gist.methods.length;i++){var c=gist.methods[i];gist[c]=gist.factory(c)}s=d.createElement('script'),s.src="https://widget.getgist.com",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),gist.setAppId("vh6e94bm"),gist.trackPageView()})(document,'head',window);
        </script>
        <!-- end Gist JS code-->
    {{ end }}
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/22518068.js"></script>
    <!-- End of HubSpot Embed Code -->
{{- end -}}