<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.8/lottie.min.js" integrity="sha256-HlqBFI4b3mzFNE97JQcgI/uhJvHBI5czBqfVtEeA1Hg=" crossorigin="anonymous"></script>
<script src="/js/main.min.js"></script>

{{- if getenv "IS_PROD" -}}
    {{ if and (ne .Page.RelPermalink "/engagement-rate-calculator-tiktok/") (ne .Page.RelPermalink "/engagement-rate-calculator-instagram/") (ne .Page.RelPermalink "/top-influencers/tiktok/") (ne .Page.RelPermalink "/top-influencers/instagram/") }}
        <!-- start Gist JS code-->
        <script>
            (function(d,h,w){var gist=w.gist=w.gist||[];gist.methods=['trackPageView','identify','track','setAppId'];gist.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);gist.push(e);return gist;}};for(var i=0;i<gist.methods.length;i++){var c=gist.methods[i];gist[c]=gist.factory(c)}s=d.createElement('script'),s.src="https://widget.getgist.com",s.async=!0,e=d.getElementsByTagName(h)[0],e.appendChild(s),s.addEventListener('load',function(e){},!1),gist.setAppId("vh6e94bm"),gist.trackPageView()})(document,'head',window);
        </script>
        <!-- end Gist JS code-->
    {{ end }}
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/22518068.js"></script>
    <!-- End of HubSpot Embed Code -->

    <!-- Start of TOC script -->
    <script defer src="https://cdn.jsdelivr.net/npm/@finsweet/attributes-toc@1/toc.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var TOC = document.getElementById('toc');
        var headings = document.querySelectorAll('h1, h2, h3, h4, h5, h6');
        var parentLevel = 1;
        var cursorNode = TOC;
        if (TOC) {
          for (var i = 0; i < headings.length; ++i) {
            var currentHeading = headings[i];
            if (currentHeading.getAttribute('id').length > 4) {
              var newLevel = parseInt(currentHeading.tagName.substr(1, 1));
              var diff = newLevel - parentLevel;
              if (diff > 0) {
                var containerLiNode = cursorNode.lastChild;
                if (containerLiNode) {
                  var ulNode = document.createElement('UL');
                  containerLiNode.appendChild(ulNode);
                  cursorNode = ulNode;
                  parentLevel = newLevel;
                }
              }
              if (diff < 0) {
                while (diff !== 0) {
                  cursorNode = cursorNode.parentNode.parentNode;
                  diff++;
                }
                parentLevel = newLevel;
              }
              var liNode = document.createElement('LI');
              liNode.setAttribute("class", "toc_items");
              if (!currentHeading.getAttribute('id')) {
                liNode.setAttribute("class", "toc_items footer_headings");
              }
              if (!currentHeading.hasAttribute('id')) {
                currentHeading.id = 'h' + i;
              }
              var link = document.createElement('A');
              link.setAttribute('href', '#' + currentHeading.getAttribute('id'));
              link.appendChild(document.createTextNode(currentHeading.textContent))
              liNode.appendChild(link);
              cursorNode.appendChild(liNode);
            }
          }
        }
        setTimeout(function () {
          var tocItems = document.querySelectorAll('.post-content + .toc_items');
          var ulNode = document.getElementById('toc');
          tocItems.forEach(function (item) {
            ulNode.appendChild(item);
          });
          document.querySelectorAll('.toc_items.footer_headings').forEach(function (item) {
            item.remove();
          });
        }, 1000);
      });
    </script>
    <!-- End of TOC script -->
{{- end -}}