<script src="{{- $.Site.BaseURL -}}js/jquery-3.3.1.min.js"></script>
<script src="{{- $.Site.BaseURL -}}js/jquery.paroller.min.js"></script>
<script src="{{- $.Site.BaseURL -}}js/jquery.custom.js"></script>
<script src="{{- $.Site.BaseURL -}}js/swiper.min.js"></script>
<script src="{{- $.Site.BaseURL -}}js/swiper.custom.js"></script>
<script src="{{- $.Site.BaseURL -}}js/menu.js"></script>
{{- if and (eq .Type "articles") .IsPage -}}
<!-- For Bites -->
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script defer type="text/javascript" src="{{- $.Site.BaseURL -}}bites/js/bites.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/solid.js"></script>
{{- end -}}
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/brands.js" integrity="sha384-GtvEzzhN52RvAD7CnSR7TcPw555abR8NK28tAqa/GgIDk59o0TsaK6FHglLstzCf" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/fontawesome.js" integrity="sha384-Ia7KZbX22R7DDSbxNmxHqPQ15ceNzg2U4h5A8dy3K47G2fV1k658BTxXjp7rdhXa" crossorigin="anonymous"></script>
{{- if getenv "IS_PROD" -}}
<script>
    window.intercomSettings = {
      app_id: "t82alss0"
    };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/t82alss0';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
{{- end -}}