<script src="{{- $.Site.BaseURL -}}js/jquery-3.3.1.min.js"></script>
<script src="{{- $.Site.BaseURL -}}js/jquery.paroller.min.js"></script>
<script src="{{- $.Site.BaseURL -}}js/jquery.custom.js"></script>
<script src="{{- $.Site.BaseURL -}}js/swiper.min.js"></script>
<script src="{{- $.Site.BaseURL -}}js/swiper.custom.js"></script>
<script src="{{- $.Site.BaseURL -}}js/menu.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/brands.js" integrity="sha384-GtvEzzhN52RvAD7CnSR7TcPw555abR8NK28tAqa/GgIDk59o0TsaK6FHglLstzCf" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.8.2/js/fontawesome.js" integrity="sha384-Ia7KZbX22R7DDSbxNmxHqPQ15ceNzg2U4h5A8dy3K47G2fV1k658BTxXjp7rdhXa" crossorigin="anonymous"></script>

