{{- define "main" -}}
{{- with .Params.hero -}}
<section class="container mobile-adjusted" id="hero">
    <h1>{{- .title | markdownify -}}</h1>
    <h4>{{- .subtitle | markdownify -}}</h4>
    <div class="cta">
        <a href="{{- .cta.link -}}" class="btn btn-lg btn-crazy-hover" title="Try it now" id="hero-cta">
            {{- htmlUnescape .cta.text | markdownify -}}
        </a>
        <a href="{{- $.Site.Data.settings.bookcall -}}" title="Book a demo" target="_blank" class="btn btn-lg btn-white">
            Book a demo
        </a>
    </div>
</section>
{{- end -}}

<section class="container m-tb-80 mobile-adjusted" id="clients">
    <div class="row between-xs middle-xs">
        <div class="icons">{{- partial "icons/billygoat.html" -}}</div>
        <div class="icons">{{- partial "icons/moose.html" -}}</div>
        <div class="icons">{{- partial "icons/leadlabs.html" -}}</div>
        <div class="icons">{{- partial "icons/nissan.html" -}}</div>
        <div class="icons">{{- partial "icons/loop.html" -}}</div>
        <div class="icons">{{- partial "icons/bedtime.html" -}}</div>
    </div>
</section>

{{- range .Params.features -}}
<section class="container m-tb-80 home-features" id="{{- .id -}}">
    <div class="row">
        <div class="col-xs-12 col-md-4 left-col">
            <h2>{{- .title -}}</h2>
            <p>{{- .text | markdownify -}}</p>
            <a href="{{ $.Site.BaseURL -}}{{- .link.link -}}" class="learn-more hide-md">
                {{- htmlUnescape .link.text -}}
            </a>
            {{- with .question -}}
            <a href="{{- .link -}}" title="{{- .text -}}" class="question hide-md">{{- .text -}}</a>
            {{- end -}}
        </div>
        <div class="col-xs-12 col-md-7 col-md-offset-1">
            <div class="icon-ctn">
                <video autoplay muted loop playsinline>
                    <source src="/videos/{{- .video -}}.mp4" />
                    <!-- <source src="../static/video/10s.webm" type='video/webm; codecs="vp8, vorbis"' />
                    <source src="../static/video/10s.ogv" type='video/ogg; codecs="theora, vorbis"' /> -->
                </video>    
            </div>
            <a href="{{ $.Site.BaseURL -}}{{- .link.link -}}" class="learn-more hide-md-up">
                {{- htmlUnescape .link.text -}}
            </a>
            {{- with .question -}}
            <a href="{{- .link -}}" title="{{- .text -}}" class="question hide-md-up">{{- .text -}}</a>
            {{- end -}}
        </div>
    </div>
</section>
{{- end -}}

<section class="container m-tb-160 mobile-adjusted" id="extras">
    <div class="row large-gutter">
        {{- range .Params.extras -}}
        <div class="col-xs-12 col-lg-4">
            <div class="icon-ctn" id="{{- .icon -}}"></div>
            <h3>{{- .title -}}</h3>
            <p>{{- .text -}}</p>
        </div>
        {{- end -}}
    </div>
</section>

{{- with .Params.whatwedo -}}
<section class="container m-tb-160" id="what-we-do">
    <div class="row large-gutter">
        <div class="col-xs-12 col-md-4 col1 hide-md">
            <h2>{{- .col1.title | markdownify -}}</h2>
            <div class="bottom-text">
                <p>{{- .col1.text1 | markdownify -}}</p>
                <p>{{- .col1.text2 | markdownify -}}</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col2">
            <div class="color-col">
                <p class="small hide-md-up">Too long; didn't read</p>
                <h3>{{- .col2.title -}}</h3>
                {{- range .col2.features -}}
                <p class="features">
                    <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 7.5L5 11.5L12 1" stroke="black" stroke-width="2"/>
                    </svg>
                    {{- .text | markdownify -}}
                </p>
                {{- end -}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col3">
            <div class="color-col">
                <h3>{{- .col3.title -}}</h3>  
                {{- range .col3.features -}}
                <p class="features">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L12 12" stroke="black" stroke-width="2"/>
                        <path d="M1 12L12 1" stroke="black" stroke-width="2"/>
                    </svg>
                    {{- .text | markdownify -}}
                </p>
                {{- end -}}
            </div>
        </div>
    </div>
</section>
{{- end -}}

{{- with .Params.startnow -}}
<section class="container m-tb-160 mobile-adjusted" id="start-now">
    <div class="row large-gutter">
        <div class="col-xs-12 col-md-4 col1">
            <h2>{{- .title -}}</h2>
            <h4>{{- .description -}}</h4>
            <a href="https://app.inbeat.co/get-started" title="Try it now" class="btn btn-crazy btn-md" target="_blank">
                <span>Try it now</span> &#8212 it's free
            </a>
            <p class="signin">
                Already in the family?
                <a href="https://app.inbeat.co" title="Sign in">Sign in</a>.
            </p>
        </div>
        <div class="col-xs-12 col-md-8 hide-md">
            <div class="icon-ctn"></div>
        </div>
    </div>
</section>
{{- end -}}

{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.home "id" "home-faq") -}}

{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.tiktok "id" "home-faq" "title" "TikTok influencer discovery" "header" true) -}}

{{- end -}}