{{- define "main" -}}
        {{- with .Params.hero -}}
        <section class="container-fluid mobile-adjusted hero_creator-studio-v2" id="hero">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                 <h1 class="creator-studio-heading">{{- .title | markdownify -}}</h1>
                 <h4 class="hero_creator-studio-sub_heading">{{- .subtitle | markdownify -}} </h4>
                 <div class="cta">
                    <a href="{{- .cta.link -}}" class="btn btn-lg" title="Get started" target="_blank">
                        {{- htmlUnescape .cta.text | markdownify -}}
                    </a>
                    <a href="javascript:void(0)" title="Watch Video" target="_blank" class="btn btn-lg popupTrigger" data-popup-id="videoPopup">
                        <span>{{- partial (printf "icons/%s.html" "arrow-left") -}}</span> Watch Video
                    </a>
                </div>
                 </div>
            </div>
        </section>
        {{- end -}}
{{- partial "site/discover-influencer.html" . -}}
{{- partial "site/testimonial-with-cards.html" . -}}
{{- partial "site/clients-creator-studio.html" . -}}
{{- partial "site/features-v2.html" . -}}
{{- partial "site/switchers-accordian.html" . -}}
{{- partial "site/whatwedo-v2.html" . -}}
<section class="freetoolkit-sec" id="{{- .Params.toolkits.id -}}">
    <div class="toolkits container">
        <a href="{{- $.Site.BaseURL -}}free-toolkit" title="Free Toolkit" class="toolkit-title">
            <h3>Expore our free tools</h3>
            <svg viewBox="0 0 32 32" style="width: 30px; height: 30px; margin-top: -20px;" viewBox="0 0 32 32" aria-hidden="true"><path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"/></svg>
            <!-- <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L8 8L1 15" stroke="black"/>
                </svg> -->
                
        </a>
        <div class="row">
            {{- range .Params.toolkits.tools -}}
                        <div class="toolkit col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="{{ $.Site.BaseURL }}{{ .url }}" target="_blank">
                            <div class="inner">
                                <div class="icon">{{- partial (printf "icons/%s.html" .icon) -}}</div>
                                <div class="content">
                                    <h4 class="tool-name">{{- .title | markdownify -}}</h4>
                                    <p class="tool-description"> {{ .text }}</p>
                                </div>
                            </div>
                        </a>
                        </div>
                {{- end -}}
        </div>
    </div>
</section>
{{- partial "site/faq.html" (dict "context" . "faq" .Site.Data.faq.home "id" "home-faq") -}}
{{- end -}}