{{ define "main" }}
<section class="container mobile-adjusted page-top categories" id="featured-posts">
    <div class="row">
        <div class="col-xs-12 category-title">
            <h1>{{ .Params.h1 | default .Title }}</h1>
            {{- if not (eq .Content "") -}}
            {{ .Content }}
            {{- end -}}
        </div>
        <div class="col-xs-12 posts-list-title">
            <p>Recent</p>
        </div>
        {{- range .Pages -}}
        {{- partial "site/post.html" . $ -}}
        {{- end -}}
    </div>
</section>
{{ end }}