#banner{
    background: linear-gradient(90deg, #FFE9F0 0%, #FAECDB 51.04%, #D6EBE4 100%);
    cursor: pointer;
    position: relative;
    padding: 5px;
    height :  28px;
    transition: all 1s ease;
    &.hide-banner{
        height: 0;
    }
    a{
        display: flex;
        align-content: center;
        align-items: center;
        transform: translateY(0);
        transition: all 1s ease;
    }
    .text-content{
        pointer-events: none;
        margin: 0 auto;
        p{
            font-size: .875rem;
            margin: 0;
            padding: 0;
        }
        span{
            margin-left: 10px;
            font-size: 12px;
        }
        text-align: center;
    }
    #close{
        padding: 5px 15px;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 1s ease;
    }
    .hide{
        transform: translateY(-100%);
    }
}
