.clients-influencer{
    background-color: $light_grey;
	padding: 110px 0px 97px 0px;
	@include breakpoint(sm-down) {
		padding-bottom: 70px;
		padding-top: 64px;
	}
	width: 100%;
	overflow:hidden;
  .slider-static {
	  @include breakpoint(md-down) {
		  display: none;
	  }
	  display: flex;
	  align-items: center;
	  justify-content: space-between;
  }

  .slide {
	  display: flex;
	  justify-content: center;
	  @include breakpoint(sm-down) {
		  padding: 0px 42px;
	}
	  &.stack-logo{
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  flex-direction: column;
		  gap: 55px;
	  }
  }
  .slider{
	  @include breakpoint(md) {
		  margin-bottom: 1rem;
		  display: none;
	  }

	  .slick-track{
		  display: flex;
		  align-items: center;
	  }	
  }
}