#header {
    height: $mobilenavheight;
    padding-left: 0.5rem;
    padding-right: 1rem;
    margin: 0;
    @include breakpoint(sm) {
        height: $navheight;
        padding-left: 0;
        padding-right: 0;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .logo {
        display: block;
        width: 2.25rem;
        svg {
            z-index: 12;
            fill: $dark;
            position: relative;
            display: block;
        }
    }
    button {
        outline: none !important;
        z-index: 12;
        position: relative;
        display: block;
        margin-left: auto;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
        &.right {
            margin-left: auto;
        }
    }
    li {
        float: left;
        margin-right: 2rem;
        @include breakpoint(md) {
            margin-right: 3rem;
        }
        cursor: pointer;
        a{
            transition: all .12s;
        }
        &:hover >a{
            opacity: .5;
        }
        &.cta {
            a{
                opacity: 1;
            }
            line-height: 2.375rem;
        }
        a:not(.btn) {
            text-align: left;
            font-size: 1rem;
            line-height: 2.375rem;;
            color: $dark;
            text-decoration: none;
        }
        &.has-submenu {
            ul {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transform: translateY(-5px);
                transition: all .15s ease;
                cursor: default;
                top: 80%;
                box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
                padding: 10px;
                width: 18.75rem;
                z-index: 5;
                background: white;
                border-radius: 3px;
                &.grey-bg{
                    li:hover{
                        background: #F8F8F8;
                    }
                }
            }
            li {
                opacity: 1;
                display: flex;
                align-items: center; 
                width: 100%;
                padding: 0;
                padding-top: 1rem;
                padding-bottom: 1rem;
                line-height: 0;
                border-radius: 5px;
                transition: all .05s ease;
                &:hover:nth-child(1){
                    background: $quicksearch;
                }
                &:hover:nth-child(2){
                    background: $deepsearch;
                }
                &:hover:nth-child(3){
                    background: $contactexports;
                }
                &:hover:nth-child(4){
                    background: $creatorstudio;
                }
                a {
                    opacity: 1;
                    display: flex;
                    align-items: center; 
                    line-height: .6875rem;
                    padding: 0 1.25rem;
                        h4{
                            font-size: .875rem;
                            margin-bottom: -15px;
                            margin-top: -5px;
                            font-weight: 500;
                        }
                 
                    .icons{
                        margin-right: 1.5625rem;
                    }

                    p{
                        font-size: 11px;
                        font-weight: 350;
                        color: #787878;
                        margin: 0;
                    }
                    .new{
                        position: relative;
                        bottom: 5px;
                        font-size: 11px;
                        color: #1B16FF;
                    }
                }
            }
            &:hover {
                ul {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(6px);
                }
            }
        }
    }
    .col-xs-7 li {
        line-height: 3.125rem;
    }
}

#menu-overlay {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark;
    display: none;
    opacity: 0;
    transition: opacity 0.2s;
    ul {
        margin-top: 100px;
        padding-left: 30px;
        list-style: none;
        li {
            margin-top: 0.7rem;
            margin-bottom: 0.7rem;
            @media screen and (max-height: 560px) {
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
            }
            a {
                color: white !important;
                text-decoration: none;
                font-size: 1.625rem;
                line-height: 2.375rem;
                display: block;
                box-sizing: border-box;
            }
            &.has-submenu {
                margin-bottom: 0;
                a {
                    font-weight: bold;
                }
            }
            &.is-submenu {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    div.cta {
        position: absolute;
        bottom: 10px;
        left: 30px;
        width: calc(100% - 60px);
        margin: auto;
        a {
            display: block;
            border-color: $dark;
            span {
                font-weight: bold;
            }
        }
    }
}

.with-menu {
    overflow-y: hidden;
    #menu-overlay {
        display: block;
        opacity: 1;
    }
    #header {
        .logo svg {
            fill: white;
        }
        .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
            background-color: white;
        }
    }
    #header-container {
        z-index: 200;
        background: $dark;
    }
}
#header-container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: white;
    z-index: 200;
    transition: all 0.3s ease;
}