#header {
    height: 3.125rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    @include breakpoint(sm) {
        height: 5.25rem;
        padding-left: 0;
        padding-right: 0;
    }
    .logo {
        display: block;
        svg {
            width: 1.25rem;
            height: 1.25rem;
            z-index: 6;
            fill: black;
            position: relative;
            display: block;
        }
    }
    button {
        outline: none !important;
        z-index: 6;
        position: relative;
        display: block;
        margin-left: auto;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent;
        &.right {
            float: right;
        }
    }
    li {
        float: left;
        padding-right: 3rem;
        &:last-child {
            padding-right: 0;
        }
        &.cta {
            line-height: 2.375rem;
        }
        a:not(.btn) {
            display: block;
            text-align: left;
            font-size: 1rem;
            line-height: 2.375rem;;
            color: black;
            text-decoration: none;
        }
    }
}

#menu-overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: none;
    opacity: 0;
    transition: opacity 0.2s;
    ul {
        margin-top: 100px;
        padding-left: 30px;
        list-style: none;
        li {
            a {
                color: white !important;
                text-decoration: none;
                font-size: 1.625rem;
                line-height: 2.375rem;
            }
        }
    }
}

#header-container {
    // position: fixed;
    // left: 50%;
    // transform: translateX(-50%);
    // top: 0;
    // background: white;
    // z-index: 10;
    &.with-menu {
        #menu-overlay {
            display: block;
            opacity: 1;
        }
        #header {
            .logo svg {
                fill: white;
            }
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                background-color: white;
            }
        }
    }
}