@keyframes toggleOverlay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes togglePopup {
	from {
		opacity: 0;
		transform: translateY(100px);
	}
	to {
		opacity: 1;
		transform: translateY(32px);
	}
}
.popupTrigger {
	cursor: pointer;
}
.blur:not(#popupOverlay):not(#header){
	filter: blur(6px);
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-o-filter: blur(6px);
	-ms-filter: blur(6px);
}
#popupOverlay {
	z-index: 100;
	opacity: 0;
	display: none;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	&.popupOverlay--fadeIn {
		animation: toggleOverlay forwards 0.2s ease-in-out;
		display: block;
	}
	.popup {
		@include breakpoint(xs) {
			width: 600px;
			height: 490px;
		}
		@include breakpoint(sm) {
			width: 800px;
			height: 600px;
		}
		@include breakpoint(md) {
			width: 1000px;
			height: 720px;
		}
		opacity: 0;
		background-color: white;
		position: absolute;
		transform: translateY(100px);
		img{
			width: 100%;
			position: relative;
			border-radius: 10px 10px 0px 0px;
		}
		&.popupInner--fadeIn {
			animation: togglePopup forwards 0.25s cubic-bezier(0.25, 0.62, 0.15, 1);
			animation-delay: 0.2s;
			display: block;
		}
		// &.embed-popup{
		// 	border-radius: 10px;
		// 	width: 800px;
		// 	height: auto;
		// 	.close{
		// 		display: none;
		// 	}
		// 	.embedForm{
		// 		margin-top: 50px;
		// 		margin-bottom: 25px;
		// 	}
		// 	.ml-form-align-center{
		// 		border-radius: 10px;
		// 		padding-bottom: 50px;
		// 	}
		// }
		.content-wrapper {
			padding: 50px;
			video {
				border-radius: 10px;
				width: 100%;
			}
		}
		.close {
			z-index: 100;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			padding: 20px;
			svg {
				width: 20px;
				height: 20px;
			}
		}
		.btn {
			width: 100% !important;
		}
		button {
			background-color: #151515;
			color: white;
			height: 112px;
			border: none;
			font-size: 18px;
			font-weight: 400;
			position: absolute;
			bottom: 0;
			padding: 5px 0px;
			width: 100%;
			cursor: pointer;
			border-radius: 0;
			outline: none !important;
		}
	}
}
