.popupTrigger {
	cursor: pointer;
}
.blur:not(.popupOverlay):not(#header){
	filter: blur(6px);
	-webkit-filter: blur(6px);
	-moz-filter: blur(6px);
	-o-filter: blur(6px);
	-ms-filter: blur(6px);
}
.popupOverlay {
	z-index: -1;
	opacity: 0;
	display: block;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
	&.popupOverlay--fadeIn {
		opacity: 1;
		z-index: 100;
	}
	.popup {
		@include breakpoint(xs) {
			width: 600px;
			height: 490px;
		}
		@include breakpoint(sm) {
			width: 800px;
			height: 600px;
		}
		@include breakpoint(md) {
			width: 1000px;
			height: 720px;
		}
		opacity: 0;
		background-color: white;
		position: absolute;
		transform: translateY(100px);
		transition: all .25s ease-in-out;
		&.popupInner--fadeIn {
			opacity: 1;
			transform: translateY(32px);
		}
		&.auto-wh{
			width: auto;
			height: auto;
		}
		.content-wrapper {
			padding: 0px;
			video {
				border-radius: 10px;
				width: 100%;
			}
		}
		.close {
			z-index: 100;
			cursor: pointer;
			position: absolute;
			top: 0;
			right: 0;
			padding: 20px;
			svg {
				width: 20px;
				height: 20px;
			}
		}
		.btn {
			width: 100% !important;
			background-color: #151515;
			color: white;
			height: 112px;
			border: none;
			font-size: 18px;
			font-weight: 400;
			position: absolute;
			bottom: 0;
			padding: 5px 0px;
			width: 100%;
			cursor: pointer;
			border-radius: 0;
			outline: none !important;
		}
	}
}
