.snapchat-preview-body{
    border-radius: 10px !important;
}
.snapchat-mockup-preview{
    #snapchat-header{
        top: 12px;
        left: 21px;
        right: 21px;
        .preview-header{
            padding: 0;
            .preview-creadincials{
                gap: 9px;
                .profile-picture-wrapper{
                    width: 28px;
                    height: 28px;
                    border: none;
                }
                .user-name-wrapper{
                    color: #FFFFFF;
                    .user-name{
                        font-weight: 600;
                        font-size: 13px;
                        line-height: 20px;
                        letter-spacing: 0.2px;
                        margin-bottom: 0px;
                    }
                    .sponcered-text{
                        font-weight: 600;
                        font-size: 10px;
                        line-height: 20px;
                        letter-spacing: -0.2px;
                    }
                }
            }
        }
    }
}
#snapchat-cta-footer{
    bottom: 12px;
    .cta{
        span{
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            color: #000000;
        }
    }
    .snapchat-cta{
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
}