.testimonials-influencer {
	background-color: $light_grey;
	padding-top: 64px;
	@include breakpoint(sm-down) {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
    @include breakpoint(lg) {
        padding-top: 110px;
    }
	.m-tb-40{
		@include breakpoint(sm-down) {
			margin-top: 14px;
			margin-bottom: 64px;
		}
		@include breakpoint(md) {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}
	h3{
		@include breakpoint(sm-down) {
			font-size: 1.625rem;
			line-height: 2rem;
		}
	}
	.clients_card-container{
		// margin-left: -2rem;
		// margin-right: -1.5rem;
		display: flex;
		@include breakpoint(sm-down) {
			width: 100%;
			display: block;
		}
		// overflow-x: scroll;
		.client-card{
			margin-top: 50px;
			@include breakpoint(lg) {
				margin-top: 80px;
			}
		}
		@include breakpoint(md) {
			margin: 0;
			overflow-x: hidden !important;
		}
		.flickity-page-dots{
			bottom: unset;
			top: 0;
		}
	}
	.box {
		@include breakpoint(md-down) {
			margin: 0.625rem;
		}
		display: flex;
		.inner-box {
			width: 240px;
			background-color: $white;
			padding: 45px 32px;
			@include breakpoint(sm) {
				width: 350px;
			}
			p {
				margin: 0;
				padding: 0;
			}
			.client {
				padding-top: 32px;
				display: flex;
				img {
					float: left;
					align-self: center;
				}
				.client-info {
					padding-left: 25px;

					.job {
						opacity: 0.7;
						color: $dark_sub;
					}
				}
			}

		}
	}
	.icon-group{
		display: flex; 
		overflow:hidden; 
		gap: 34px;
		align-items: center;
		margin: 0;
		padding: 0px 2rem;
		@include breakpoint(md) {
			padding: 0px 0rem;
			justify-content: space-around;
			gap: 0;
			width: 76.8rem;
		}
	}
}
