#testimonial {
    border-bottom: 1px solid $dark;
    padding-top: 60px;
    padding-bottom: 60px;
    @include breakpoint(lg) {
        padding-top: 80px;
        padding-bottom: 120px;
    }
    .quote {
        color: $dark_sub;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    img {
        height: 40px;
        width: auto;
        vertical-align: middle;
        margin-right: 20px;
    }
}
