#tooltip-element{
    p {
        .tooltip {
            position: absolute;
            top: calc(100% + 0.5rem);
            left: 0;
            background: $dark;
            color: white;
            padding: 1rem;
            display: none;
            font-size: 0.7em;
            line-height: 1.2;
            font-weight: 400;
            z-index: 1;
            &:before {
                content: '';
                width: 5px;
                height: 5px;
                position: absolute;
                top: -5px;
                left: 6rem;
                border-style: solid;
                border-width: 0 5px 5px 5px;
                border-color: transparent transparent black transparent;
                box-sizing: border-box;
            }
        }
        &:hover{
            .tooltip {
                display: block;
            }
        }
    }
}