{{- define "main" -}}
<section class="container mobile-adjusted page-top" id="featured-posts">
    <div class="row">
        <div class="col-xs-12">
            <h1>Articles</h1>
        </div>
        <div class="col-xs-12 posts-list-title">
            <p>Featured</p>
        </div>
        {{- range first 6 (where .Pages ".Params.unlisted" "!=" true) -}}
        {{- partial "site/post.html" . $ -}}
        {{- end -}}
    </div>
</section>

{{- if (isset .Site.Taxonomies.categories "influencer-marketing") -}}
<section class="container mobile-adjusted post-list influencer-marketing">
    <div class="row">
        <div class="col-xs-12 posts-list-title">
            <p>Influencer Marketing</p>
        </div>
        {{- range (index .Site.Taxonomies.categories "influencer-marketing") -}}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post">
                <p class="title">
                    <a href="{{.Permalink}}" title="{{.Params.titre}}">{{.Params.titre}}</a>
                </p>
                {{- $author := index .Params.authors 0 -}}
                <p class="author">By <span>{{ $author.name }}</span> | {{ .ReadingTime }} MIN READ</p>
            </div>
        </div>
        {{- end -}}
    </div>
</section>
{{- end -}}

{{- if (isset .Site.Taxonomies.categories "guides") -}}
<section class="container mobile-adjusted post-list guides">
    <div class="row">
        <div class="col-xs-12 posts-list-title">
            <p>Guides</p>
        </div>
        {{- range .Site.Taxonomies.categories.guides -}}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post">
                <p class="title">
                    <a href="{{.Permalink}}" title="{{.Params.titre}}">{{.Params.titre}}</a>
                </p>
                {{- $author := index .Params.authors 0 -}}
                <p class="author">By <span>{{ $author.name }}</span> | {{ .ReadingTime }} MIN READ</p>
            </div>
        </div>
        {{- end -}}
    </div>
</section>
{{- end -}}

{{- if (isset .Site.Taxonomies.categories "ambassador-marketing") -}}
<section class="container mobile-adjusted post-list ambassador-marketing">
    <div class="row">
        <div class="col-xs-12 posts-list-title">
            <p>Ambassador Marketing</p>
        </div>
        {{- range (index .Site.Taxonomies.categories "ambassador-marketing") -}}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post">
                <p class="title">
                    <a href="{{.Permalink}}" title="{{.Params.titre}}">{{.Params.titre}}</a>
                </p>
                {{- $author := index .Params.authors 0 -}}
                <p class="author">By <span>{{ $author.name }}</span> | {{ .ReadingTime }} MIN READ</p>
            </div>
        </div>
        {{- end -}}
    </div>
</section>
{{- end -}}

{{- if (isset .Site.Taxonomies.categories "ugc") -}}
<section class="container mobile-adjusted post-list ugc">
    <div class="row">
        <div class="col-xs-12 posts-list-title">
            <p>UGC</p>
        </div>
        {{- range .Site.Taxonomies.categories.ugc -}}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post">
                <p class="title">
                    <a href="{{.Permalink}}" title="{{.Params.titre}}">{{.Params.titre}}</a>
                </p>
                {{- $author := index .Params.authors 0 -}}
                <p class="author">By <span>{{ $author.name }}</span> | {{ .ReadingTime }} MIN READ</p>
            </div>
        </div>
        {{- end -}}
    </div>
</section>
{{- end -}}

{{- if (isset .Site.Taxonomies.categories "micro-influencer-marketing") -}}
<section class="container mobile-adjusted post-list micro-influencer-marketing">
    <div class="row">
        <div class="col-xs-12 posts-list-title">
            <p>Micro-influencer Marketing</p>
        </div>
        {{- range (index .Site.Taxonomies.categories "micro-influencer-marketing") -}}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post">
                <p class="title">
                    <a href="{{.Permalink}}" title="{{.Params.titre}}">{{.Params.titre}}</a>
                </p>
                {{- $author := index .Params.authors 0 -}}
                <p class="author">By <span>{{ $author.name }}</span> | {{ .ReadingTime }} MIN READ</np>
            </div>
        </div>
        {{- end -}}
    </div>
</section>
{{- end -}}
{{- end -}}