{{- define "main" -}}
<section class="container mobile-adjusted page-top" id="featured-posts">
    <div class="row">
        <div class="col-xs-12">
            <h1>Articles</h1>
        </div>
        <div class="col-xs-12 posts-list-title">
            <p>Featured</p>
        </div>
        {{- range first 3 (where .Pages ".Params.unlisted" "!=" true) -}}
        {{- partial "site/post.html" . $ -}}
        {{- end -}}
    </div>
</section>

{{- if (isset .Site.Taxonomies.categories "tips") -}}
<section class="container mobile-adjusted post-list tips">
    <div class="row">
        <div class="col-xs-12 posts-list-title">
            <p>Tips</p>
        </div>
        {{- range .Site.Taxonomies.categories.tips -}}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post">
                <p class="title">
                    <a href="{{.Permalink}}" title="{{.Params.titre}}">{{.Params.titre}}</a>
                </p>
                {{- $author := index .Params.authors 0 -}}
                <p class="author">By <span>{{ $author.name }}</span> | {{ .ReadingTime }} MIN READ</p>
            </div>
        </div>
        {{- end -}}
    </div>
</section>
{{- end -}}

{{- if (isset .Site.Taxonomies.categories "ambassador-marketing") -}}
<section class="container mobile-adjusted post-list ambassador-marketing">
    <div class="row">
        <div class="col-xs-12 posts-list-title">
            <p>Ambassador Marketing</p>
        </div>
        {{- range (index .Site.Taxonomies.categories "ambassador-marketing") -}}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post">
                <p class="title">
                    <a href="{{.Permalink}}" title="{{.Params.titre}}">{{.Params.titre}}</a>
                </p>
                {{- $author := index .Params.authors 0 -}}
                <p class="author">By <span>{{ $author.name }}</span> | {{ .ReadingTime }} MIN READ</p>
            </div>
        </div>
        {{- end -}}
    </div>
</section>
{{- end -}}

{{- if (isset .Site.Taxonomies.categories "tutorials") -}}
<section class="container mobile-adjusted post-list tutorials">
    <div class="row">
        <div class="col-xs-12 posts-list-title">
            <p>Tutorials</p>
        </div>
        {{- range .Site.Taxonomies.categories.tutorials -}}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post">
                <p class="title">
                    <a href="{{.Permalink}}" title="{{.Params.titre}}">{{.Params.titre}}</a>
                </p>
                {{- $author := index .Params.authors 0 -}}
                <p class="author">By <span>{{ $author.name }}</span> | {{ .ReadingTime }} MIN READ</p>
            </div>
        </div>
        {{- end -}}
    </div>
</section>
{{- end -}}

{{- if (isset .Site.Taxonomies.categories "studies") -}}
<section class="container mobile-adjusted post-list studies">
    <div class="row">
        <div class="col-xs-12 posts-list-title">
            <p>Studies</p>
        </div>
        {{- range .Site.Taxonomies.categories.studies -}}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="post">
                <p class="title">
                    <a href="{{.Permalink}}" title="{{.Params.titre}}">{{.Params.titre}}</a>
                </p>
                {{- $author := index .Params.authors 0 -}}
                <p class="author">By <span>{{ $author.name }}</span> | {{ .ReadingTime }} MIN READ</np>
            </div>
        </div>
        {{- end -}}
    </div>
</section>
{{- end -}}
{{- end -}}
