{{ define "main" }}
<section class="section section--page-top section--articles">
  <div class="section__content section__content--fix-width section__content--padding">
    <div class="grid grid--2col grid--articles">
      <div class="grid__item grid__item--padding grid__item--illustration">
        <img src="/img/articles-illustration.png" class="responsive_image" />
      </div>
      <div class="grid__item grid__item--padding">
        <div class="page-title">
          <p class="subtitle">inBeat</p>
          <h1>{{ .Params.titre }}</h1>
          <img src="/img/articles-illustration.png" class="responsive_image" />
        </div>
        {{ range $i, $e := sort .Pages ".Params.ordre" "asce" }}
          <div class="item--article">
            {{ if isset .Params "author" }}
            {{ $author := index .Site.Data.authors .Params.author }}
            <p class="author">By {{ $author.name }}</p>
            {{ end }}
            <a href="{{- .Permalink -}}">{{ .Title }}</a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}