{{ define "main" }}
<section class="section section--page-top section--article-header">
  <div class="section__content section__content--article-width section__content--padding">
    {{- range .Params.categories -}}
    <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize }}" class="article__tags">{{ . }}</a>
    {{- end -}}
    <h1 class="section__title section__title--centered">{{ .Params.titre }}</h1>
    {{- $author := index .Site.Data.authors .Params.author -}}
    <span class="article__info">{{ $author.name }} – {{ .Date.Month }} {{ .Date.Day }}, {{.Date.Year}} – {{ .Params.shares }} shares – {{ .Params.comments }} comment{{- if and (not (eq .Params.comments 0)) (not (eq .Params.comments 1)) -}}s{{- end -}}</span>
  </div>
</section>
<section class="section section--article-image" style="background-image: url(/quart{{- .Params.headerimage -}});">
  <div class="section__content section__content--article-image-width">
    <img src="{{- .Params.headerimage -}}" alt="">
  </div>
</section>
<section class="section section--article-content" >
  <div class="section__content section__content--article-width section__content--padding">
    {{ .Content }}
  </div>
</section>
{{ end }}