{{ define "main" }}
<section class="section section--page-top section--article-header">
  <div class="section__content section__content--article-width section__content--padding">
    <a href="#" class="article__tags">GENERAL</a><a href="#" class="article__tags">GENERAL</a>
    <h1 class="section__title section__title--centered">{{ .Params.titre }}</h1>
    <span class="article__info">David Morneau – March 3, 2019 – 253 shares – 12 comments</span>
  </div>
</section>
<section class="section section--article-image" style="background-image: url(/quart{{- .Params.headerimage -}});">
  <div class="section__content section__content--article-image-width">
    <img src="{{- .Params.headerimage -}}" alt="">
  </div>
</section>
<section class="section section--article-content" >
  <div class="section__content section__content--article-width section__content--padding">
    {{ .Content }}
  </div>
</section>
{{ end }}