{{- define "main" -}}
<section class="container mobile-adjusted page-top" id="top-profiles-header">
    <h1>{{ .Params.Title }}</h1>
    <p>Identify the most popular {{ .Params.platform }} accounts on inBeat.</p>
    <a href="{{ $.Site.BaseURL -}}features/discover" class="btn btn-md btn-crazy" target="_blank">
        Find more influencers
    </a>
</section>

<section class="container mobile-adjusted" id="top-profiles-list">
    {{- $forTiktok := eq .Params.platform "TikTok" -}}
    {{- range $i, $e := .Params.profiles -}}
    <div class="row ctn">
        <div class="col-1">
            <span>{{- add $i 1 -}}</span>
        </div>
        <div class="col-2">
            {{- if $forTiktok -}}
            <img src="https://d3ohwuhzxp1dp0.cloudfront.net/tiktok/{{- $e.id -}}.jpeg" alt="{{- $e.username -}}">
            {{- else -}}
            <img src="https://d3ohwuhzxp1dp0.cloudfront.net/instagram/{{- $e.id -}}.jpeg" alt="{{- $e.username -}}">
            {{- end -}}
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-4">
                    <h4>@{{- $e.username -}}</h4>
                    <span class="name">{{- $e.fullname -}}</span>
                    {{- if not (eq $e.location "") -}}
                    <p>
                        {{- partial "icons/location.html" -}}
                        {{- $e.location -}}
                    </p>
                    {{- end -}}
                </div>
                <div class="col-5 stats">
                    {{- $followers := $e.followers -}}
                    {{- if ge $followers 1000000 -}}
                    <p>{{- div (float (div $followers 100000)) 10 -}}M</p>
                    {{- else if ge $followers 1000 -}}
                    <p>{{- div (float (div $followers 100)) 10 -}}K</p>
                    {{- else -}}
                    <p>{{- $followers -}}</p>
                    {{- end -}}
                    <span>followers</span>
                </div>
                <div class="col-5 stats">
                    <p>{{- div (float (div $e.engagement 10)) 10 -}} %</p>
                    <span>engagement</span>
                </div>
                <div class="col-5 stats">
                    <p>{{- div (float (int (mul $e.commentsToLikes 10000))) 10 -}}</p>
                    <span>comments per 1000 likes</span>
                </div>
                {{- if not (eq $e.hashtags "") -}}
                <div class="col-xs-12">
                    <p class="small"><strong>Most used hashtags:</strong>{{- $e.hashtags -}}</p>
                </div>
                {{- end -}}
            </div>
        </div>
    </div>
    {{- end -}}
</section>

{{- if isset .Params "countries" -}}
{{- if gt (len .Params.countries) 0 -}}
<section class="container mobile-adjusted top-link-list">
    <h3>Discover Influencers by Countries</h3>
    {{- partial "site/toplist.html" (dict "context" . "items" .Params.countries) -}}
</section>
{{- end -}}
{{- end -}}

{{- if isset .Params "cities" -}}
{{- if gt (len .Params.cities) 0 -}}
<section class="container mobile-adjusted top-link-list">
    <h3>Discover Influencers by Cities</h3>
    {{- partial "site/toplist.html" (dict "context" . "items" .Params.cities) -}}
</section>
{{- end -}}
{{- end -}}

<div class="container mobile-adjusted top-link-list" id="top-bottom-cta">
    <div class="col-xs-12">
        <h2>inBeat, for free</h2>
        <h3>Get your Influencer campaign started.</h3>
        <a href="{{- $.Site.Data.settings.bookcall -}}" title="Book a demo" class="btn btn-lg" target="_blank">
            <span>Book a demo</span> &#8212 it's free
        </a>
    </div>
</div>
{{- end -}}