{{- define "main" -}}
<section class="container mobile-adjusted page-top" id="top-profiles-header">
    <div class="header">
      <h1>{{ .Params.Title }}</h1>
    {{- if isset .Params "text_top" -}}
    <p>{{ .Params.text_top }}</p>
    {{- else -}}
    <p>Identify the most popular {{ .Params.platform }} accounts on inBeat.</p>
    {{- end -}}
    </div>
    <a href="{{ $.Site.BaseURL -}}features/deepsearch" class="btn btn-md btn-crazy" target="_blank">
        Find more influencers
    </a>
</section>

<section class="container" id="top-profiles-list">
  {{- $forTiktok := eq .Params.platform "TikTok" -}}
  {{- range $i, $e := .Params.profiles -}}
  <div class="profile-card">
    <div class="content">
      <div class="info">
        <div class="profile-display-wrapper">
          <div class="display">
            <div class="image-container">
              <span class="number">{{- add $i 1 -}}</span>
              <img src="https://d3ohwuhzxp1dp0.cloudfront.net/{{- if $forTiktok -}}tiktok{{- else -}}instagram{{- end -}}/{{- $e.id -}}.jpeg" alt="{{- $e.username -}}">
            </div>
            <div class="display-handle">
              <h4 class="handle">@{{- $e.username -}}</h4>
              <span class="fullname">{{- $e.fullname -}}</span>
              {{- if ne $e.location "" -}}
              <p class="location">
                {{- partial "icons/location.html" -}}
                {{- $e.location -}}
              </p>
              {{- end -}}
              <div class="cta">
                <a href="https://app.inbeat.co/get-started">Work with this creator</a>
              </div>
            </div>
          </div>
          <div class="cta mobile">
            <a href="https://app.inbeat.co/get-started">Work with this creator</a>
          </div>
        </div>
        <div class="bio-info">
          <div class="hashtags">
            <h5>Most used hashtags:</h5>
            <p>{{- if ne $e.hashtags "" -}}{{- $e.hashtags -}}{{- else -}}No hashtags{{- end -}}</p>
          </div>
          {{- if ne $e.bio "" -}}
          <div class="description">
            <p>{{- $e.bio -}}</p>
          </div>
          {{- end -}}
        </div>
      </div>
      <div class="stats-wrapper">
        <div class="stats">
          <div class="stat-item followers">
            {{- $followers := $e.followers -}}
            <p class="value">
              {{- if ge $followers 1000000 -}}
                {{- div (float (div $followers 100000)) 10 -}}M
              {{- else if ge $followers 1000 -}}
                {{- div (float (div $followers 100)) 10 -}}K
              {{- else -}}
                {{- $followers -}}
              {{- end -}}
            </p>
            <span class="label">followers</span>
          </div>
          <div class="stat-item engagement">
            <p class="value">{{- div (float (div $e.engagement 10)) 10 -}}%</p>
            <span class="label">engagement</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{- end -}}
</section>

{{- if isset .Params "countries" -}}
{{- if gt (len .Params.countries) 0 -}}
<section class="container mobile-adjusted top-link-list">
    <h3>Discover Influencers by Countries</h3>
    {{- partial "site/toplist.html" (dict "context" . "items" .Params.countries) -}}
</section>
{{- end -}}
{{- end -}}

{{- if isset .Params "cities" -}}
{{- if gt (len .Params.cities) 0 -}}
<section class="container mobile-adjusted top-link-list">
    <h3>Discover Influencers by Cities</h3>
    {{- partial "site/toplist.html" (dict "context" . "items" .Params.cities) -}}
</section>
{{- end -}}
{{- end -}}

<div class="container mobile-adjusted top-link-list" id="top-bottom-cta">
    <div class="col-xs-12">
        <h2>inBeat, for free</h2>
        {{- if isset .Params "text_bottom" -}}
        <h4>{{ .Params.text_bottom }}</h4>
        {{- else -}}
        <h4>Get your Influencer campaign started.</h4>
        {{- end -}}
        <a href="/book-a-demo" title="Book a demo" class="btn btn-lg" target="_blank">
            <span>Book a demo</span> &#8212 it's free
        </a>
    </div>
</div>
{{- end -}}