{{ define "main" }}
<section class="container mobile-adjusted page-top top-link-list">
    {{- range .Params.platforms -}}
    {{- $platform := .name -}}
    <h3>Discover {{ $platform }} Influencers by Niche</h3>
    {{- partial "site/toplist.html" (dict "context" . "items" .niches) -}}
    <h3>Discover {{ $platform }} Influencers by Country</h3>
    {{- partial "site/toplist.html" (dict "context" . "items" .countries) -}}
    <h3>Discover {{ $platform }} Influencers by City</h3>
    {{- partial "site/toplist.html" (dict "context" . "items" .cities) -}}
    {{- end -}}
</section>
{{ end }}