{{ $mymonths := $.Site.Data.mois.mois }}
{{ $mydays := $.Site.Data.jour.jour }}
<footer class="footer" id="footer">
    <div class="footer__content footer__content--fluid-width footer__content--svg">
    
      <div class="grid grid--5col">
      
        <div class="grid__item grid__item--x2">
          <h3 class="grid__title grid__title--footer-logo">INBEAT</h3>
          <p class="grid__text grid__text--copyright">Copyright &copy; 2019 INBEAT.  <br />All Rights Reserved. Proudly made in Montréeal. </p>
          <ul class="grid__list grid__list--sicons">
              <li><a href="#"><img src="images/social/black/twitter.png" alt="" title=""/></a></li>
              <li><a href="#"><img src="images/social/black/facebook.png" alt="" title=""/></a></li>
              <li><a href="#"><img src="images/social/black/linkedin.png" alt="" title=""/></a></li>
          </ul>
        </div>
        <div class="grid__item">
          <h3 class="grid__title grid__title--footer">Company</h3>
          <ul class="grid__list grid__list--fmenu">
              <li><a href="#">About</a></li>
              <li><a href="#">Carrers</a></li>
              <li><a href="#">Awards</a></li>
              <li><a href="#">Users Program</a></li>
              <li><a href="#">Locations</a></li>
          </ul>
        </div>
        <div class="grid__item">
          <h3 class="grid__title grid__title--footer">Products</h3>
          <ul class="grid__list grid__list--fmenu">

              <li><a href="#">Integrations</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Release Notes</a></li>
          </ul>
        </div>
        <div class="grid__item">
          <h3 class="grid__title grid__title--footer">Support</h3>
          <ul class="grid__list grid__list--fmenu">
              <li><a href="#">Contact</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Press</a></li>
              
          </ul>
        </div>
        
      </div>
      
      
    </div>


</footer>
