<footer>
    <div class="container mobile-adjusted">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-lg-6">
                        <div class="footer-logo small">{{- partial "icons/inbeat-logo-footer.html" -}}</div>
                        <ul>
                            <li>
                                <a href="https://app.inbeat.co" title="Sign in">Sign in</a>
                            </li>
                            {{- range .Site.Data.footer.col1 -}}
                            <li>
                                {{ if eq .anchor "Affiliate" }}
                                    <a href="{{- .link -}}" title="{{- .anchor }}" target="_blank">{{- .anchor }}</a>
                                {{ else }}
                                    <a href="{{- $.Site.BaseURL -}}{{- .link -}}" title="{{- .anchor }}">{{- .anchor }}</a>
                                {{- end -}}
                            </li>
                            {{- end -}}
                        </ul>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1">
                        <p class="small">Features</p>
                        <ul>
                            {{- range .Site.Data.footer.col2 -}}
                            <li>
                                <a href="{{- $.Site.BaseURL -}}{{- .link -}}" title="{{- .anchor }}">{{- .anchor }}</a>
                            </li>
                            {{- end -}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-lg-6">
                        <p class="small">Resources</p>
                        <ul>
                            {{- range .Site.Data.footer.col3 -}}
                            <li>
                                <a href="{{- $.Site.BaseURL -}}{{- .link -}}" title="{{- .anchor }}">{{- .anchor }}</a>
                            </li>
                            {{- end -}}
                        </ul>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-lg-5 col-lg-offset-1">
                        <p class="small">Support</p>
                        <ul>
                            <li>
                                <a href="{{- $.Site.Data.settings.bookcall -}}" title="Book a demo" target="_blank">
                                    Book a demo
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-lg-6">
                        <p class="small">Free Toolkit</p>
                       <ul>
                           {{- range .Site.Data.footer.col4 -}}
                           <li>
                               <a href="{{- $.Site.BaseURL -}}{{- .link -}}" title="{{- .anchor }}">{{- .anchor }}</a>
                           </li>
                           {{- end -}}
                       </ul>
                    </div>
                    <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-lg-5 col-lg-offset-1">
                        <p class="small">Social</p>
                        <ul>
                            <li>
                                <a href="https://www.instagram.com/inbeat.co/" title="Instagram" target="_blank">
                                    Instagram
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC1ur6zPPCD03vIjVbU-yZTg" title="Youtube"
                                    target="_blank">
                                    Youtube
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/inbeat/" title="LinkedIn" target="_blank">
                                    LinkedIn
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottom middle-xs">
                <div><a href="{{- $.Site.BaseURL -}}privacy-policy" title="inBeat. ">Privacy Policy</a></div>
                <div><a href="{{- $.Site.BaseURL -}}terms-and-conditions" title="Terms & Conditions">Terms & Conditions</a></div>
                <div class="bugbounty"><a href="{{- $.Site.BaseURL -}}bug-bounty" title="Bug Bounty" >Found a bug?</a></div>
        </div>
    </div>
</footer>