{{- $mymonths := $.Site.Data.mois.mois -}}
{{- $mydays := $.Site.Data.jour.jour -}}
<footer class="footer" id="footer">
    <div class="footer__content footer__content--fluid-width footer__content--svg">
      <div class="grid grid--5col">
        <div class="grid__item grid__item--x2">
          <h3 class="grid__title grid__title--footer-logo">INBEAT</h3>
          <p class="grid__text grid__text--copyright">Copyright &copy; 2019 INBEAT.  <br />All Rights Reserved. Proudly made in Montréal. </p>
          <!-- <ul class="grid__list grid__list--sicons">
              <li><a href="#"><img src="{{- $.Site.BaseURL -}}images/social/black/twitter.png" alt="" title=""/></a></li>
              <li><a href="#"><img src="{{- $.Site.BaseURL -}}images/social/black/facebook.png" alt="" title=""/></a></li>
              <li><a href="#"><img src="{{- $.Site.BaseURL -}}images/social/black/linkedin.png" alt="" title=""/></a></li>
          </ul> -->
        </div>
        <div class="grid__item"></div>
        <div class="grid__item">
          <h3 class="grid__title grid__title--footer">Product</h3>
          <ul class="grid__list grid__list--fmenu">
              <li><a href="#features">Features</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#pricing">Pricing</a></li>
          </ul>
        </div>
        <div class="grid__item">
          <h3 class="grid__title grid__title--footer">Support</h3>
          <ul class="grid__list grid__list--fmenu">
              <li><a href="mailto:david@inbeat.co">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>