<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "inBeat",
    "alternateName": "inBeat.co",
    "url": "https://www.inbeat.co",
    "logo": "https://www.inbeat.co/images/inbeat-logo@3x.png",
    "image": "{{ .Site.Data.settings.defaultsocialimage }}",
    "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "8193494074",
        "contactType": "Customer Service",
        "availableLanguage": "en"
    },
    "sameAs": [
        "https://www.facebook.com/inBeat.co/",
        "https://www.youtube.com/channel/UC1ur6zPPCD03vIjVbU-yZTg",
        "https://www.linkedin.com/company/inbeat/",
        "https://www.producthunt.com/posts/inbeat"
    ]
}
</script>
