<script type="application/ld+json"> 
{ 
    "@context" : "http://schema.org",
    "@type" : "ProfessionalService", 
    "address" : {
        "@type": "PostalAddress",
        "addressLocality": "{{.Site.Data.settings.address.city}}", 
        "addressRegion": "Quebec", 
        "postalCode": "H2X 1X2", 
        "streetAddress": "51 Rue Sherbrooke Ouest #204"
    }, 
    "name":"inBeat",
    "url":"{{.Site.Params.siteaddress}}",
    "email":"{{.Site.Data.settings.email}}",
    "telephone":"(819) 349-4074",
    "image":"{{.Site.Params.siteaddressno}}{{ .Site.Data.settings.defaultsocialimage }}",
    "openingHours": [ 
        "Mo-Fri 8:00-17:00"
    ],
    "priceRange":"1",
    "paymentAccepted":"Visa, Master Card"
}
</script>
