<link rel="icon" href="{{ "favicon.ico" | absURL }}" sizes="any">
<link rel="icon" href="{{ "favicon.png" | absURL }}" type="image/png">
<link rel="icon" href="{{ "favicon.svg" | absURL }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | absURL }}">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">