<!-- OPEN GRAPH PROTOCOL http://ogp.me/ -->
<meta property="fb:pages" content="{{ .Site.Params.fbpagename }}" />
{{ if eq .Type "articles" }}
<meta property="og:type"   content="article" />
<meta property="og:article:published_time" content='{{.PublishDate.Format "2006-01-02T15:04:05Z07:00"}}' />
<meta property="og:article:modified_time" content="{{.Params.updated}}" />
{{- with .Params.tags -}}
		{{- range . -}}
		<meta property="og:article:tag" content="{{.}}" />
		{{- end -}}
	{{- end -}}
{{ else }}
<meta property="og:type"   content="website" />
{{ end }}
<meta property="fb:app_id" content="{{ .Site.Params.fbappid }}" />

<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="{{ .Lang }}">
<meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}">
<meta property="og:image" content="{{ .Site.Params.siteaddressno }}{{.Params.image | default .Site.Data.settings.defaultsocialimage }}">
<meta property="og:image:secure_url" content="{{ .Site.Params.siteaddressno }}{{.Params.image | default .Site.Data.settings.defaultsocialimage }}"/>
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:description" content="{{ if .IsHome }}{{ .Site.Data.settings.sitedescription }}{{ else if .Description }}{{ .Description }}{{ else }}{{ .Site.Data.settings.sitedescription }}{{ end }}"/>
<meta property="og:site_name" content="{{ .Site.Title }}">


