<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1" />
<meta name="author" content="AkiaMarketing" />
<meta name="description" content="{{ if .IsHome }}{{ .Site.Data.settings.sitedescription }}{{ else if .Description }}{{ .Description }}{{ else }}{{ .Site.Data.settings.sitedescription }}{{ end }}" />
<title>{{if .IsHome}}{{.Site.Data.settings.sitetitle}}{{ else }}{{.Title}}{{end}}{{if .Site.Data.settings.titleautocompletion}} | {{.Site.Title}}{{end}}</title>

