body {
  font-family: $pfont;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $hfont;
}

/********** CTA **********/

/********** HEADER **********/

.header {
  .header__menu {
    &.header-home {
      display: none;
      @include breakpoint(bigphone) {
        display: block;
      }
    }
    @include breakpoint(bigphone) {
      .menu-button {
        border-color: $darkgray;
        &:before {
          border-color: $darkgray;
        }
      }
    }
    li {
      padding: 18px 10px;
      a {
        font-family: $hfont;
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        padding-left: 15px;
        padding-right: 15px;
        &.btn {
          border: 1px solid $royalblue;
          box-sizing: border-box;
          border-radius: 4px;
          color: $royalblue;
          padding-left: 25px;
          padding-right: 25px;
          width: initial;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          &.signup {
            color: white;
            background: $royalblue;
          }
          @media screen and (max-width: 1024px) {
            margin-left: 15px;
          }
        }
      }
    }
  }
  &.header--sticky {
    .header__menu {
      display: block;
    }
  }
}
.header--page {
  position: absolute;
}
.header--page .header__menu > ul > li.header__btn--login > a {
  color: #000;
  border-color: #000;
}

.header--page .menu-button {
  border-bottom: 1px solid #000;
  &:before {
    border-bottom: 1px solid #000;
    border-top: 1px double #000;
  }
}

.header__logo-title {
  img {
    max-height: 45px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    @include breakpoint(bigphone) {
      max-height: 35px;
    }
    @include breakpoint(phone) {
      max-height: 30px;
    }
  }
}

.header--sticky .header__menu ul li a:hover, .header--sticky .header__menu ul li a.selected, .header--sticky .header__menu ul li a.active {
  color: $royalblue;
}

.header__menu>ul>li.header__btn--signup>a {
  background-color: $royalblue;
  border-color: $royalblue !important;
  &:hover {
    color: $royalblue !important;
  }
}

.header--sticky .header__menu ul li.header__btn--login>a:hover {
  border-color: $green;
  color: $green;
}

/********* FOOTER *********/

/********* HOME **********/
.section {
  overflow-x: hidden;
}
#intro {
  @include breakpoint(tablet) {
    height: 120%;
    &:after {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.8);
      z-index: 125;
    }
  }
  @include breakpoint(bigphone) {
    height: 100%;
  }
}

.intro {
  padding-top: 12%;
  @include breakpoint(desktop-lg) {
    padding-top: 16%;
  }
  @include breakpoint(bigphone) {
    height: 100%;
  }
}
.intro__content {
  @include breakpoint(tablet) {
    text-align: center;
    height: 100%;
    position: relative;
  }
}

.intro__title {
  font-size: 54px;
  line-height: 70px;
  font-weight: 400;
  color: #241C15;
  @include breakpoint(desktop-lg) {
    font-size: 68px;
    line-height: 84px;
  }
  @include breakpoint(bigphone) {
    font-size: 44px;
    line-height: 60px;
    padding-top: 60px;
  }
  @include breakpoint(phone) {
    font-size: 40px;
    line-height: 50px;
    padding-top: 100px;
  }
  span {
    font-weight: 700;
  }
}

.intro__subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #707070;
  font-weight: 400;
  font-family: $hfont;
  @include breakpoint(tablet) {
    color: $darkgray;
  }
  @include breakpoint(bigphone) {
    display: none;
  }
}

.intro__description {
  float: left;
  margin-top: 30px;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  font-family: $hfont;
  @include breakpoint(tablet) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  @include breakpoint(bigphone) {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
  @include breakpoint(phone) {
    bottom: 60px;
  }
}

.intro__btn {
  padding: 20px 40px;
  display: inline-block;
  background: $royalblue;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  font-family: $hfont;
  text-align: center;
  white-space: nowrap;
  &:hover {
    color: white !important;
  }
  @include breakpoint(tablet) {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.intro__form {
  padding: 0;
  -webkit-border-radius: $br;
  -moz-border-radius: $br;
  border-radius: $br;
  border: 1px solid $royalblue;
  font-family: $hfont;
  @include breakpoint(tablet) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }
  @include breakpoint(bigphone) {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
  @include breakpoint(phone) {
    bottom: 160px;
  }
  #DemoForm {
    height: 41px;
  }
}

@media screen and (max-height: 500px) {
  .intro {
    padding-top: 10%;
  }
  .intro__title {
    padding-top: 60px;
  }
  .intro__description {
    bottom: 40px;
  }
  .intro__form {
    bottom: 140px;
  }
}

@media screen and (max-height: 350px) {
  .intro {
    padding-top: 0%;
  }
  .intro__title {
    font-size: 35px;
    line-height: 45px;
    padding-top: 60px;
    br {
      display: none;
    }
  }
  .intro__description {
    bottom: 0px;
  }
  .intro__form {
    bottom: 100px;
  }
}

.form-demo__input {
  font-size: 14px;
  color: $darkgray;
  &:placeholder {
    color: $darkgray;
    opacity: 1;
  }
}

.form-demo__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $darkgray;
}
.form-demo__input::-moz-placeholder { /* Firefox 19+ */
  color: $darkgray;
}
.form-demo__input:-ms-input-placeholder { /* IE 10+ */
  color: $darkgray;
}
.form-demo__input:-moz-placeholder { /* Firefox 18- */
  color: $darkgray;
}

.form-demo__submit {
  font-size: 14px;
  background-color: $royalblue;
  border: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  &:hover {
    color: white;
    background-color: rgba(46,91,255,0.8);
    border-color: rgba(46,91,255,0.8);
  }
}

div.intro-video {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  @include breakpoint(bigphone) {
    top: 50px;
    height: 70%;
  }
  .svg-intro-bottom {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: calc(100% + 30px);
    z-index: 111;
  }
}

.section--intro {
  margin-bottom: 200px;
  @include breakpoint(tablet) {
    margin-bottom: 100px;
  }
  @include breakpoint(bigphone) {
    margin-bottom: 50px;
  }
}

.grid--features-akia .grid__item {
  position: relative;
  @include breakpoint(tablet) {
    text-align: center;
  }
  img {
    max-width: 80%;
    margin: auto;
    margin-bottom: 30px;
  }
  .grid__title {
    font-size: 25px;
    line-height: 31px;
    font-weight: 300;
    color: $darkgray;
    span {
      font-weight: 600;
    }
  }
  .grid__text {
    font-size: 14px;
    line-height: 28px;
    color: $darkgray;
    font-weight: 300;
    @include breakpoint(tablet) {
      text-align: center;
    }
  }
  hr {
    position: absolute;
    right: -24px;
    top: 100px;
    width: 48px;
    @include breakpoint(tablet) {
      display: none;
    }
  }
}

.grid--about {
  padding-top: 100px;
  @include breakpoint(bigphone) {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid__title {
    font-size: 43px;
    line-height: 61px;
    color: $darkgray;
    font-weight: 300;
    span {
      font-weight: 600;
    }
    @include breakpoint(bigphone) {
      font-size: 30px;
      line-height: 44px;
    }
  }
  .grid__text {
    font-size: 16px;
    line-height: 33px;
    font-weight: 300;
    color: $darkgray;
    font-family: $pfont;
    span {
      font-weight: 400;
    }
  }
  .grid__item--x3 {
    position: relative;
    .grid__image {
      img {
        margin: auto;
        float: none !important;
        @include breakpoint(tablet) {
          max-width: 300px;
        }
      }
      &.grid__vertical--line:before {
        content: " ";
        position: absolute;
        top: -300px;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 1px;
        background-color: rgba(112,112,112,0.44);
        @include breakpoint(tablet) {
          display: none;
        }
      }
    }
  }
}

.section--about.with--border {
  position: relative;
  padding-bottom: 100px;
  margin-bottom: 50px;
  // &:after {
  //   content: " ";
  //   border-bottom: 1px solid rgba(112, 112, 122, 0.44);
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 50%;
  //   max-width: 400px;
  // }
}

#support .grid--support .grid__more {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#pricing {
  @include breakpoint(tablet) {
    .section__content--padding {
      padding-top: 90px;
    }
  }
  @include breakpoint(bigphone) {
    .section__content--padding {
      padding-top: 75px;
    }
  }
  .section__title {
    font-size: 43px;
    line-height: 61px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 20px;
    &:after {
      display: none;
    }
  }
  .pricing {
    width: calc(100% - 40px);
    max-width: $max-width;
  }
  .section__description {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    padding-bottom: 30px;
    color: $darkgray;
  }
  .pricing__switcher {
    margin-bottom: 50px;
    width: 350px;
    font-family: $hfont;
    font-size: 16px;
  }
  .switcher__button {
    &.monthly {
      width: 40%;
    }
    &.yearly {
      width: 60%;
    }
  }
  .switcher__border {
    width: 40%;
    background-color: black;
  }
  .switcher__button.switcher__button--enabled {
    font-weight: 700;
    span {
      font-weight: 400;
    }
  }
  .switcher__button:nth-child(2).switcher__button--enabled ~ .switcher__border {
    left: 40%;
    width: 60%;
  }
}

.pricing__plan {
  width: 30%;
  margin-right: 5%;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  .ctn {
    z-index: 1;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #B3B3B3;
    background-color: white;
  }
  @media screen and (max-width: 921px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  &:last-of-type {
    margin-right: 0;
  }
  &.popular {
    &:before {
      z-index: 0;
      position: absolute;
      left: -20px;
      top: -20px;
      content: '';
      width: calc(100% + 40px);
      height: calc(100% + 40px);
      border-radius: 4px;
      background: #E8EDFF;
    }
  }
  .pricing__title {
    font-size: 28px;
    line-height: 36px;
    color: $darkgray !important;
    padding: 15px 25px;
    text-align: left;
    font-weight: 400;
    border-bottom: 1px solid #E0E0E0;
  }
  .pricing__details {
    padding: 25px;
  }
}

.pricing__values { 
  height: 132px;
  line-height: initial;
  font-size: initial;
  text-align: left;
  span.non-beta {
    color: $royalblue;
    font-size: 20px;
    line-height: 26px;
    padding: 0px 4px;
    position: relative;
    font-weight: 400;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      top: calc(50%);
      height: 1px;
      background: $royalblue;
    }
  }
  div.empty-beta {
    height: 25px;
  }
  .pricing__value {
    text-align: left;
    .price {
      font-size: 50px;
      line-height: 65px;
      font-weight: 400;
      font-family: $hfont;
      display: block;
    }
  }
  span.interval {
    font-size: 16px;
    line-height: 21px;
    color: #828385;
    font-weight: 400;
  }
  span.per {
    position: absolute;
    left: 190px;
    bottom: 53px;
    font-size: 16px;
    line-height: 21px;
    font-family: $hfont;
    font-weight: 400;
    &.closer {
      left: 162px;
    }
  }
  &:after {
      content:'';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50px;
      height: 1px;
      background: rgba(81,81,81,0.5);
  }
}

.pricing__signup {
  color: white;
  background-color: $royalblue !important;
  border-color: $royalblue !important;
  -webkit-border-radius: $br;
  -moz-border-radius: $br;
  border-radius: $br;
  padding: 8px 0px;
  margin-top: 30px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  font-family: $hfont;
}

.pricing__list li {
  font-size: 16px;
  padding-left: 20px;
  line-height: 30px;
  font-family: $hfont;
  font-weight: 400;
  background-image: url(/img/check.svg);
  color: #241C15;
  text-align: left;
  &.disabled {
    line-height: 30px;
    color: #828385;
    background: url(/img/close.svg) no-repeat 0 50%
  }
  span {
    color: #828385;
  }
}

.pricing__free--plan {
  width: calc(100% - 40px);
  max-width: 1024px;
  margin: 40px auto 0;
  border-radius: 4px;
  border: 1px solid #B3B3B3;
  background-color: white;
  padding: 25px;
  box-sizing: border-box;
  @media screen and (max-width: 921px) {
    margin-top: 0;
  }
  h3 {
    font-size: 28px;
    line-height: 36px;
    color: #444 !important;
    margin: 0 40px 0 0;
    padding: 0;
    text-align: left;
    font-weight: 400;
    display: inline-block;
    @media screen and (max-width: 921px) {
      display: block;
      margin: 0 0 20px 0;
    }
  }
  span {
    font-size: 16px;
    line-height: 30px;
    font-family: "DM Sans",Helvetica,sans-serif;
    font-weight: 400;
    color: #241C15;
    text-align: left;
  }
  .pricing__signup {
    width: initial;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    float: right;
    @media screen and (max-width: 921px) {
      float: none;
      margin-top: 30px;
      display: block;
      text-align: center;
    }
  }
}

.grid--support .grid__more {
  border-color: $royalblue !important;
  background-color: $royalblue;
  &:hover {
    color: $royalblue;
  }
}

.grid__client-logo {
  img {
    @include breakpoint(tablet) {
      max-width: 150px;
    }
  }
}

/*********** FAQ *************/
section#faq {
  border-top: 2px solid #e6e6e6;
  background-color: #fff;
  color: #191919;
  h2 {
    text-align: center;
    font-size: 43px;
    line-height: 61px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 50px;
  }
  h3 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 24px;
    display: inline-block;
    color: $royalblue;
  }
  .sections {
    width: calc(100% - 40px);
    max-width: $max-width;
    margin: 40px auto 0;
    .col {
      flex-basis: 30%;
      max-width: 30%;
      margin-bottom: 30px;
      @media screen and (max-width: 921px) {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
  .faq-reply {
    font-size: 16px;
    line-height: 21px;
  }
  .more-question {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: #241C15;
    text-align: center;
    margin-top: 100px;
  }
  a.btn {
    color: white;
    background-color: $royalblue !important;
    border-color: $royalblue !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 30px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: $hfont;
  }
}

/*********** FLEX UTILS ************/
.flex-row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  & > div {
    box-sizing: border-box;
    flex: 0 0 auto;
  }
}

/*********** AGENCY *************/

section#agency {
  background: #E8EDFF;
  text-align: center;
  h2 {
    font-size: 43px;
    line-height: 61px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 40px;
  }
  a.btn {
    color: white;
    background-color: $royalblue !important;
    border-color: $royalblue !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 30px;
    margin-top: 30px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: $hfont;
  }
  .sections {
    width: calc(100% - 40px);
    max-width: $max-width;
    margin: 80px auto 0;
    & > div {
      border: 1px solid #B3B3B3;
      background: white;
      padding: 20px;
      text-align: left;
      h3 {
        font-size: 28px;
        line-height: 36px;
        font-weight: 400;
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 30px;
        &:after {
          content:'';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 50px;
          height: 1px;
          background: rgb(81,81,81);
        }
      }
    }
  }
  div.basic {
    flex-basis: 30%;
    max-width: 30%;
    @media screen and (max-width: 921px) {
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 40px;
    }
    ul {
      li {
        font-size: 16px;
        padding: 3px 0 3px 20px;
        line-height: 30px;
        font-family: $hfont;
        font-weight: 400;
        background: url(/img/check.svg) no-repeat 0 50%;
        color: #241C15;
        text-align: left;
      }
    }
  }
  div.premium {
    flex-basis: 65%;
    max-width: 65%;
    @media screen and (max-width: 921px) {
      flex-basis: 100%;
      max-width: 100%;
    }
    .col {
      flex-basis: 48%;
      max-width: 48%;
      margin-bottom: 30px;
      padding-left: 20px;
      background: url(/img/check.svg) no-repeat 0 3px;
      @media screen and (max-width: 921px) {
        flex-basis: 100%;
        max-width: 100%;
      }
      h4 {
        font-size: 20px;
        line-height: 26px;
        padding-bottom: 2px;
        font-weight: 400;
      }
      p {
        font-size: 16px;
        line-height: 21px;
        color: #9CA9BA;
      }
    }
  }
}

/*********** THANK YOU **************/
.section--page-merci {
  @include breakpoint(bigphone) {
    padding-top: 150px;
    width: 80%;
    padding-left: 10%;
  }
  h4 {
    font-weight: 500;
  }
  a {
    font-weight: 500;
    font-size: 20px;
  }
}

a {
  color: $royalblue;
  &:hover {
    color: $royalblue;
  }
}

ul.grid__list--fmenu li a {
  &:hover {
    color: $royalblue;
    &:after {
      background: $royalblue;
    }
  }
}

p {
  font-family: $pfont;
}

/********** NORMAL PAGE ************/
.section--page-normal {
  @include breakpoint(bigphone) {
    width: 80%;
    padding-left: 10%;
  }
  h3 {
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 0;
    margin-top: 30px;
  }
  a {
    font-weight: 500;
  }
  p {
    margin-bottom: 10px;
  }
  ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: disc;
    padding-left: 20px;
    font-family: $hfont;
  }
}

/********** OTHER *************/
#netlify-identity-widget {
  z-index: 9999 !important;
}