// Single
h1 {
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 3.5rem;
    letter-spacing: -1.4px;
    color: #292929;
    @include breakpoint(sm) {
        font-size: 3.125rem;
        line-height: 3.875rem;
    }
}

h2 {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #292929;
    @include breakpoint(sm) {
        font-size: 2.5rem;
        line-height: 3.875rem;
    }
}

h3 {
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.5px;
    margin-bottom: 2rem;
    color: #292929;
    @include breakpoint(sm) {
        font-size: 1.75rem;
        line-height: 2.375rem;
    }
}

h4 {
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: -0.2px;
    color: #292929;
    @include breakpoint(sm) {
        font-size: 1.375rem;
        line-height: 2.125rem;
    }
}

h5 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 24px;
    margin-bottom: 1.5rem;
    color: #292929;
    @include breakpoint(sm) {
        font-size: 1.375rem;
        line-height: 2rem;
    }
}

.line {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    width: 100%;
}

.progress-bar--container {
    .progress-bar {
        background: linear-gradient(90deg, #ffe9f0 0%, #faecdb 51.04%, #d6ebe4 100%);
        position: fixed;
        height: 5px;
        width: 0%;
    }
}

#article-ctn {
    max-width: 41.25rem !important;
}

#article-header {
    margin-top: 25px;
    @include breakpoint(sm) {
        margin-top: 50px;
    }
    p {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.9375rem;
        color: #292929;
        @include breakpoint(sm) {
            font-size: 1rem;
            line-height: 1.625rem;
        }
    }
    img {
        max-width: 100%;
    }
    .banner {
        margin-bottom: 2rem;
    }
    .category {
        display: inline-block;
        border-radius: 10px;
        padding: 0.125rem 1.125rem;
        font-size: 0.6875rem;
        line-height: 1rem;
        background-color: #e3e3e3;
    }
    .meta-box {
        margin: 1.5rem 0 2rem;
        @include breakpoint(sm) {
            margin: 2.5rem 0 3rem;
        }
        img {
            display: inline-block;
            width: 2.5rem;
            height: auto;
            margin-right: 1rem;
            vertical-align: middle;
            border-radius: 50%;
            @include breakpoint(sm) {
                width: 3.25rem;
            }
        }
        p {
            display: inline-block;
            margin: 0;
            vertical-align: middle;
        }
    }
    &.influencer-marketing, &.podcasts{
        .category {
            background-color: $green_sub;
        }
        .infos {
            color: $green !important;
        }
    }
    &.ambassador-marketing,
    &.micro-influencer-marketing,
    &.guides,
    &.cpg,
    &.tiktoc
    {
        .category {
            background-color: $red_sub;
        }
        .infos {
            color: $red !important;
        }
    }
    &.ugc,
    &.wikis {
        .category {
            background-color: $yellow_sub;
        }
        .infos {
            color: $yellow !important;
        }
    }
    &.podcasts {
        .category {
            background-color: $green_sub;
            // color: white;
        }
        .infos {
            color: $green !important;
        }
    }
}

#article-body {
    ul,
    ol,
    li {
        font-family: $blogfont;
        font-weight: 300;
        font-size: 1.0625rem;
        line-height: 1.6875rem;
        @include breakpoint(sm) {
            font-size: 1.1875rem;
            line-height: 1.75rem;
        }
    }
    a {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        text-decoration: underline;
    }
    p {
        font-family: $blogfont;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.9375rem;
        color: #292929;
        @include breakpoint(sm) {
            font-size: 1.1875rem;
            line-height: 2.0625rem;
        }
    }
    ul {
        list-style: none;
        padding-left: 35px;
        li {
            position: relative;
            margin: 1rem 0;
            &:before {
                content: "";
                position: absolute;
                left: -35px;
                top: 0.5rem;
                height: 0.375rem;
                width: 0.375rem;
                background-color: black;
                border-radius: 100%;
                box-sizing: border-box;
            }
        }
    }
    ol {
        list-style: none;
        counter-reset: custom-counter;
        padding-left: 35px;
        li {
            counter-increment: custom-counter;
            position: relative;
            margin: 1rem 0;
            &:before {
                position: absolute;
                left: -35px;
                top: 0;
                content: counter(custom-counter);
            }
        }
    }
    img {
        max-width: 100%;
        height: auto;
        max-height: 31.25rem;
        margin: 1rem auto;
    }
    figure {
        margin: 0;
        text-align: center;
        &.kg-width-full {
            img {
                max-width: 100vw;
                max-height: initial;
            }
        }
    }
    figcaption {
        color: $dark_sub;
        font-size: 0.6875rem;
        line-height: 1rem;
        margin-top: -0.5rem;
        text-align: center;
    }
    .pro-tip {
        margin: 0 -5% 1em;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        @include breakpoint(sm) {
            padding: 30px 40px 50px;
            margin: 0 0 2em;
        }
        h4 {
            margin-top: 0;
        }
        p {
            margin: 0;
        }
    }
    blockquote {
        margin: 20px 0 30px;
        padding-left: 30px;
        border-left: 5px solid;
        &:after {
            content: none;
        }
        .quote {
            font-style: italic;
        }
        .author {
            font-size: 1rem;
            .name {
                font-weight: 400;
            }
        }
    }
    blockquote.twitter-tweet {
        opacity: 0;
    }
    .twitter-tweet {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em !important;
    }
    &.influencer-marketing {
        ul li::before,
        blockquote {
            border-color: $green;
        }
        ol li::before {
            color: $green;
        }
        .pro-tip {
            background: $green_sub;
            span {
                color: $green;
            }
        }
        h5 {
            color: $green;
        }
    }
    &.ambassador-marketing,
    &.micro-influencer-marketing,
    &.guides,
    &.cpg,
    &.tiktoc {
        ul li::before,
        blockquote {
            border-color: $red;
        }
        ol li::before {
            color: $red;
        }
        .pro-tip {
            background: $red_sub;
            span {
                color: $red;
            }
        }
        h5 {
            color: $red;
        }
    }
    &.ugc,
    &.wikis {
        ul li::before,
        blockquote {
            border-color: $yellow;
        }
        ol li::before {
            color: $yellow;
        }
        .pro-tip {
            background: $yellow_sub;
            span {
                color: $yellow;
            }
        }
        h5 {
            color: $yellow;
        }
    }
    &.podcasts {
        padding-top: 40px;
    }
}

#article-cta {
    width: 52rem;
    max-width: 100%;
    margin: 2rem 0 5rem;
    @include breakpoint(52rem) {
        margin-left: -4.75rem;
        max-width: initial;
    }
    text-align: center;
    h2 {
        font-size: 3.5rem;
        color: black;
        letter-spacing: -1.4px;
        margin-top: 0;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    h3 {
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 1.625rem;
        line-height: 2.25rem;
    }
    .btn {
        display: inline-block;
    }
    span {
        font-weight: bold;
    }
    .col-xs-12 {
        padding: 1.5rem 1.5rem 2.5rem;
        @include breakpoint(sm) {
            padding: 5rem;
        }
    }
    .influencer-marketing, .podcasts {
        background-color: $green_sub;
    }
    .ambassador-marketing,
    .micro-influencer-marketing,
    .guides,
    .cpg,
    .tiktoc{
        background-color: $red_sub;
    }
    .ugc,
    .wikis {
        background-color: $yellow_sub;
    }
    // .podcasts {
    //     background-color: $dark_sub; color: white;
    // }
}
