.hero_cpm-calculator{
  h1{
    font-weight: 500;
    margin: 0;
    margin-bottom: 24px;
    font-size: 3.5rem;
    line-height: 4rem;
    text-align: center;
    letter-spacing: -1.4px;
    @include breakpoint(sm-down) {
        font-size: 2.25rem;
        line-height: 2.625;
        letter-spacing: -1px;
        margin-bottom: 1rem;
      }  
  }  
  h4{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    margin-bottom: 4rem;
    @include breakpoint(sm-down) {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.625rem;
        margin-bottom: 2rem;
      } 
  }  
}