#hero{

    .hero_cpm-header{
        padding-top: 128px;
        @include breakpoint(sm-down) {
            padding-top: 82px;
          }
      h1{
        font-weight: 500;
        margin: 0;
        margin-bottom: 24px;
        font-size: 3.5rem;
        line-height: 4rem;
        text-align: center;
        letter-spacing: -1.4px;
        @include breakpoint(sm-down) {
            font-size: 2.25rem;
            line-height: 2.625;
            letter-spacing: -1px;
            margin-bottom: 1rem;
          }  
      }  
      h4{
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-align: center;
        margin-bottom: 4rem;
        @include breakpoint(sm-down) {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.625rem;
            margin-bottom: 2rem;
          } 
      }  
    }
    .calculator-toggle{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin-bottom: 33px;
        .calculator-type{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px 14px 3px;
            width: 126px;
            height: 29px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 360px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            transition: all 0.1s ease-in-out;
            &:hover{
                border: 1px solid rgba(0, 0, 0, 0.5);
            }
        }
        .--active{
            background: #EBEBEB;
        }
    }
}