.dfy-features {
    padding: 30px 25px;
    box-sizing: border-box;
    outline: none !important;
    @include breakpoint(xs) {
        padding: 50px 35px;
    }
    @include breakpoint(sm) {
        padding: 58px 51px;
    }
    @include breakpoint(sm-down) {
        margin: 0 !important;
    }
    &#manage {
        background-color: $yellow_sub;
    }
    &#creative {
        background-color: $red_sub;
    }
    &#selection {
        background-color: $green_sub;
    }
    .left-col {
        position: relative;
    }
    p {
        @include breakpoint(md) {
            margin-bottom: 3rem;
        }
    }
    img {
        max-width: 100%;
    }
    .testimonial {
        padding: 25px;
        background: white;
        margin-bottom: 24px;
        @include breakpoint(md) {
            margin-bottom: 0;
        }
        p {
            font-size: 0.875rem;
            margin: 0;
            &.author {
                margin-top: 20px;
                // To align with the image
                line-height: 1.6rem;
            }
        }
        img {
            width: 50px;
            height: 50px;
            float: left;
            margin-right: 20px;
        }
    }
}

#dfy-cta {
    animation: crazy 2s infinite;
    text-align: center;
    padding: 100px 0px 120px;
    @include breakpoint(lg) {
        padding: 160px 0px 180px;
    }
    p {
        margin-bottom: 70px;
    }
}