.mip {
  &#hero {
    padding-bottom: 0;
    margin-bottom: 14rem;
    h4{
      max-width: none;
      margin-bottom: 2.5rem;
    }
  }
  &#brands {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.5rem;
  }
}
