#mockup__card-wrapper{
    // height: 829px;
    overflow: hidden;
    position: relative;
    border: 1px solid #DCDCDC;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    margin-bottom: 128px;
    @include breakpoint(sm-down) {
        margin-top: 1rem;
        padding: 1.5rem 1rem 1.5rem 1rem;
      }
      .mockup__title{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.5px;
        color: #000000;
        margin: 0;
      }
      .mockup__description{
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.3px;
        color: #BBBBBB;
        margin: 0;
        display: block;
      }
      .mockup__preview-configuration-wrapper{
        // gap: 64px;
        // margin-top: 24px;
     
        .col-md-6 {
          flex: 1 1 0 !important;
        }
        .mockup__configuration-section{
          padding-right: 3rem;
          // border-right: 1px solid rgba(0, 0, 0, 0.1);
          height: 780px;
          overflow-y: hidden;
          &:hover {
            overflow-y: overlay;
          }
          &::-webkit-scrollbar {
            width: 2px;
          }
          &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.05);
            // background: #008080;
          }
          &::-webkit-scrollbar-thumb {
            background: #cacaca;
          }
          .mockup__configuration-header-wrapper{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            .mockup__configuration-title{
              font-weight: 500;
              font-size: 30px;
              line-height: 40px;
              letter-spacing: -0.3px;
              color: #141514;
              margin: 0;
            }
            .mockup__configuration-description{
              font-weight: 400;
              font-size: 16px;
              line-height: 26px;
              color: #BBBBBB;
              margin: 0;
            }
          }
        
        }
      }

}
.mockup-controls{
    margin-top: 62px;
    display: flex;
    gap: 22px;
    .control-dropdown-trigger{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 28px;
        border: 1px solid #535562;
        border-radius: 6px;
        padding: 6px 20px;
        cursor: pointer;
    }
}
.mockup-btn{
  color: #FFFFFF;
  background: #000000;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  gap: 10px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  letter-spacing: -0.596318px;
  height: fit-content;
  cursor: pointer;
}
.label{
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3px;
  color: #535562;
  display: block;
}
.profile__input-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  .uploader-wrapper{
    display: flex;
    gap: 8px;
    margin-top: 8px;
  }
} 
.mockup-input{
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  padding: 12px 14px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3px;
  width: -webkit-fill-available;
  &:focus{
    outline: none;
  }
}
.input-wrapper{
  flex: 1 1 auto;
}
.upload_profile-picture-btn{
  padding: 12px 24px;
}
.mockup__configuration-dropzone-wrapper{
  margin-top: 36px;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.3px;
  color: #535562;
  .mockup__description{
    margin-bottom: 8px !important;
  }
}
.mockup__file-uploader {
  cursor: pointer;
  input[type='file'] {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 0.1px;
  }

  .file--upload__draggable {
    cursor: pointer;
    padding: 0.25em;

    border: 1px dashed #BBBBBB;
    border-radius: 4px;    
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.mockup-drag-enter {
    background-color: rgba(177, 176, 176, 0.486);

    // to prevent dragleave event triggered while user dragging over child items
    .file--upload__draggable::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 9999999;
    }
  }
}

.mockup-dropdown{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  padding: 12px 14px;
  cursor: pointer;
  width: 100%;
  position: relative;
  a{
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;  
      display: flex;
      align-items: center;
  }
}
.mockup_dropdown-wrapper{

  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  a{
      text-decoration: none;
      gap: 10px;
  }
  .dropdown-icon{
      margin-left: 8px;
  }
  .mockup-dropdown__dropdown-list{
      background: #FFFFFF;
      border: 1px solid #DCDCDC;
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      list-style: none;
      padding:0;
      position: absolute;
      left: 0;
      right: 0;
      top: 15%;
      z-index: 999;
      display: block;
      margin-top: 3rem;
      .list-item{
          padding: 8px 12px;
          display: flex;
          align-items: center;
          gap: 6px;
          line-height: 0;
          p{
              margin: 0;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px; 
              color: #000000;
              span{
                  opacity: 0.5;
              }
          }
          &:hover{
              background-color: #F9F7F7;
          }
      }
  }
}
.mockup__configuration-ad-action{
  margin-top: 36px;
.mockup_dropdown-wrapper{
  margin-top: 12px;
}
}
.mockup__configuration-like-count{
  margin-top: 36px;
  .likes-count-input{
    margin-top: 12px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    padding: 12px 14px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
    width: -webkit-fill-available;
    &:focus{
      outline: none;
    }
  }
}
.mockup__configuration-message-wrapper{
  margin-top: 36px;
  .message-textarea{
    margin-top: 12px;
    border: 1px solid #BBBBBB;
  border-radius: 4px;
  padding: 12px 14px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.3px;
    width: -webkit-fill-available;
    &:focus{
      outline: none;
    }
  }
}
.mockup__preview-section{
  padding-left: 3rem;
  background: #F9F7F7;
  border-radius: 1px;
  padding: 44px;
}
.mockup-preview-wrapper{
  background: #FFFFFF;
  border: 0.988728px solid #E5E5E5;
filter: drop-shadow(0px 2.48448px 6.83233px rgba(0, 0, 0, 0.1));
border-radius: 3.95491px;
}
.preview-nav{
  padding: 12px 16px 6px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FAFAFA;
  border-bottom:0.537486px solid #AFAFAF;
  overflow: hidden;
  div{
    display: flex;
    align-items: center;
    gap: 21px;
  }
}
.preview-header{
  padding: 8px 16px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .preview-creadincials{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .gradient-border{
    padding: 2px;
    background: linear-gradient(210.07deg, #751BCF 7.72%, #DE0046 37.32%, #F8AF53 89.74%, #F8AF53 92.28%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .profile-picture-wrapper{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #FFFFFF;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .user-name-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .user-name{
    margin: 0;
    font-weight: 700;
    font-size: 15.0496px;
    line-height: 17px;
    color: #262627;
  }
  .sponcered-text{
    font-weight: 400;
    font-size: 12.8943px;
    line-height: 15px;
    color: #262627;
    margin: 0;
  }
}
.preview-body{
  overflow: hidden; 
  background: #F9F9F9;
  img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}
.preview-banner-cta{
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #5395E9;
  font-weight: 700;
  font-size: 15.0496px;
  line-height: 17px;
  color: #FFFFFF;
}
.preview-comments{
  height: 150px;
}
.preview-footer{
  border-top:0.537486px solid #AFAFAF;;
  padding: 11px 23px;
  display: flex;
  align-items: center;
  gap: 57px;
}
.preview-download-wrapper{
display: flex;
align-items: initial;
gap: 10px;
margin-top: 24px;
  .mockup-download-btn{
    flex: 1 1 auto;
    justify-content: center;
    border: 1.43116px solid transparent;
  }
  .mockup-copy-btn{
    padding: 15px 17px;
    background-color: #FFFFFF;
    border: 1.43116px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: #535562;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.preview-cta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 15px;
  .like-share-comment{
    display: flex;
    align-items: center;
    gap: 19px;
  }
}
.preview-description{
  font-size: 15.0496px;
  line-height: 17px;
  color: #262627;
  padding: 0 16px 19px 16px;
  .previwe-likes{
    font-weight: 700;
  }
  .preview-caption{
    font-weight: 400;
  }
}
.preview-design-switch{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 24px;
}
.design-type{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 360px;
  cursor: pointer;
  .question-circle{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #FFFFFF;
  }
}
.design__type-true{
  background-color: #000000;
  color: #FFFFFF;
}
.design-type.clear-fields{

  .question-circle{
    background-color:black;
  }
}
.preview-image-body{
  height: 400px;
  width: 100%;
}
.mockup-platforms{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 46px;
  .platform{
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .platform.instagram{
    background-color: #FFE9F0;
  }
  .platform.facebook{
    background-color: #CCF6FF;
  }
  .platform.tiktoc{
    background-color: #E4E0FC;
  }
}
.mockup__configuration-wrapper{
  padding: 44px 24px 44px 44px;
}
.ad__type-wrapper{
  margin-top: 19px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d8d8d8;
  .ad-type__card{
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    // height: 153px;
    // width: 153px;
    cursor: pointer;
    padding: 2px;
    transition: all 0.3s ease-in-out;
    &:hover{
      border: 1px solid #000000;
    }
    &:active{
      border: 1px solid #000000;
      box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    }
    
    .ad_type-title{

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 13px 12px;
      .--active{
        color: #262627;
      }
      p{
        font-size: 12px;
        line-height: 13px;
        color: #C2C2C2;
        margin: 0;
        cursor: pointer;
      }
      span{
        margin: 0;
        color: #C2C2C2;
      }
      .circle{
        height: 12px;
        width: 12px;
        border-radius: 50%;
        border: 1px solid #C2C2C2;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        .circle-inner{
          background-color: #000000;
          height: 8px;
          width: 8px;
          border-radius: 50%;
        }
      }
    }
  }
  .ad-type__card.--active{
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
  }
}
.ad-type{
  margin-top: 24px;
}
.upload_placeholder-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  p{
    margin: 0;
    margin-top: 12px;
    letter-spacing: -0.3px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    span{
      font-weight: 700;
    }
  }
  sub{
    margin: 0;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
  }
}
.mockup_preview-story{
  background-color:  #141514;
  position: relative;
  // padding: 7px 10px;
  padding-bottom: 7px;
  .header-wrapper{
    position: absolute;
    top: 7px;
    right: 10px;
    left: 10px;

    z-index: 99;
  }
  .line{
    height: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    &::after {
      content: "";
      height: 2px;
      display: inline-block;
      position: absolute;
      left: 0;
      background: #FFFFFF;
      transition: all;
      z-index: 999;
      animation: underline-animated 15s infinite;
    }
    @keyframes underline-animated {
      0% {
        right: 100%;
      }
      50% {
        right: 0;
        left: 0;
      }
      100% {
        left: 0%;
      }
    }
  }
  .user-name{
    color: #FFFFFF;
  }
  .sponcered-text{
    color: #FFFFFF;
  }
  .preview-header{
    padding: 8px 0px;
  }
  .story-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 21px;
  }
  .story__preview-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    .cta-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
    }
    .cta{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      span{
        cursor: pointer;
        font-weight: 500;
        font-size: 11.8647px;
        line-height: 12px;
        text-align: center;
        letter-spacing: -0.0673536px;    
        color: #000000;
        display: block;
        padding: 14px 17px;
        background-color: #FFFFFF;
        border-radius: 67px;
      }
    }
  }
  .preview-body{
    display: block;
    position: relative;
    padding-top: 56.25%;
    height: 500px;
    background-color:  #141514;
    img{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
