#teaser-trial {
    margin-top: $mobilenavheight;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: $light_grey;
    @include breakpoint(sm) {
        margin-top: $navheight;
    }
    @include breakpoint(md) {
        padding-top: 6.75rem;
        padding-bottom: 6.75rem;
    }
    p.description {
        margin-bottom: 4rem;
    }
    p.features {
        margin-left: 30px;
        position: relative;
        svg {
            position: absolute;
            left: -32px;
            top: 0.5rem;
        }
        span {
            font-weight:bold;
        }
    }
    .btn {
        margin-bottom: 3rem;
        display: block;
        @include breakpoint(md) {
            margin-bottom: 0;
            display: inline;
        }
        span {
            font-weight: bold;
        }
    }
}

$plan-padding: 1.5rem;
#pricing {
    margin-top: 40px;
    @include breakpoint(sm) {
        margin-top: 70px;
    }
    @include breakpoint(md) {
        margin-top: 160px;
    }
    .pricing-header {
        text-align: left;
        margin-bottom: 20px;
        margin-top: 30px;
        @include breakpoint(md) {
            margin-top: 0;
            text-align: center;
            margin-bottom: 100px;
        }
    }
    .pricing-schedule {
        & > span {
            display: inline-block;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            vertical-align: middle;
            &:first-child {
                margin-right: 2rem;
                &.disabled{
                    opacity: .2;
                }
            }
            span {
                vertical-align: middle;
                &.disabled{
                    opacity: .2;
                }
                &.deal {
                    margin-left: 5px;
                    font-size: 0.6875rem;
                    line-height: 1rem;
                    color: $dark;
                    background: linear-gradient(180deg, #FFE9F0 0%, #FAECDB 51.04%, #D6EBE4 100%);
                    border-radius: 10px;
                    padding: 0.1rem 0.3rem;
                }
            }
        }
    }
    #pricing-row {
        &.monthly {
            #monthly-schedule {
                font-weight: bold;
                text-decoration: underline;
            }
            .plan .monthly-price {
                display: inline-block;
            }
        }
        &.yearly {
            #yearly-schedule span:not(.deal) {
                font-weight: bold;
                text-decoration: underline;
            }
            .plan .yearly-price {
                display: inline-block;
            }
        }
        .currency {
            font-size: 0.6em;
        }
    }
    .col-md-4 {
        margin-bottom: 1rem;
        @include breakpoint(lg) {
            margin-bottom: 0;
        }
    }
    .plan {
        padding: $plan-padding;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &#growth {
            background: $red_sub;
            a.btn {
                background: $red;
                background-color: $red;
                border-color: $red;
            }
        }
        &#brand {
            background: $yellow_sub;
            a.btn {
                background: $yellow;
                background-color: $yellow;
                border-color: $yellow;
            }
        }
        &#agency {
            background: $green_sub;
            a.btn {
                background: $green;
                background-color: $green;
                border-color: $green;
            }
        }
        &#business {
            margin-top: 0;
            @include breakpoint(md) {
                margin-top: 5.25rem;
                margin-bottom: 5.25rem;
            }
            background: #F8F8F8;
            .content{
                padding: 0;
                padding-bottom: 4.375rem;
                @include breakpoint(sm) {
                    padding: 4.375rem;
                }
            }
            a.btn {
                border: none !important;
                margin-top: 0;
                padding-bottom: 1.225rem;
            }
        }
        h2 {
            font-weight: 400;
            margin-bottom: 0;
        }
        .monthly-price, .yearly-price {
            font-weight: 500;
            display: none;
        }
        p.title {
            margin: 0;
        }
        p.description {
            margin: 0;
            padding-bottom: 2.25rem;
            color: $dark_sub;
            font-weight: 400;
        }
        a.btn {
            display: block;
            margin-top: 3rem;
            font-weight: bold;
        }
        div.features {
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            padding-top: 2.25rem;
            &.featured-business{
                border-top: 1px solid rgba(0, 0, 0, 0.2); 
                border-left: none;
                padding-top: 2.25rem;
                margin-right: 0;
                margin-left: 0;
                @include breakpoint(sm) {
                    padding-left: 4.375rem;
                    padding-right: 4.375rem;
                    padding-top: 0;
                    margin-top: 2.25rem;
                    margin-bottom: 2.25rem;
                    border-left: 1px solid rgba(0, 0, 0, 0.2);
                    border-top: none;
                    padding-top: 0;
                } 
            }
            [class*="col-"] {
                align-content: center;
                padding-left: 0;
                padding-right: 0;
                @include breakpoint(sm-down) {
                    max-width: none;
                    padding-left: .2rem;
                    padding-right: .2rem;
                }
            }
            p {
                &.disabled span:first-child{
                    opacity: 0.2;
                }
                font-size: 1rem;
                margin-left: 5px;
                position: relative;
                margin-top: .75rem;
                margin-bottom: 1rem;
                svg.icon--check, svg.icon--close {
                    position: absolute;
                    left: -32px;
                    top: 0.5rem;
                }
                svg.icon--info {
                    position: absolute;
                    cursor: pointer;
                    right: 0;
                    top: 0.5rem;
                    opacity: 0.25;
                    transition: opacity 0.2s;
                    &:hover{
                        opacity: 1;
                    }
                }
                .small {
                    font-size: 0.6em;
                }
                &.not {
                    color: rgba(0, 0, 0, 0.25);
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &.empty {
                    display: none;
                    @include breakpoint(sm) {
                        display: block;
                    }
                }
            }
        }
    }
}
// how-it-works-affiliate is from the affiliate page, but same style
#included, #how-it-works-affiliate, #how-it-works-features {
    .btn-section{
        margin-top: 3.125rem;
        .btn{
            font-weight: bold;
        }
    }
    h4 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    p {
        max-width: 17.5rem;
        margin-top: 0.7rem;
        &.title {
            font-weight: bold;
            margin-bottom: 1rem;
        }
        &.small {
            margin-bottom: 3rem;
            &:last-child {
                margin-bottom: 0;
            }
            &.subtitle {
                color: $dark_sub;
                margin-bottom: 2rem;
                a {
                    color: $dark_sub;
                    text-decoration: underline;
                }
            }
        }
    }
}