// Contains a list of links to top pages
.top-link-list {
    text-align: center;
    a {
        text-transform: capitalize;
        color: $dark_sub;
        &:hover {
            text-decoration: underline;
        }
    }
    ul {
        margin: 0 0 0 20px;
        padding-left: 0;
        list-style: none;
        @include breakpoint(xs) {
            list-style: disc;
        }
    }
    li {
        text-align: center;
        @include breakpoint(xs) {
            text-align: left;
        }
    }
    .row {
        margin-bottom: 50px;
        & > div {
            @include breakpoint(md-down) {
                &:nth-child(2) {
                    order: 3;
                }
                &:nth-child(3) {
                    order: 2;
                }
            }
            @include breakpoint(xs-down) {
                flex: 0 0 100%;
                max-width: 100%;
                &:nth-child(2) {
                    order: 2;
                }
                &:nth-child(3) {
                    order: 3;
                }
            }
        }
    }
}

// Profile top page
#top-profiles-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 40px;

  width: fit-content;
  align-items: center;
  color: black;

  .header {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 2.8rem;
      margin: 0;
    }

    p {
      margin: 0;
      text-align: center;
      font-size: 1rem;

    }
  }

  @include breakpoint(sm) {
    padding: 80px 0;

    .header {
      gap: 16px;

      h1 {
        font-size: 2.2rem;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}

#top-profiles-list {
  .profile-card {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    gap: 32px;
    padding: 52px 0;

    .image-container {
      display: flex;
      gap: 1rem;

      .number {
        font-size: 1rem;
      }

      img {
        width: 132px;
        height: 132px;
        border-radius: 100%;
        border: 1px solid #72727209;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        background-color: rgba(184, 184, 184, 0.1);
      }
    }

    .content {
      display: grid;
      gap: 60px;
      height: fit-content;
      grid-template-columns: 1fr 2fr 1fr;


      .info {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .display {
          display: flex;
          flex-direction: column;
          gap: 6px;

          .handle {
            margin: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.0187rem;
          }

          .fullname {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.2rem;
            opacity: 0.75;
          }

          .location {
            margin: 10px 0 0;
            font-size: 0.875rem;
          }
        }

        .cta {
          a {
            font-size: 0.8125rem;
            font-weight: 400;
            line-height: 1.25rem;
            background-color: black;
            color: white;
            padding: 10px 12px
          }
        }
      }

      .bio-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 8px;

        .hashtags {
          display: flex;
          flex-direction: column;
          gap: 6px;

          h5,
          p {
            font-size: 0.75rem;
            font-weight: 400;
            font-style: normal;
            letter-spacing: -0.0125rem;
            line-height: normal;
            margin: 0;
          }

          p {
            opacity: 0.75;
          }
        }

        .description {
          p {
            font-size: 0.8125rem;
            font-weight: 400;
            line-height: 1.25rem;
            opacity: 0.50;
            margin: 0;
          }
        }
      }

      .stats-wrapper {
        display: flex;
        align-items: center;
        height: 100%;

        .stats {
          background-color: #F9F7F7;
          display: flex;
          padding: 40px;
          gap: 40px;
          height: fit-content;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 2px;

          .stat-item {
            display: flex;
            flex-direction: column;
            gap: 0px;
            align-items: center;

            .value {
              font-size: 1rem;
              letter-spacing: -0.01875rem;
              margin: 0;
            }

            .label {
              font-size: 0.75rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

.container.top-link-list,
.container#top-profiles-list,
.container#top-profiles-header {
    max-width: 1024px;
    @include breakpoint(tablet) {
        max-width: 720px;
    }
    @include breakpoint(phone) {
        max-width: 540px;
    }
}

#top-bottom-cta {
    text-align: center;
    margin-bottom: 1rem;
    @include breakpoint(sm) {
        margin-bottom: 2rem;
    }
    h2 {
        font-size: 2.5rem;
        line-height: 3.875rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h4 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 400;
        margin: 1rem auto 2rem;
        max-width: 500px;
    }
    .btn {
        display: inline-block;
        color: white;
    }
    span {
        font-weight: bold;
    }
    .col-xs-12 {
        padding: 1.5rem 1.5rem 2.5rem;
        background-color: $green_sub;
        @include breakpoint(sm) {
            padding: 5rem;
        }
    }
}