// Contains a list of links to top pages
.top-link-list {
    text-align: center;
    a {
        text-transform: capitalize;
        color: $dark_sub;
        &:hover {
            text-decoration: underline;
        }
    }
    ul {
        margin: 0 0 0 20px;
        padding-left: 0;
        list-style: none;
        @include breakpoint(xs) {
            list-style: disc;
        }
    }
    li {
        text-align: center;
        @include breakpoint(xs) {
            text-align: left;
        }
    }
    .row {
        margin-bottom: 50px;
        & > div {
            @include breakpoint(md-down) {
                &:nth-child(2) {
                    order: 3;
                }
                &:nth-child(3) {
                    order: 2;
                }
            }
            @include breakpoint(xs-down) {
                flex: 0 0 100%;
                max-width: 100%;
                &:nth-child(2) {
                    order: 2;
                }
                &:nth-child(3) {
                    order: 3;
                }
            }
        }
    }
}

// Profile top page
#top-profiles-header {
    text-align: center;
    h1 {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
    p {
        text-align: center;
        margin: 0 auto 4rem;
    }
}

#top-profiles-list {
    margin-top: 80px;
    padding-bottom: 60px;
    .row {
        & > div {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            box-sizing: border-box;
        }
        &.ctn {
            border-bottom: 1px solid #ebebeb;
            padding-top: 20px;
            padding-bottom: 20px;
            &:last-of-type {
                border: none;
            }
        }
    }
    .col-1 {
        flex: 0 0 10%;
        max-width: 10%;
        @include breakpoint(sm) {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
        }
        span {
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
        }
    }
    .col-2 {
        flex: 0 0 90%;
        max-width: 90%;
        @include breakpoint(sm) {
            flex: 0 0 20%;
            max-width: 20%;
        }
        img {
            width: 100px;
            height: auto;
            border-radius: 50%;
            margin-left: calc(40% - 35px);
            padding-bottom: 20px;
            @include breakpoint(sm) {
                margin-left: 0;
                padding-bottom: 0;
            }
        }
    }
    .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        @include breakpoint(sm) {
            flex: 0 0 71.66667%;
            max-width: 71.66667%;
            text-align: left;
        }
        h4 {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 1.3rem;
            line-height: 1.1;
        }
        span {
            color: $dark_sub;
            &.name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                display: block;
            }
        }
        p {
            margin-top: 0.5rem;
            text-align: center;
            svg {
                margin-right: 0.5rem;
            }
            @include breakpoint(sm) {
                text-align: left;
            }
        }
    }
    .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 20px;
        @include breakpoint(sm) {
            flex: 0 0 34%;
            max-width: 34%;
            padding-bottom: 0;
        }
    }
    .col-5 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        @include breakpoint(sm) {
            flex: 0 0 22%;
            max-width: 22%;
        }
        &.stats {
            margin-top: 0.1rem;
            @include breakpoint(xs-down) {
                line-height: 1.2;
            }
            p {
                font-size: 1.25rem;
                font-weight: bold;
                margin: 0;
            }
            span {
                @include breakpoint(xs-down) {
                    font-size: 0.75rem;
                }
            }
        }
    }
    .col-xs-12 {
        p {
            color: $dark_sub;
            font-size: 0.9rem;
            line-height: 1.2;
            margin: 10px 0;
        }
        strong {
            margin-right: 5px;
        }
    }
}

.container.top-link-list,
.container#top-profiles-list,
.container#top-profiles-header {
    max-width: 960px;
    @include breakpoint(tablet) {
        max-width: 720px;
    }
    @include breakpoint(phone) {
        max-width: 540px;
    }
}

#top-bottom-cta {
    text-align: center;
    margin-bottom: 1rem;
    @include breakpoint(sm) {
        margin-bottom: 2rem;
    }
    h2 {
        font-size: 2.5rem;
        line-height: 3.875rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    h4 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 400;
        margin: 1rem auto 2rem;
        max-width: 500px;
    }
    .btn {
        display: inline-block;
        color: white;
    }
    span {
        font-weight: bold;;
    }
    .col-xs-12 {
        padding: 1.5rem 1.5rem 2.5rem;
        background-color: $green_sub;
        @include breakpoint(sm) {
            padding: 5rem;
        }
    }
}

#top-popup {
    &.modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.15);
        display: table;
        transition: opacity .3s ease;
    }
    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    .modal-container {
        width: calc(100% - 40px);
        margin: 0px auto;
        background-color: #fff;
        transition: all .3s ease;
        position: relative;
        border-radius: 5px;
        @media screen and (min-width: 880px) {
            width: 800px;
        }
    }
    .row {
        padding: 40px;
        height: 100%;
    }
    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 2;
        svg {
            width: 1.8rem;
            height: 1.8rem;
            margin-left: 8px;
            vertical-align: middle;
            stroke: $dark !important;
        }
    }
    h6 {
        font-style: normal;
        font-weight: 500;
        font-size: 2.1rem;
        line-height: 2.5rem;
        letter-spacing: -0.3px;
        color: $dark;
        max-width: 35rem;
        @media screen and (min-width: 800px) {
            max-width: 25rem;
        }
    }
    p {
        font-size: 1rem;
        line-height: 1.625rem;
        color: $dark;
        margin-bottom: 35px;
        width: 100%;
        @media screen and (min-width: 800px) {
            max-width: 25rem;
        }
    }
    .badge {
        display: inline-block;
        border-radius: 10px;
        padding: 0.125rem 0.375rem;
        font-size: 0.6875rem;
        line-height: 1rem;
        background-color: $green_sub;
        text-transform: uppercase;
    }
    input {
        background: rgba(199, 199, 199, 0.25);
        width: 100%;
        border: none;
        outline: none;
        height: 60px;
        padding: 5px 20px;
        box-sizing: border-box;
        margin-bottom: 10px;
        @media screen and (min-width: 500px) {
            width: 250px;
            margin-bottom: 0px;
        }
    }
    button {
        background-color: $dark;
        color: white;
        height: 60px;
        border: none;
        padding: 5px 20px;
        cursor: pointer;
    }
    .error {
        color: red;
        margin: 0;
        display: none;
    }
    .green-section {
        background-color: $green_sub;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 240px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        display: none;
        @media screen and (min-width: 800px) {
            display: block;
        }
    }
    #book {
        position: absolute;
        right: 100px;
        top: 50%;
        transform: translateY(-50%);
        height: 290px;
        display: none;
        #check {
            display: none;
        }
        @media screen and (min-width: 800px) {
            display: block;
        }
    }
    &.completed {
        #book #check {
            display: block;
        }
    }
}