<!DOCTYPE html>
<html lang="{{- $.Lang -}}">
	{{ partial "site-head.html" . }}
	<body>
		{{ `<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->` | safeHTML }}
		{{ partial "header/gtm.html" . }}
		{{ partial "site-header.html" . }}
		{{ partial "site/videoPopup.html" (dict "context" . "video" "deep-search" "link" "https://app.inbeat.co/get-started" "text" "<span>Try it now</span> &#8212 it's free" ) }}
		{{ block "main" . }}
		{{ end }}
		{{ partial "site-footer.html" . }}
		{{ partial "footer/scripts.html" . }}
	</body>
</html>