<!DOCTYPE html>
<html lang="{{- $.Lang -}}">
	{{ partial "site-head.html" . }}
	<body>
		{{ `<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->` | safeHTML }}
		{{ partial "header/gtm.html" . }}
		{{ partial "site-header.html" . }}
		{{ $content :=  `<div class="content-video"><video controls><source src="/videos/deep-search.mp4" /></video></div><div class="btn-cta"><a href="https://app.inbeat.co/get-started" target="_blank"><button class="btn"><span>Try it now</span> — it’s free</button></a></div>` }}
		{{ partial "site/popup.html" (dict "context" . "id" "videoPopup" "content" $content "canClose" true  ) }}  
		{{ block "main" . }}
		{{ end }}
		{{ partial "site-footer.html" . }}
		{{ partial "footer/scripts.html" . }}
	</body>
</html>