<!DOCTYPE html>
<html lang="{{$.Lang}}">
	{{ partial "site-head.html" . }}
	<body>
		{{ `<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->` | safeHTML }}
		{{ partial "header/google-tag-manager.html" . }}
		{{ partial "site-header.html" . }}
		{{block "main" . }}
		{{end}}
		{{ partial "site-footer.html" . }}
		{{ partial "site/modal-login-signup.html" . }}
		{{ partial "site/modal-animation.html" . }}
		{{ partial "footer/site-scripts.html" . }}
	</body>
</html>