.section__content--article-width {
  width: 100%;
  max-width: 800px;
  margin:auto;
  clear:both;
  @include breakpoint(tablet) {
    width: 80%;
  }
  @include breakpoint(bigphone) {
    width: 90%;
  }
}

.section__content--article-image-width {
  width: 80%;
  margin:auto;
  clear:both;
}

/* Header */
.section--article-header {
  text-align: center;
  .section__content--padding {
    padding: 80px 0 60px;
  }
  .article__tags {
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-size: 14px; 
    margin: 0 10px;
    text-transform: uppercase;
  }
  .section__title {
    max-width: 500px; 
    margin: 15px auto 25px; 
    font-size: 40px;
    line-height: 1em;
    font-weight: 500;
    color: #333;
    padding-bottom: 0px;
    &:after {
      content: none;
    }
  }
  .article__info {
    color: #666;
    font-size: 14px;
  }
}

.section--article-image {
  background-size: 0 0;
  img {
    max-width: 100%;
    height: auto;
  }
  @include breakpoint(phone) {
    background-position: center;
    background-size: cover;
    height: 200px;
    .section__content {
      display: none;
    }
  }
}

.section--article-content {
  p {
    line-height: 1.9em;
    padding-bottom: 1em;
    font-size: 18px;
    &:last-of-type {
        padding-bottom: 0;
    }
    &.sidenote {
      color: #919191;
      font-size: 15px;
      span {
        font-size: 17px;
        font-weight: 500;
      }
    }
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 45px 0 15px;
    padding: 0;
  }
  h3 {
    font-size: 28px;
    line-height: 36px;
    margin: 35px 0 15px;
    padding: 0;
  }
  h4 {
    font-size: 24px;
    line-height: 30px;
    margin: 35px 0 15px;
    padding: 0;
  }
  img {
    max-width: 100%;
    height: auto;
    max-height: 600px;
    padding-bottom: 2em;
    padding-top: 1em;
    margin: auto;
    display: block;
    &:last-child {
      padding-top: 2em;
    }
  }
  .pro-tip {
    padding: 30px 40px 32px 30px;
    margin-bottom: 1em;
    background: #eff7ff;
    h3 {
      padding-bottom: 10px;
      color: #333;
      font-size: 22px;
      line-height: 1em;
      font-weight: 500;
      margin: 0;
    }
    @include breakpoint(bigphone) {
      margin: 0 -5% 1em;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  blockquote {
    margin: 20px 0 30px;
    padding-left: 20px;
    border-left: 5px solid;
    border-color: #4cca87;
    &:after {
      content: none;
    }
  }
  blockquote.twitter-tweet {
    opacity: 0;
  }
  .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em !important;
  }
  li {
    line-height: 1.9em;
    font-size: 18px;
  }
  ul {
    text-align: left;
    margin: -7px 0 18px;
    overflow: hidden;
    padding: 0 0 0 30px;
    @include breakpoint(bigphone) {
      padding: 0 0 0 7px;
    }
    li {
      padding: 0 0 0 20px;
      margin: 0;
      list-style-type: none;
      vertical-align: top;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 13px;
        left: 0;
        width: 6px;
        height: 6px;
        background: #333;
        border-radius: 100%;  
      }
    }
  }
  ol {
    counter-reset: li;
    padding: 0;
    list-style-type: none;
    margin: -7px 0 18px 50px;
    @include breakpoint(bigphone) {
      margin: -7px 0 18px 27px;
    }
    li {
      margin: 0;
      position: relative;
      &:before {
        content: counter(li)'. ';
        counter-increment: li;
        font-size: 16px;
        font-family: 'PT Sans',sans-serif;
        font-weight: 400;
        text-align: right;
        position: absolute;
        width: 40px;
        left: -52px;
        top: 1px;
        @include breakpoint(bigphone) {
          width: 20px;
          left: -27px;
        }
      }
    }
  }
}

/******** RESPONSIVE ********/
@include breakpoint(laptop) {

}

@include breakpoint(tablet) {
  
}

@include breakpoint(bigphone) {
  
}

@include breakpoint(phone) {
  
}