/*********** ARTICLES SINGLE ************/

.section__content--article-width {
  width: 100%;
  max-width: 650px;
  margin:auto;
  clear:both;
  @include breakpoint(tablet) {
    width: 80%;
  }
  @include breakpoint(bigphone) {
    width: 90%;
  }
}

.section__content--article-image-width {
  width: 80%;
  margin:auto;
  clear:both;
  text-align: center;
}

/* Header */
.section--article-header {
  text-align: center;
  font-family: $hfont;
  .section__content--padding {
    padding: 80px 0 60px;
  }
  .article__tags {
    display: inline-block;
    text-decoration: none;
    color: #666;
    font-size: 14px; 
    margin: 0 10px;
    text-transform: uppercase;
  }
  .section__title {
    max-width: 500px; 
    margin: 15px auto 25px; 
    font-size: 40px;
    line-height: 1em;
    font-weight: 500;
    color: #333;
    padding-bottom: 0px;
    font-family: $hfont;
    &:after {
      content: none;
    }
  }
  .article__info {
    color: #666;
    font-size: 14px;
  }
}

.section--article-image {
  background-size: 0 0;
  overflow: hidden;
  img {
    max-width: 100%;
    height: auto;
  }
  @include breakpoint(phone) {
    background-position: center;
    background-size: cover;
    height: 200px;
    .section__content {
      display: none;
    }
  }
}

.section--article-content {
  h1,h2,h3,h4,h5,h6 {
    font-family: $hfont;
  }
  p,li,a,span,blockquote {
    font-family: $pfont;
  }
  p {
    line-height: 35px;
    padding-bottom: 1em;
    font-size: 21px;
    &:last-of-type {
        padding-bottom: 0;
    }
    &.sidenote {
      color: #919191;
      font-size: 15px;
      span {
        font-size: 17px;
        font-weight: 500;
      }
    }
    @include breakpoint(bigphone) {
      font-size: 18px;
    }
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 45px 0 15px;
    padding: 0;
    @include breakpoint(bigphone) {
      font-size: 30px;
    }
  }
  h3 {
    font-size: 28px;
    line-height: 36px;
    margin: 35px 0 15px;
    padding: 0;
    @include breakpoint(bigphone) {
      font-size: 26px;
    }
  }
  h4 {
    font-size: 24px;
    line-height: 30px;
    margin: 35px 0 15px;
    padding: 0;
  }
  h5 {
    font-size: 22px;
    line-height: 26px;
    margin: 25px 0 15px;
    padding: 0;
  }
  img {
    max-width: 100%;
    height: auto;
    max-height: 600px;
    padding-bottom: 2em;
    padding-top: 1em;
    margin: auto;
    display: block;
    &:last-child {
      padding-top: 2em;
    }
  }
  .pro-tip {
    padding: 30px 40px 32px 30px;
    margin-bottom: 2em;
    background: #eff7ff;
    h3 {
      padding-bottom: 10px;
      color: #333;
      font-size: 22px;
      line-height: 1em;
      font-weight: 500;
      margin: 0;
    }
    @include breakpoint(bigphone) {
      margin: 0 -5% 1em;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
  blockquote {
    margin: 20px 0 30px;
    padding-left: 20px;
    border-left: 5px solid;
    border-color: #4cca87;
    &:after {
      content: none;
    }
  }
  blockquote.twitter-tweet {
    opacity: 0;
  }
  .twitter-tweet {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em !important;
  }
  li {
    line-height: 35px;
    font-size: 21px;
    @include breakpoint(bigphone) {
      font-size: 18px;
    }
  }
  ul {
    text-align: left;
    margin: -7px 0 18px;
    overflow: hidden;
    padding: 0 0 0 30px;
    @include breakpoint(bigphone) {
      padding: 0 0 0 7px;
    }
    li {
      padding: 0 0 0 20px;
      margin: 0;
      list-style-type: none;
      vertical-align: top;
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 13px;
        left: 0;
        width: 6px;
        height: 6px;
        background: #333;
        border-radius: 100%;  
      }
    }
  }
  ol {
    counter-reset: li;
    padding: 0;
    list-style-type: none;
    margin: -7px 0 18px 50px;
    @include breakpoint(bigphone) {
      margin: -7px 0 18px 27px;
    }
    li {
      margin: 0;
      position: relative;
      &:before {
        content: counter(li)'. ';
        counter-increment: li;
        font-size: 18px;
        font-family: 'PT Sans',sans-serif;
        font-weight: 400;
        text-align: right;
        position: absolute;
        width: 40px;
        left: -52px;
        top: 1px;
        @include breakpoint(bigphone) {
          width: 20px;
          left: -27px;
        }
      }
    }
  }
  .capture-widget {
    padding: 50px 80px;
    margin: 3em -50px 3em -50px;
    background: $royalblue;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: white;
    width: initial;
    .grid__item {
      margin-bottom: 0;
    }
    span {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 1.9px;
      font-family: $hfont;
    }
    h4 {
      margin: 15px 0;
      color: white;
      font-size: 30px;
      line-height: 40px;
      font-weight: 700;
    }
    p {
      font-size: 18px;
      line-height: 30px;
    }
    button {
      border: none !important;
      background: none !important;
      padding: 0 !important;
      font-family: $hfont;
      color: white;
      margin-top: 30px;
      display: block;
      font-size: 18px;
      line-height: 30px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      padding: 0;
      @include breakpoint(tablet) {
        padding-top: 1em;
      }
      @include breakpoint(bigphone) {
        padding-top: 1.5em;
      }
    }
    @include breakpoint(tablet) {
      margin-left: 0;
      margin-right: 0;
    }
    @include breakpoint(bigphone) {
      margin: 2em -6% 2em;
      padding-left: 6%;
      padding-right: 6%;
    }
  }
}

/* Share */

.share-post {
  display: none;
  text-align: left;
  width: 40px;
  margin-top: -16px;
  position: absolute;
  right: 0;
  z-index: 20;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  right: -200px;
  opacity: 0;
  &.stick {
    right: -200px;
    opacity: 0;
  }
  &.show {
    right: 0;
    opacity: 1;
  }
}

@media (min-width: 830px) {
  .share-post {
      display:block
  }

  .share-post.invisible {
      display: none;
      visibility: hidden;
  }

  .share-post.stick {
      position: fixed;
      top: 80px !important;
      margin: 0
  }
}

.sharrre {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 60px
}

.sharrre .box {
    display: block;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    width: 40px;
    height: 60px;
    text-align: center;
    padding: 0;
    a {
      color: white;
    }
}

.twitter .box {
    background-color: #1ba6ff;
    border-radius: 3px 0 0
}

.facebook .box {
    background-color: #1164bb
}

.googlePlus .box {
    background-color: #e5362e
}

.linkedin .box {
    background-color: #0077b5;
    border-radius: 0 0 0 3px
}

.twitter .box:hover {
    background-color: #1895e5
}

.facebook .box:hover {
    background-color: #0f5aa8
}

.googlePlus .box:hover {
    background-color: #cd3129
}

.linkedin .box:hover {
    background-color: #006ba3
}

.twitter .box:active {
    background-color: #1584cc
}

.facebook .box:active {
    background-color: #0d5095
}

.googlePlus .box:active {
    background-color: #b72c24
}

.linkedin .box:active {
    background-color: #005f90
}

.sharrre .box i {
    font-size: 18px;
    line-height: 40px
}

.sharrre .box svg {
  height: 60px;
}

.share-post-mobile {
    display: block;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

@media (min-width: 830px) {
    .share-post-mobile {
        display:none
    }
}

.share-post-mobile .sharrre {
    float: left;
    width: 33.3333%;
    height: 40px;
    line-height: 34px;
    margin: 0
}

.share-post-mobile .sharrre .box {
    width: 100%;
    height: 40px;
    line-height: 34px;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    .share {
      height: 40px;
      svg {
        height: 40px;
      }
    }
}

.share-post-mobile .sharrre .box .count {
    margin-left: 8px;
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    font-weight: 700
}

.share-post-mobile .twitter .box {
    border-radius: 3px 0 0 3px
}

.share-post-mobile .linkedin .box {
    border-radius: 0 3px 3px 0
}

.share-post-mobile .sharrre .box i {
    line-height: 40px
}

@media (max-width: 830px) {
    .share-post-mobile .twitter .box {
        border-radius:0
    }

    .share-post-mobile .linkedin .box {
        border-radius: 0
    }
}

.share-post-bottom .sharrre {
    display: inline-block;
    margin: 0 6px 6px 0
}

.share-post-bottom .sharrre,.share-post-bottom .sharrre .box {
    width: auto;
    min-width: 80px;
    height: 40px;
    line-height: 35px;
    font-family: 'PT Sans',sans-serif;
    font-size: 16px;
    font-weight: 700
}

.share-post-bottom .sharrre .box {
    border-radius: 3px;
    padding: 6px 12px;
    display: flex;
    display: -webkit-flex;
    line-height: normal;
    align-items: center;
    justify-content: center
}

.share-post-bottom .sharrre .box .share {
    display: inline-block
}

.share-post-bottom .sharrre .box .count {
    margin-left: 8px
}

.share-post-bottom .sharrre .box i {
    font-size: 18px;
    line-height: normal;
    vertical-align: middle;
    margin-top: -4px;
    text-align: right
}

/******** ARTICLES LIST *********/
.grid--articles {
  .grid__item--padding {
    background-color: white;
  }
  .grid__item--illustration {
    display: block;
    @include breakpoint(tablet) {
      display: none;
    }
  }
  .page-title {
    text-align: left;
    @include breakpoint(tablet) {
      text-align: center;
    }
    h1 {
      font-size: 60px;
      line-height: 69px;
      font-weight: 400;
      padding-bottom: 50px;
      @include breakpoint(tablet) {
        font-size: 40px;
        line-height: 46px;
        padding-bottom: 30px;
      }
    }
    .subtitle {
      font-size: 16px;
      line-height: 19px;
      color: $purple;
      margin-bottom: 20px;
      @include breakpoint(tablet) {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
      }
    }
    img {
      margin: 30px auto 50px;
      width: 200px;
      height: auto;
      display: none;
      @include breakpoint(tablet) {
        display: block;
      }
    }
  }
  .item--article {
    box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.17);
    padding: 20px 30px;
    margin-bottom: 30px;
    font-family: $hfont;
    .author {
      font-size: 14px;
      line-height: 18px;
      color: #A7A7A7;
      margin-bottom: 15px;
    }
    a {
      font-size: 20px;
      line-height: 29px;
      color: #444 !important;
      text-decoration: none !important;
    }
  }
}

/******** RESPONSIVE ********/
@include breakpoint(laptop) {

}

@include breakpoint(tablet) {
  
}

@include breakpoint(bigphone) {
  
}

@include breakpoint(phone) {
  
}