#bite-style-1 .modal-content {
    padding: 85px 80px;
    background: $royalblue;
    background: -moz-linear-gradient(left, $royalblue 0%, $purple 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, $royalblue), color-stop(100%, $purple));
    background: -webkit-linear-gradient(left, $royalblue 0%, $purple 100%);
    background: -o-linear-gradient(left, $royalblue 0%, $purple 100%);
    background: -ms-linear-gradient(left, $royalblue 0%, $purple 100%);
    background: linear-gradient(to right, $royalblue 0%, $purple 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E5BFF', endColorstr='#6969F2', GradientType=1 );
}
#bite-style-1 .popup-title {
    font-size: 35px;
    line-height: 1.25;
    margin-bottom: 14px;
    font-family: $articlefont;
}
#bite-style-1 .popup-text {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    margin-bottom: 39px;
    font-family: $articlefont;
}
#bite-style-1 .form-control {
    width: 260px;
    height: 50px;
    padding: 6px 21px;
}
#bite-style-1 .form-control::-moz-placeholder {
    line-height: 2.6;
}
#bite-style-1 .form-control:-moz-placeholder {
    line-height: 2.6;
}
#bite-style-1 .btn {
    width: 62px;
    height: 50px;
    background-color: $royalblue;
    cursor: pointer;
}
#bite-style-1 .btn:hover {
    background-color: #fff;
}
#bite-style-1 .btn:hover svg path {
    fill: $royalblue;
} 
#bite-style-1 .btn:active {
    -moz-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    -o-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}
@media only screen and (max-width: 575px) {
    #bite-style-1 .form-inline {
        display: block !important;
    }
    #bite-style-1 .form-control,
    #bite-style-1 .btn {
        width: 100%;
        text-align: center;
    }
    #bite-style-1 .modal-content {
        padding: 40px;
    }
}