<div id="Subheader" class="contact thank-you-page" style="background-image: url('/img/tiny-house-lovers-contact.jpg'); background-position: center 77%; padding:230px 0 100px !important; background-repeat: no-repeat;">
    <div class="container">
        <div class="column one">
            <h1 class="title">Oups! Looks like we couldn't find what you were looking for..<span class="icon-thumbs-down" style="margin-left: 20px; color: white"></span></h1>
        </div>
    </div>
</div>
<main class="main" id="contact">
	<div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section" style="padding-top:60px; padding-bottom:20px; ">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one  valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr thank-you-page">
                                            <h4>Sorry for that! Please go back to our <a href='{{ $.Scratch.Get "homePage" }}'>home page</a>, or discover our <a href='{{ $.Scratch.Get "articlesPage" }}'>lastest advices to help you optimize your Tiny House</a>.</h4>
                                            <div class="contact-separator"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section the_content no_content">
                        <div class="section_wrapper">
                            <div class="the_content_wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>