<div class="share-post">
  <div class="twitter sharrre" ><div class="box"><div class="share">
    <a href="https://twitter.com/share?url={{- $.Site.BaseURL -}}&amp;text={{- .Params.titre -}}&amp;hashtags=influencermarketing,inbeat" target="_blank"><i class="fab fa-twitter"></i></a>
  </div></div></div>
  <div class="facebook sharrre"><div class="box"><div class="share">
    <a href="http://www.facebook.com/sharer.php?u={{- $.Site.BaseURL -}}" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
  </div></div></div>
  <div class="linkedin sharrre"><div class="box"><div class="share">
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{- $.Site.BaseURL -}}&title={{- .Params.titre -}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div></div></div>
</div>
<div class="share-post-mobile">
  <div class="twitter sharrre"><div class="box"><div class="share">
    <a href="https://twitter.com/share?url={{- $.Site.BaseURL -}}&amp;text={{- .Params.titre -}}&amp;hashtags=influencermarketing,inbeat" target="_blank"><i class="fab fa-twitter"></i></a>
  </div></div></div>
  <div class="facebook sharrre"><div class="box"><div class="share">
    <a href="http://www.facebook.com/sharer.php?u={{- $.Site.BaseURL -}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
  </div></div></div>
  <div class="linkedin sharrre"><div class="box"><div class="share">
    <a href="http://www.linkedin.com/shareArticle?mini=true&url={{- $.Site.BaseURL -}}&title={{- .Params.titre -}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div></div></div>
</div>