<div id="banner" class="preventPointer">
    <a href="{{ .url }}" target="_blank" class="{{ .class }}" data-popup-id="videoPopup">
        <div class="text-content">
            <p class="small">{{ .text }} <span>{{- partial (printf "icons/%s.html" "arrow-left") -}}</span> </p>
        </div>
    </a>
    <div id="close">
        <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.634277L11 10.6343" stroke="black"/>
        <path d="M1 10.6343L11 0.634277" stroke="black"/>
        </svg>
    </div>
</div>