<section class="container mobile-adjusted" id="ib_campaign-spend-calculator">
      <div class="calc-row">
        <div class="calculator-input-section calc-col">
          <div class="title">Insert Campaign Info</div>
          <div class="slider-control-wrapper">
            <div class="controls-wrapper">
              <div class="ib-spend-control-wrapper">
                <h5>Your campaign budget</h5>
                <div class="input-dropdown-wrapper">
                  <input type="text" class="ib-spend-input" @keydown="checkIfNumber"  @change="onChange($event,'campaignBudget')" :value="getInputValue('campaignBudget')"> 
                  <dropdown :options="currencyOptions" :optionselected="selectedCurrency"
                  @option-select="optionSelect($event,'selectedCurrency')"></dropdown>
                </div>
              </div>     
            </div>
            <slider v-model="campaignBudget" @input="sliderValueUpdate"></slider>
          </div>
          <div class="slider-control-wrapper">
            <div class="controls-wrapper" >
              <div class="ib-spend-control-wrapper">
                <h5>Avg. followers per influencer</h5>
                <div class="input-dropdown-wrapper influencer-type-dropdown">
                  <input type="text" class="ib-spend-input" @keydown="checkIfNumber"  @change="onChange($event,'influencerFollowersCount')" :value="getInputValue('influencerFollowersCount')"> 
                  <dropdown :options="influencerOptions" :optionselected="selectedInfluencerType"
                  @option-select="optionSelect($event,'selectedInfluencerType')"></dropdown>
                </div>
              </div>     
            </div>
            <!-- <slider @input="sliderValueUpdate" v-model="influencerFollowersCount"></slider> -->
            <no-ui-slider @input="sliderValueUpdate" v-model="influencerFollowersCount"></no-ui-slider>
          </div>
          <div class="post-story-count-controller">
            <div class="controller-wrapper">
              <div class="d-flex">
                {{- partial "icons/post-spend.html" -}}
                <span>{postCount} Posts / influencer</span>
              </div>
              <div class="increament-decreament-wrapper">
                <div :class="[{'--disabled' : postCount <= 0 },'btn']" @click="decrenentCount('postCount')">
                  {{- partial "icons/minus.html" -}}
                </div>
                <div class="btn" @click="increamentCount('postCount')">
                  {{- partial "icons/plus.html" -}}
                </div>
              </div>
            </div>
            <div class="controller-wrapper">
              <div class="d-flex">
                {{- partial "icons/story-spend.html" -}}
                <span>{storyCount} Stories / influencer</span>
              </div>
              <div class="increament-decreament-wrapper">
                <div :class="[{'--disabled' : storyCount <= 0},'btn']" @click="decrenentCount('storyCount')">
                  {{- partial "icons/minus.html" -}}
                </div>
                <div class="btn" @click="increamentCount('storyCount')">
                  {{- partial "icons/plus.html" -}}
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="calculator-output-wrap calc-col">
          <div class="calculator-output">
            <div class="estimate-reach-field calculation-field">
              {{- partial "icons/estimate-reach.html" -}}
              <div class="calculation-wrapper">
                <div class="title">
                  Your estimated reach will be:
                </div>
                <div class="value">{abbreviateNumber(calculatedValues.totalReach[0])} - {abbreviateNumber(calculatedValues.totalReach[1])}</div>
              </div>
            </div>
            <div class="calculation-field">
              {{- partial "icons/influencer.html" -}}
              <div class="calculation-wrapper">
                <div class="value">{abbreviateNumber(calculatedValues.numberOfProfiles[0]) + '-' + abbreviateNumber(calculatedValues.numberOfProfiles[1])}</div>
                <div class="title">
                  Influencers
                </div>
              </div>
            </div>
            <div class="calculation-field">
              {{- partial "icons/engagement-spend.html" -}}
              <div class="calculation-wrapper">
                <div class="value">{abbreviateNumber(calculatedValues.totalEngagements[0])} - {abbreviateNumber(calculatedValues.totalEngagements[1])}</div>
                <div class="title">
                  Engagement
                </div>
              </div>
            </div>
            <div class="calculation-field">
              {{- partial "icons/impression.html" -}}
              <div class="calculation-wrapper">
                <div class="value">{abbreviateNumber(calculatedValues.totalImpressions[0])} - {abbreviateNumber(calculatedValues.totalImpressions[1])}</div>
                <div class="title">
                  Impressions
                </div>
              </div>
            </div>
            <div class="calculation-field">
              {{- partial "icons/insta-post.html" -}}
              <div class="calculation-wrapper">
                <div class="value"><span v-if="postCount > 0">{abbreviateNumber(calculatedValues.numberOfPosts[0])} - {abbreviateNumber(calculatedValues.numberOfPosts[1])} </span><span v-if="storyCount > 0 && postCount > 0">/</span><span v-if="storyCount > 0">{abbreviateNumber(calculatedValues.numberOfStories[0])} - {abbreviateNumber(calculatedValues.numberOfStories[1])}</span></div>
                <div class="title">
                  Instagram <span v-if="postCount > 0">posts</span><span v-if="storyCount > 0 && postCount > 0">/</span><span v-if="storyCount > 0">stories</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

{{- if getenv "IS_PROD" -}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{- end -}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.2/nouislider.min.js"></script>
<script>
      Vue.component('dropdown', {
        data: function () {
            return {
                selectedOption:this.optionselected,
                isOpenDropdown: false
            }
        },
        props:{
            options: {
              type: Array,
            },
            optionselected:{
              type: Object
            }
        },
        watch:{
          optionselected(value){
            this.selectedOption = value
          }
        },
        methods: {
        openDropdown(e){
        this.isOpenDropdown = !this.isOpenDropdown
          window.addEventListener('click', (event)=>{
            if (this.$refs.dropdown && !this.$refs.dropdown.contains(event.target)){
                this.closeDropdown()
            }
          });
        },
        closeDropdown(e){
            this.isOpenDropdown = false
        },
        selectOption(option){
            this.selectedOption = option
            this.$emit('option-select', this.selectedOption);
            
        },
        },

        template:  `
        <div class="mockup_dropdown-wrapper input-dropdown-wrapper">      
            <div class="mockup-dropdown input-dropdown"  @click.prevent="openDropdown" ref="dropdown"  tabindex="1">     
                    <a href="javascript:void(0)" v-html="selectedOption.name">
                        Select CTA
                    </a>
                    <svg width="11" height="6" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L5.4698 5L10 1" stroke="black"/>
                    </svg>
                </div>
                <ul class="mockup-dropdown__dropdown-list" v-show="isOpenDropdown">
                    <li class="list-item" v-for="option in options" @click="selectOption(option)">
                        <p class="list-title"  v-html="option.name"></p>
                    </li>            
                </ul>
            </div>
        </div>
    `
    })
   Vue.component('slider', {
        data: function () {
            return {
                sliderValue : this.value,
                showTooltip: false,
                // sliderIntervals:['1K','5K','10K','50K','100K','250K','500K'],
                sliderIntervals:[1,5,10,50,100,250,500],
                dummyVal:this.value,
                increatmentIntervalValue: 9
            }
        },
        props:{
          value:{
            type: String,
            default :1,
          }
        },
        watch:{
          value(value){
            this.decodeValue(value)
            // this.sliderValue = value
            this.updateTooltipPosition()
          },
        },
        methods:{
          decodeValue(val){
            if(val >= 20 && val < 125){
              val = val - (((val / 10)-1) * 9 )
              this.sliderValue = val + ''
              this.encodeValue(val)
            }
            else if(val >= 125 && val <= 250){
              val = (val / 25) + 15
              this.sliderValue = val + ''
              this.encodeValue(val)
            }
            else if(val >= 300 && val <= 500){
              val = val / 10
              let multi = val === 30 ? 4 : val === 35 ? 8 :val === 40 ? 12 :val === 45 ? 16: val === 50 ? 20: 4 
              val = val - multi
              this.sliderValue = val + ''
              this.encodeValue(val)
            }else{
              this.sliderValue = val + ''
              this.encodeValue(val)
            }
            this.updateTooltipPosition()
          },
          encodeValue(val){
            if(val > 10 && val < 20){
              val = ((val - 10) * 9 ) + val
              this.dummyVal = val + ''
            }else if(val >= 20 && val <= 25){
              val = (val - 15)*25
              this.dummyVal = val + ''
            }else if(val > 25 && val <= 30){
              let dVal = val * val / 2
              val = val === 26 || val === 27 ? dVal - val : dVal + val
              val = Math.round(((val)) / 50)*50
              this.dummyVal = val + ''
            }
            else{
              this.dummyVal = this.sliderValue
            }
          },
          sliderValueChange(e){
            let val = Math.round(e.target.value)
            this.encodeValue(val)
            this.updateTooltipPosition(e)
            this.updateSliderValue()
             this.showTooltip = true
          },
          updateSliderValue(){
            this.$emit('update:modelValue',this.dummyVal)
            this.$emit('input',this.dummyVal)
          },
          updateTooltipPosition(e){
            let slider = this.$refs.sliderInput
            var value = (this.sliderValue-slider.min)/(slider.max-slider.min)*100
            slider.style.background = 'linear-gradient(to right, #000000 0%, #000000 ' + value + '%, rgba(204, 192, 192, 0.2) ' + value + '%, rgba(204, 192, 192, 0.2) 100%)'
            // slider.style.background = 'rgba(204, 192, 192, 0.2)';
            let incValue = this.sliderValue >=0 && this.sliderValue <= 6 ? 1.4 : this.sliderValue > 6 && this.sliderValue < 14 ? 1 : this.sliderValue >= 20 && this.sliderValue <= 30 ? -1 : 0
            this.$refs.sliderValue.style.left = Math.round(value + incValue) + "%";
          },
          onBlur(){
           this.showTooltip = false
          },
          onFocus(){
            this.showTooltip = true
          },
          onIntervalClick(value){
            this.decodeValue(value)
            this.updateSliderValue()
          },
        },
        mounted(){
          this.updateTooltipPosition()
        },

        template:  `
        <div class="range"  @mouseover='onFocus' @mouseleave='onBlur'>
          <div ref='sliderValue' class="sliderValue">
            <span v-html="dummyVal + 'K'" :class="{'show': showTooltip}">{sliderValue}</span>
          </div>
          <ul class="interval-wrapper" ><li  v-for="i in sliderIntervals" @click="onIntervalClick(i)" :key="i" class="interval" v-html="i + 'K'"></li></ul>
          <div class="field">
            <input type="range" ref='sliderInput' min="1" max="30" @input='sliderValueChange' v-model='sliderValue' steps="1" @mouseLeave="onBlur" @focus="onFocus">
          </div>
        </div>
    `
    })
    Vue.component('no-ui-slider', {
  template: 
  `
  <div class='slider-container'>
    <div ref='slider' class='slider'></div>
  </div>
  `,
  props:{
          value:{
            type: Number,
            default :'1',
          },// regular "value" prop to v-model become alive
        },
  watch:{
    value(newValue, oldValue){
      // Prevent infinit loop with common noUilSlider event
      if(this.$refs.slider.noUiSlider.get() != newValue){
          this.$refs.slider.noUiSlider.set(newValue); // Set value manually
      }     
    }
  },
  mounted(){
    
    // Create a slider from ref
    noUiSlider.create(this.$refs.slider, {
      start: this.value,
      step: 1000,
      connect: 'lower',
      tooltips: [
        {
          to: function(e) {
            // return r()(e)
            return `${Math.round(e/1000)}K`;
          },
          from: function(e) {
            return 'K'
          }
        },
      ],
      // range: { 'min': 10, 'max': 100 }
      // connect: true,
    // behaviour: 'tap',
    // start: [500, 4000],
    range: 
    //   {
    //     // Starting at 500, step the value by 500,
    //     // until 4000 is reached. From there, step by 1000.
    //     'min': [1],
    //     '16.66%': [5, 1],
    //     '33.33%': [10, 5],
    //     '50%': [50, 5],
    //     '66.66%': [100, 5],
    //     '83.33%': [250, 5],
    //     'max': [500]
    // },
      {
        "min":[1000],
        "16.66%":[5000,1000],
        "33.33%":[10000,5000],
        "50%":[50000,5000],
        "66.66%":[100000,5000],
        "83.33%":[250000,5000],
        "max":[500000]
      },
                pips: {
                    mode: "range",
                    format: {
                        to: function(e) {
                            // return r()(e)
                          return `${Math.round(e/1000)}K`;
                        },
                        from: function(e) {
                            return 'K'
                        }
                    },
                    density: -1
                }
              });
    
    // Emit regular "input" event with
    this.$refs.slider.noUiSlider.on(


      'update', (values, handle) => {
        this.$emit('input', Math.round(values[handle]) ) 
        console.log(values[handle],'han')
      }
        );
   },
  methods:{
    setValue(value){
      this.$refs.slider.noUiSlider.set(value);
    }
  }
    })
    var app = new Vue({
      el: '#ib_campaign-spend-calculator',
      data: {
        currencyOptions:[{name:'EUR',code:'EUR'},{name:'GBP',code:'GBP'},{name:'USD',code:'USD'}],
        selectedCurrency:{name:'EUR',code:'EUR'},
        influencerOptions:[{name:'NANO',code:'NANO'},{name:'MICRO',code:'MICRO'},{name:'MACRO',code:'MACRO'}],
        selectedInfluencerType:{name:'NANO',code:'NANO'},
        postCount : 1,
        storyCount: 1,
        campaignBudget:'1',
        rate : [25,43],
        influencerFollowersCount: 1000,
        calculatedValues: {"numberOfProfiles":[18,31],"numberOfPosts":[18,31],"numberOfStories":[18,31],"totalEngagements":[2000,3000],"totalReach":[10000,18000],"totalImpressions":[27000,47000]}
        },
        // computed: {
        //     computedCalculations() {
        //       let calculations = {}
        //       switch(this.selectedInfluencerType.name) {
        //       case 'NANO':
        //         this.rate = [25,43]
        //         break;
        //       case 'MICRO':
        //         this.rate = [80,450]
        //         break;
        //       case 'MACRO':
        //         this.rate = [5000,10000]
        //         break;
        //       default:
        //         return
        //       }
        //       // let numberOfProfiles = [] 
        //       // let numberOfStories = [] 
        //       // let numberOfPosts = [] 
        //       // this.rate.forEach(ra => {
        //       //   let budget = this.campaignBudget * 1000
        //       //   numberOfProfiles.push(Math.round(budget / ra))
        //       // });
        //       // if(numberOfProfiles){
        //       // numberOfProfiles.forEach(profile => {
        //       //   let budget = this.campaignBudget * 1000
        //       //   let storyCount = profile * this.storyCount
        //       //   let postCount = profile * this.postCount
        //       //   this.rate.forEach(ra => {
        //       //     let budget = this.campaignBudget * 1000
        //       //     numberOfProfiles.push(Math.round(budget / ra))
        //       //   })
        //       //   console.log(this.rate[0])
        //       // })
        //       // }

        //       return {reach: this.rate}
        //     },
        //     getComputedNumberOfProfiles(){
        //       let budget = this.campaignBudget * 1000
        //       let stories = budget / this.storyCount
        //       let posts = budget / this.postCount
        //       let numberOfProfiles = [] 
        //       let numberOfStories = [] 
        //       let numberOfPosts = [] 
        //       this.rate.forEach(ra => {
        //         numberOfStories.push(Math.round(stories / ra))
        //         numberOfPosts.push(Math.round(posts / ra))
        //       });
        //       return {numberOfProfiles: numberOfPosts,numberOfStories:numberOfStories,numberOfPosts:numberOfPosts}
        //     },
        // },
        watch:{
          influencerFollowersCount(va){
            let dva = va / 1000
              switch(true) {
              case dva >=1 && dva <= 5:
                this.selectedInfluencerType = {name:'NANO',code:'NANO'}
                break;
              case dva >= 5 && dva <= 50:
              this.selectedInfluencerType = {name:'MICRO',code:'MICRO'}
                break;
              case dva >=  50 && dva <= 250:
              this.selectedInfluencerType = {name:'MACRO',code:'MACRO'}
                break;
              default:
                return
              }
          }
        },
    methods:{
      optionSelect(e,type){
        if(type === 'selectedInfluencerType'){
          this.setInfluencerCount(e.name)
        }
        this[type] = e
        this.calculateValues();
      },

      setInfluencerCount(type){
        switch(type) {
            case 'NANO':
              this.influencerFollowersCount = '5' * 1000
              break;
            case 'MICRO':
            this.influencerFollowersCount = '50' * 1000
              break;
            case 'MACRO':
            this.influencerFollowersCount = '250' * 1000
              break;
            default:
            this.influencerFollowersCount = '1' * 1000
        }
      },
      increamentCount(type){
        this[type]++
        this.calculateValues();
      },
      decrenentCount(type){
        if((type === 'postCount' && this.storyCount === 0 && this.postCount ===1) || (type === 'storyCount' && this.postCount === 0 && this.storyCount ===1)){
          return
        }
        if(this[type] > 0){
          this[type]--
        }
        this.calculateValues();
      },
      onChange(e,type){
        let dVal = e.target.value.replace(',','')
        dVal =  dVal > 500000 ? 500000 : dVal < 1000 ? 1000 : dVal
        let roundedValue 
        if((dVal >= 10000 && dVal <= 100000) || (dVal > 200000 && dVal <= 250000)){
          roundedValue = Math.round(dVal/10000)*10000
        }else if(dVal > 100000 && dVal <= 250000){
          roundedValue = Math.round(dVal/25000)*25000
        }else if(dVal >= 250000 && dVal <= 500000){
          roundedValue = Math.round(dVal/50000)*50000
          e.target.value = roundedValue
        }else{
          roundedValue = Math.round(dVal/1000)*1000
        }
        this[type] = roundedValue;
        this.calculateValues();
      },
      checkIfNumber(event) {
        const regex = new RegExp(/(^[0-9]*$)|(Backspace|Tab|Delete|ArrowLeft|ArrowRight)/);
        return !event.key.match(regex) && event.preventDefault();
      },
      getInputValue(type){
        let value = this[type] + ''
        console.log(type,this[type],value,'get')
        return value.replace(/[^0-9]/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      },
      calculateValues() {
        fetch('https://campignspencalculator.pulkitagarwal15.repl.co/calculate', {
          method: 'POST',
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            currency: this.selectedCurrency.code,
            budget: this.campaignBudget * 1000,
            followers:this.influencerFollowersCount,
            posts:this.postCount,
            stories:this.storyCount,
          }),
        }).then(_ => _.json())
        .then(response => {
          this.calculatedValues = response
        })
      },
      abbreviateNumber(number){  
        const SI_SYMBOL = ["", "K", "M", "B", "T", "P", "E"];
        // what tier? (determines SI symbol)
        var tier = Math.log10(Math.abs(number)) / 3 | 0;           
        if(tier == 0) return number;
        tier = tier > 6 ? 6 : tier
        var suffix = SI_SYMBOL[tier];
        var scale = Math.pow(10, tier * 3);
        var scaled = number / scale;
        return scaled.toFixed(0) + suffix;
      },
      sliderValueUpdate(){
        this.calculateValues()
      }
    },
    // beforeCreate(){
    //   // this.calculateValues()
    //   this.calculateValues()
    // },
    mounted(){
      // console.log(this.calculatedValues,'2')
    },

      // To make sure there's no conflict with Hugo templating
      delimiters: ['{', '}'],
    });
    </script>