<section class="container-fluid clients-influencer" id="{{- .Params.clients.id -}}">
    {{- if .Params.clients.title -}}
    <div class="col-xs-12 col-md-12 align-center" style="margin-bottom: 64px;"><h3>{{- .Params.clients.title -}}</h3></div>
    {{- end -}}
    <div class="container">
        <div class="slider">
            <div class="slide stack-logo">{{- partial "icons/btan.html" -}} {{- partial "icons/new-balance.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/prose.html" -}}{{- partial "icons/happen.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/disney.html" -}}{{- partial "icons/7eleven.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/nordstorm.html" -}}{{- partial "icons/chatbook.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/got-milk.html" -}}{{- partial "icons/arb.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/mini.html" -}}{{- partial "icons/SquattyPottyLogo.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/7eleven.html" -}}{{- partial "icons/nycv.html" -}}</div>
        </div>
        <div class="slider-static">
            <div class="slide stack-logo">{{- partial "icons/btan.html" -}} {{- partial "icons/new-balance.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/prose.html" -}}{{- partial "icons/happen.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/disney.html" -}}{{- partial "icons/7eleven.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/nordstorm.html" -}}{{- partial "icons/chatbook.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/got-milk.html" -}}{{- partial "icons/arb.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/mini.html" -}}{{- partial "icons/SquattyPottyLogo.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/7eleven.html" -}}{{- partial "icons/nycv.html" -}}</div>
        </div>
    </div>
</section>