<section class="container"  id="clients-influencer">
    <div class="slider">
                <div class="slide">{{- partial "icons/got-milk.html" -}}</div>
                <div class="slide">{{- partial "icons/moose.html" -}}</div>
                <div class="slide">{{- partial "icons/new-balance.html" -}}</div>
                <div class="slide">{{- partial "icons/nissan.html" -}}</div>
                <div class="slide">{{- partial "icons/loop.html" -}}</div>
                <div class="slide">{{- partial "icons/bedtime.html" -}}</div>
    </div>
</section>