<section class="container-fluid clients-influencer" id="{{- .Params.clients.id -}}">
    {{- if .Params.clients.title -}}
    <div class="col-xs-12 col-md-12 align-center" style="margin-bottom: 64px;"><h3>{{- .Params.clients.title -}}</h3></div>
    {{- end -}}
    <div class="container">
        <div class="slider">
            <div class="slide stack-logo">{{- partial "icons/btan.html" -}} {{- partial "icons/new-balance.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/prose.html" -}}{{- partial "icons/happen.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/disney.html" -}}{{- partial "icons/7eleven.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/nordstorm.html" -}}{{- partial "icons/chatbook.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/got-milk.html" -}}{{- partial "icons/arb.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/mini.html" -}}{{- partial "icons/SquattyPottyLogo.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/7eleven.html" -}}{{- partial "icons/nycv.html" -}}</div>
        </div>
        <div class="slider-static">
            <div class="slide stack-logo">{{- partial "icons/btan.html" -}} {{- partial "icons/new-balance.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/prose.html" -}}{{- partial "icons/happen.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/disney.html" -}}{{- partial "icons/7eleven.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/nordstorm.html" -}}{{- partial "icons/chatbook.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/got-milk.html" -}}{{- partial "icons/arb.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/mini.html" -}}{{- partial "icons/SquattyPottyLogo.html" -}}</div>
            <div class="slide stack-logo">{{- partial "icons/7eleven.html" -}}{{- partial "icons/nycv.html" -}}</div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>