<section class="container"  id="clients-influencer" style="margin-top: 55px;">
    <div class="slider">
        <div class="slide">{{- partial "icons/btan.html" -}}</div>
        <div class="slide">{{- partial "icons/happen.html" -}}</div>
        <div class="slide">{{- partial "icons/7eleven.html" -}}</div>
        <div class="slide">{{- partial "icons/chatbook.html" -}}</div>
        <div class="slide">{{- partial "icons/arb.html" -}}</div>
        <div class="slide">{{- partial "icons/SquattyPottyLogo.html" -}}</div>
        <div class="slide">{{- partial "icons/nycv.html" -}}</div>
    </div>
    <div class="slider-static">
        <div class="slide">{{- partial "icons/btan.html" -}}</div>
        <div class="slide">{{- partial "icons/happen.html" -}}</div>
        <div class="slide">{{- partial "icons/7eleven.html" -}}</div>
        <div class="slide">{{- partial "icons/chatbook.html" -}}</div>
        <div class="slide">{{- partial "icons/arb.html" -}}</div>
        <div class="slide">{{- partial "icons/SquattyPottyLogo.html" -}}</div>
        <div class="slide">{{- partial "icons/nycv.html" -}}</div>
    </div>
</section>