
<div class="row" id="cpm_calculator-section">
    <div class="col-xs-12 col-md-4">
        <div class="calculator_input-box">
            <div class="header --green">
                Total Cost <span class="question-circle --green_bg">
                    {{- partial "icons/question-mark.html" -}}
                </span>
            </div>
            <div class="input-wrapper">
                <input @focus="focus" @blur="blur" @change="calculateCPM" v-model="totalCost" type="text" placeholder="1,000" :class="{'--border':totalCost}">
            </div>
            <div class="copy-button_wrapper hide-sm" @click="copyValue(totalCost)">
                {{- partial "icons/copy-button.html" -}}
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="calculator_input-box">
            <div class="header --yellow">
                Impressions <span class="question-circle --yellow_bg">
                    {{- partial "icons/question-mark.html" -}}
                </span>
            </div>
            <div class="input-wrapper">
                <input @focus="focus" @blur="blur" @change="calculateCPM" v-model="impressions"  type="text" placeholder="50,000" :class="{'--border':impressions}">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="calculator_input-box ">
            <div class="header --pink" title="CPM">
                CPM <span class="question-circle --pink_bg">
                    {{- partial "icons/question-mark.html" -}}
                </span>
            </div>
            <div class="input-wrapper">
                <input @focus="focus" @blur="blur" @change="calculateCPM" v-model="cpm" type="text" placeholder="20" :class="{'--border':cpm}">
            </div>
        </div>
    </div>
    <span v-if="cpm && impressions || impressions && totalCost || cpm && totalCost" class="col-md-12 col-xs-12 footer">
        Use advanced mode to compare the costs of <br> multiple campaigns.
    </span>
    <span v-else class="col-md-12 col-xs-12 footer">
    <span>Fill in any 2 fields</span><br>
The value of the third will appear
    </span>
    <div @click="refresh" class="refresh-button_wrapper">
        {{- partial "icons/refresh.html" -}}
    </div>
</div>
{{- if getenv "IS_PROD" -}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{- end -}}
<script src="https://unpkg.com/vue-trend-chart@0.15.1/dist/vue-trend-chart.js"></script>
<script>
    var app = new Vue({
      el: '#cpm_calculator-section',
      data() {
        return {
            cpm : null,
            impressions: null,
            totalCost: null,
        };
      },
        watch: {
            cpm: function(newValue) {
                if(newValue){
                    const result = newValue.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    Vue.nextTick(() => this.cpm = result);
                }
            },
            
            impressions: function(newValue) {
                if(newValue){
                    const result = newValue.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    Vue.nextTick(() => this.impressions = result);
                }
            },

            totalCost: function(newValue) {
                if(newValue){
                    const result = newValue.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    Vue.nextTick(() => this.totalCost = result);
                }
            }
        },
      methods:{
        refresh(){
            this.cpm = null
            this.impressions = null
            this.totalCost = null
        },
        copyValue(value){
            if(value){
                navigator.clipboard.writeText(value)
            }
        },
        calculateCPM(){
            if(!this.cpm && !this.impressions || !this.impressions && !this.totalCost || !this.cpm && !this.totalCost){
                return
            }
            if(this.totalCost && this.impressions && !this.cpm){
                this.cpm = (parseFloat(parseFloat(this.totalCost.replace(/,/g, '')) / (parseFloat(this.impressions.replace(/,/g, ''))/1000))) + ''
            }
            if(this.totalCost && this.cpm && ! this.impressions){
                this.impressions = (parseFloat(parseFloat(this.totalCost.replace(/,/g, '')) / (parseFloat(this.cpm.replace(/,/g, ''))))) + ''
            }
            if(this.impressions && this.cpm && ! this.totalCost){
                this.totalCost = (parseFloat(parseFloat(this.impressions.replace(/,/g, '')) / 1000) * (parseFloat(this.cpm.replace(/,/g, '')))) + ''
            }
        },  
        blur(e){
            e.target.parentElement.parentElement.classList.remove('--active_input-box')
        },
        focus(e){
            e.target.parentElement.parentElement.classList.add('--active_input-box')
        }

      },
      // To make sure there's no conflict with Hugo templating
      delimiters: ['{', '}'],
    });
    </script>