<section class="container mobile-adjusted">
    <div class="row" id="cpm_calculator-section-advance" style="display: none;">
        <div v-for="(campaign,i) in campaigns" :key="i" class="col-xs-12" style="padding: 0;margin-bottom: 32px;">
            <input-row :campaign="campaign" :refresh="isRefresh"></input-row>
        </div>
        <button @click="addCampaign" class="add-campaign_button col-xs-12">&#43; Add another campaign</button>
        <div class="refresh-button_wrapper" @click="refresh">
            {{- partial "icons/refresh.html" -}}
            <span class="--tooltip">Clear & Start Over</span>
        </div>
    </div>
</section>

{{- if getenv "IS_PROD" -}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{- end -}}
<script src="https://unpkg.com/vue-trend-chart@0.15.1/dist/vue-trend-chart.js"></script>
<script src="./inputs.vue.js"></script>
<script>
    Vue.component('input-row', {
        data: function () {
            return {
                cpmValue : null,
                impressionsValue: null,
                totalCostValue: null,
                lastUpdatedField: '',
            }
        },
        props:{
            campaign:{
                type: String
            },
            refresh:{
                type: Boolean
            }
        },
        methods:{
        copyValue(value){
            if(value){
                navigator.clipboard.writeText(value)
            }
        },
        calculateCPM(e, fieldName){
            if((/[^0-9]/g).test(e.target.value)){
                e.target.value = e.target.value.replace(/[^0-9]/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
            let newValue = e.target.value.replace(/\D/g, "").replace(/,/g, '')
            this[`${fieldName}Value`] = parseFloat(newValue);
            if(!this.cpmValue && !this.impressionsValue || !this.impressionsValue && !this.totalCostValue || !this.cpmValue && !this.totalCostValue){
                return // do not calculate anything
            }
            if(this.lastUpdatedField){
                // update lastUpdatedField
                this.calculateOtherField(this.lastUpdatedField)
            } else {
                //
                if(fieldName === 'cpm') {
                    // Not allowed
                    if(!this.impressionsValue){
                        this.calculateOtherField('impressions')
                    }
                    else if(!this.totalCostValue){
                        this.calculateOtherField('totalCost')
                    } else {
                        this.calculateOtherField('totalCost')
                    }
                } else {
                    if(this.totalCostValue && this.impressionsValue){
                        // update CPM
                        this.calculateOtherField('cpm')
                    }
                    else if(this.totalCostValue && this.cpmValue && fieldName !== 'impressions'){ 
                        // update impressions
                        this.calculateOtherField('impressions')
                    }
                    else if(this.impressionsValue && this.cpmValue && fieldName !== 'totalCost'){
                        // update totalCost
                        this.calculateOtherField('totalCost')
                    }
                }
            }
        },
        setInputSize(e, fieldName){
            if(this[`${fieldName}Text`] && this[`${fieldName}Text`].length >= 1){
                    e.size = this[`${fieldName}Text`].length
            } else{
                 e.size = fieldName === 'totalCost' ? 5 :  fieldName === 'cpm' ? 2 :  1
            }
        },
        calculateOtherField(fieldName) {
            switch(fieldName){
                case 'cpm': 
                this.cpmValue = ((this.totalCostValue / (this.impressionsValue/1000))).toFixed(0);
                break;
                case 'impressions':
                    this.impressionsValue = ((this.totalCostValue / this.cpmValue) * 1000).toFixed(0);
                    break;
                    case 'totalCost':
                        this.totalCostValue = ((this.impressionsValue / 1000) * this.cpmValue).toFixed(0);
                        break;
                    }
                    this.lastUpdatedField = fieldName;
        },  
        blur(e){
            e.target.parentElement.parentElement.classList.remove('--active_input-box')
            this.lastUpdatedField = '';
        },
        focus(e){
            e.target.parentElement.parentElement.classList.add('--active_input-box')
        },
        deleteRow(e){
            e.target.parentElement.parentElement.parentElement.remove()
        },
        openDropdown(e){
            this.$refs.dropdown.classList.add('active')
            window.addEventListener('click', (event)=>{
                if (!this.$refs.dropdown.contains(event.target)){
                    this.closeDropdown()
                }
            });
        },
        closeDropdown(e){
            this.$refs.dropdown.classList.remove('active')
        },
        selectOption(e){
            var text = e.target.parentElement.innerHTML;
            this.$refs.dropdown.children[0].innerHTML = text;
        }
      },
      watch: {
        cpmValue(){
            this.setInputSize(this.$refs.cpm,'cpm')
        },
        totalCostValue(){
            this.setInputSize(this.$refs.totalCost,'totalCost')
        },
        refresh(){
            this.cpmValue = null
            this.impressionsValue = null
            this.totalCostValue = null
            this.lastUpdatedField = ''
        }
      },
      computed: {
        cpmText() {
            return this.cpmValue && this.cpmValue !== 'NaN' ? this.cpmValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : this.cpmValue = null;
        },
        impressionsText() {
            return this.impressionsValue && this.impressionsValue !== 'NaN'  ? this.impressionsValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : this.impressionsValue = null;
        },
        totalCostText() {
            return this.totalCostValue && this.totalCostValue !== 'NaN' ? this.totalCostValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","): this.totalCostValue = null;
        },
      },

        template:  `
        <div>
    <div class="toolbox">
        <div class="dropdown-wrapper">
            <div class="dropdown"  @click.prevent="openDropdown" ref="dropdown">
                <a href="javascript:void(0)">
                    Campaign
                </a>
                <svg class="dropdown-icon" width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 0.5L6.5 5.5L12 0.5" stroke="black" stroke-opacity="0.25"/>
                </svg>
            </div>
            <ul class="dropdown-list">
                <li class="list-item">
                        {{- partial "icons/dot.html" -}}
                        <p class="list-title" @click="selectOption($event)">
                            Campaign
                        </p>
                </li>    
                <li class="list-item">
                        {{- partial "icons/facebook.html" -}}
                        <p class="list-title" @click="selectOption($event)">
                            Facebook
                        </p>
                </li>        
                <li class="list-item">
                        {{- partial "icons/google.html" -}}
                        <p class="list-title" @click="selectOption($event)">
                            Google
                        </p>
                </li>        
                <li class="list-item">
                        {{- partial "icons/tiktok.html" -}}
                        <p class="list-title" @click="selectOption($event)">
                            TikTok
                        </p>
                </li>        
                <li class="list-item">
                        {{- partial "icons/pinterest.html" -}}
                        <p class="list-title" @click="selectOption($event)">
                            Pinterest
                        </p>
                </li>        
                <li class="list-item">
                        {{- partial "icons/snapchat.html" -}}
                        <p class="list-title" @click="selectOption($event)">
                            Snapchat
                        </p>
                </li>        
                <li class="list-item">
                        {{- partial "icons/twitter.html" -}}
                        <p class="list-title" @click="selectOption($event)">
                            Twitter
                        </p>
                </li>        
            </ul>
        </div>
        <p v-if="campaign != 'Campaign 1'" @click="deleteRow($event)">Delete</p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="calculator_input-box ">
                <div class="header --green">
                    Total Cost <span class="question-circle --green_bg">
                        {{- partial "icons/question-mark.html" -}}
                    </span>
                    <span class="--tooltip">The total cost or budget <br> for the campaign</span>
                </div>
                <div class="input-wrapper" :class="{'--border':totalCostValue}">
                    <input @focus="focus" @blur="blur" @input="calculateCPM($event, 'totalCost')" :value="totalCostText" type="text" placeholder="1,000" size="5" ref="totalCost">
                    {{- partial "icons/doller.html" -}}
                </div>
                <div class="copy-button_wrapper hide-sm" @click="copyValue(totalCostValue)">
                    {{- partial "icons/copy-button.html" -}}
                    <span class="--tooltip">Copy to clipboard</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="calculator_input-box">
                <div class="header --yellow">
                    Impressions <span class="question-circle --yellow_bg">
                        {{- partial "icons/question-mark.html" -}}
                    </span>
                    <span class="--tooltip">The total advertising impressions </br> over the life of the campaign</span>
                </div>
                <div class="input-wrapper" :class="{'--border':impressionsValue}">
                    <input @focus="focus" @blur="blur" @input="calculateCPM($event, 'impressions')" :value="impressionsText"  type="text" placeholder="50,000" size="6" ref="impressions">
                </div>
                <div class="copy-button_wrapper hide-sm" @click="copyValue(impressionsValue)">
                    {{- partial "icons/copy-button.html" -}}
                    <span class="--tooltip">Copy to clipboard</span>
                </div>
            </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="calculator_input-box">
                    <div class="header --pink" title="CPM">
                        CPM <span class="question-circle --pink_bg">
                            {{- partial "icons/question-mark.html" -}}
                        </span>
                        <span class="--tooltip">The cost of the campaign <br> per 1,000 ad exposures</span>
                    </div>
                    <div class="input-wrapper" :class="{'--border':cpmValue}">
                        <input @focus="focus" @blur="blur" @input="calculateCPM($event, 'cpm')" :value="cpmText" type="text" placeholder="20" size="2" ref="cpm">
                        {{- partial "icons/doller.html" -}}
                    </div>
                    <div class="copy-button_wrapper hide-sm" @click="copyValue(cpmValue)">
                        {{- partial "icons/copy-button.html" -}}
                        <span class="--tooltip">Copy to clipboard</span>
                    </div>
                </div>
                </div>
            </div>
</div>
    `
    })
    var app = new Vue({
      el: '#cpm_calculator-section-advance',
      data: {
            campaigns: ['Campaign 1'],
            ind : 2,
            isRefresh: false
        },
    methods:{
        addCampaign(){
            this.campaigns.push(`Campaign ${this.ind++}`)
        },
        refresh(){
            this.isRefresh = !this.isRefresh
        }
    },
      // To make sure there's no conflict with Hugo templating
      delimiters: ['{', '}'],
    });
    </script>