<section class="container mobile-adjusted">
    <div class="row" id="cpm_calculator-section">
        <div class="col-xs-12 col-md-4">
            <div class="calculator_input-box">
                <div class="header --green">
                    Total Cost <span class="question-circle --green_bg">
                        {{- partial "icons/question-mark.html" -}}
                    </span>
                    <span class="--tooltip">The total cost or budget <br> for the campaign</span>
                </div>
                <div class="input-wrapper" :class="{'--border':totalCostValue}">
                    <input @focus="focus" @blur="blur" @input="calculateCPM($event, 'totalCost')" :value="totalCostText" type="text" placeholder="1,000" size="3" ref="totalCost">
                    {{- partial "icons/doller.html" -}}
                </div>
                <div class="copy-button_wrapper hide-sm" @click="copyValue(totalCostValue)">
                    {{- partial "icons/copy-button.html" -}}
                    <span class="--tooltip">Copy to clipboard</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="calculator_input-box">
                <div class="header --yellow">
                    Impressions <span class="question-circle --yellow_bg">
                        {{- partial "icons/question-mark.html" -}}
                    </span>
                    <span class="--tooltip">The total advertising impressions </br> over the life of the campaign</span>
                </div>
                <div class="input-wrapper" :class="{'--border':impressionsValue}">
                    <input @focus="focus" @blur="blur" @input="calculateCPM($event, 'impressions')" :value="impressionsText"  type="text" placeholder="50,000" size="4" ref="impressions">
                    {{- partial "icons/doller.html" -}}
                </div>
                <div class="copy-button_wrapper hide-sm" @click="copyValue(impressionsValue)">
                    {{- partial "icons/copy-button.html" -}}
                    <span class="--tooltip">Copy to clipboard</span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="calculator_input-box ">
                <div class="header --pink" title="CPM">
                    CPM <span class="question-circle --pink_bg">
                        {{- partial "icons/question-mark.html" -}}
                        <span class="--tooltip">The cost of the campaign <br> per 1,000 ad exposures</span>
                    </span>
                </div>
                <div class="input-wrapper" :class="{'--border':cpmValue}">
                    <input @focus="focus" @blur="blur" @input="calculateCPM($event, 'cpm')" ref="cpm" :value="cpmText" type="text" placeholder="20" :class="{'--border':cpmValue}" size="1">
                    {{- partial "icons/doller.html" -}}
                </div>
                <div class="copy-button_wrapper hide-sm" @click="copyValue(cpmValue)">
                    {{- partial "icons/copy-button.html" -}}
                    <span class="--tooltip">Copy to clipboard</span>
                </div>
            </div>
        </div>
        <span v-if="cpmValue && impressionsValue || impressionsValue && totalCostValue || cpmValue && totalCostValue" class="col-md-12 col-xs-12 footer">
            Use advanced mode to compare the costs of <br> multiple campaigns.
        </span>
        <span v-else class="col-md-12 col-xs-12 footer">
        <span>Fill in any 2 fields</span><br>
    The value of the third will appear
        </span>
        <div @click="refresh" class="refresh-button_wrapper">
                {{- partial "icons/refresh.html" -}}
                <span class="--tooltip">Clear & Start Over</span>
        </div>
    </div>
</section>
{{- if getenv "IS_PROD" -}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{- end -}}
<script src="https://unpkg.com/vue-trend-chart@0.15.1/dist/vue-trend-chart.js"></script>
<script>
    var app = new Vue({
      el: '#cpm_calculator-section',
      data: {
        cpmValue : null,
        impressionsValue: null,
        totalCostValue: null,
        lastUpdatedField: '',
      },
      computed: {
        cpmText() {
            return this.cpmValue && this.cpmValue !== 'NaN' ? this.cpmValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : this.cpmValue = null;
        },
        impressionsText() {
            return this.impressionsValue && this.impressionsValue !== 'NaN'  ? this.impressionsValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : this.impressionsValue = null;
        },
        totalCostText() {
            return this.totalCostValue && this.totalCostValue !== 'NaN' ? this.totalCostValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","): this.totalCostValue = null;
        },
      },
    watch: {
        cpmValue(){
            this.setInputSize(this.$refs.cpm,'cpm')
        },
        impressionsText(){
            this.setInputSize(this.$refs.impressions,'impressions')
        },
        totalCostText(){
            this.setInputSize(this.$refs.totalCost,'totalCost')
        }
    },
      methods:{
        refresh(){
            this.cpmValue = null
            this.impressionsValue = null
            this.totalCostValue = null
            this.lastUpdatedField = ''
        },
        copyValue(value){
            if(value){
                navigator.clipboard.writeText(value)
            }
        },
        calculateCPM(e, fieldName){
            let newValue = e.target.value.replace(/\D/g, "").replace(/,/g, '')
            this[`${fieldName}Value`] = parseFloat(newValue);
            if(!this.cpmValue && !this.impressionsValue || !this.impressionsValue && !this.totalCostValue || !this.cpmValue && !this.totalCostValue){
                return // do not calculate anything
            }
            if(this.lastUpdatedField){
                // update lastUpdatedField
                this.calculateOtherField(this.lastUpdatedField)
            } else {
                //
                if(fieldName === 'cpm') {
                    // Not allowed
                    if(!this.impressionsValue){
                        this.calculateOtherField('impressions')
                    }
                    else if(!this.totalCostValue){
                        this.calculateOtherField('totalCost')
                    } else {
                        this.calculateOtherField('totalCost')
                    }
                } else {
                    if(this.totalCostValue && this.impressionsValue){
                        // update CPM
                        this.calculateOtherField('cpm')
                    }
                    else if(this.totalCostValue && this.cpmValue && fieldName !== 'impressions'){ 
                        // update impressions
                        this.calculateOtherField('impressions')
                    }
                    else if(this.impressionsValue && this.cpmValue && fieldName !== 'totalCost'){
                        // update totalCost
                        this.calculateOtherField('totalCost')
                    }
                }
            }
        },
        setInputSize(e, fieldName){
            if(e.value){
                if(e.value && this[`${fieldName}Text`]){
                        if(e.value.length > 1){
                            if(this[`${fieldName}Text`].length >= 3){
                                e.size = this[`${fieldName}Text`].length - 2   
                            }else{
                                e.size = this[`${fieldName}Text`].length
                            }
                        } else{
                            e.size = fieldName === 'totalCost' ? 3 :  fieldName === 'cpm' ? 1 : fieldName === 'impressions' ? 4 : 1
                        }
                    }
                    else{
                        e.size = fieldName === 'totalCost' ? 3 :  fieldName === 'cpm' ? 1 : fieldName === 'impressions' ? 4 : 1
                }
            }
        },
        calculateOtherField(fieldName) {
            switch(fieldName){
                case 'cpm': 
                this.cpmValue = ((this.totalCostValue / (this.impressionsValue/1000))).toFixed(0);
                break;
                case 'impressions':
                    this.impressionsValue = ((this.totalCostValue / this.cpmValue) * 1000).toFixed(0);
                    break;
                    case 'totalCost':
                        this.totalCostValue = ((this.impressionsValue / 1000) * this.cpmValue).toFixed(0);
                        break;
                    }
                    this.lastUpdatedField = fieldName;
        },  
        blur(e){
            e.target.parentElement.parentElement.classList.remove('--active_input-box')
            this.lastUpdatedField = '';
        },
        focus(e){
            e.target.parentElement.parentElement.classList.add('--active_input-box')
        }

      },
      // To make sure there's no conflict with Hugo templating
      delimiters: ['{', '}'],
    });
    </script>