<section id="popupOverlay">
    <div class="popup embed-popup">
        <div class="close">
            {{- partial "icons/close.html" -}}
        </div>
            <div id="mlb2-4501534" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-4501534">
                <div class="ml-form-align-center">
                    <img src="/images/embedpopup-baner.png" alt="">
                <div class="ml-form-embedWrapper embedForm">
                  <div class="ml-form-embedBody ml-form-embedBodyDefault row-form" id="form-content">
                    <div class="ml-form-embedContent" style="">
                      <h4>Unlock Calculator by entering E-mail</h4>
                      <p></p>
                      <span style="font-size:28px"><strong> </strong></span>
                      <p style="text-align:center"><span style="color:#f6f6f6"><span style="color:#7f8c8d">We'll never share your email with anyone else.</span></span><span style="color:#f6f6f6"><span style="color:#7f8c8d"></span></span><span style="color:#f6f6f6"><span style="color:#7f8c8d"><br></span></span></p>
                    </div>
                    <form id="erc-form" class="ml-block-form" action="https://static.mailerlite.com/webforms/submit/a2m7j4" data-code="a2m7j4" method="post" target="_blank">
                      <div class="ml-form-formContent">
                        <div class="ml-form-fieldRow">
                          <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                            <input aria-label="email" aria-required="true" type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
                          </div>
                        </div>
                        <div class="ml-form-fieldRow ml-last-item">
                          <div class="ml-field-group ml-field-category ml-validate-required">
                            <select class="custom-select" name="fields[category]" aria-label="category" aria-required="true"> <option value="">-</option> <option> Influencer </option> <option> Brand </option> <option> Agency </option> <option> E-commerce </option> </select>
                          </div>
                        </div>
                      </div>
                      <input type="hidden" name="ml-submit" value="1">
                      <div class="ml-form-embedSubmit">
                        <button id="erc-cta" type="submit" class="primary">Unlock Calculator</button>
                        <button disabled="disabled" tyle="display:none" type="button" class="loading"> <div class="ml-form-embedSubmitLoad"></div> <span class="sr-only">Loading...</span> </button>
                      </div>
                      <input type="hidden" name="anticsrf" value="true">
                    </form>
                  </div>
                  <div class="ml-form-successBody row-success" style="display:none">
                    <div class="ml-form-successContent">
                      <h4></h4>
                      <p style="text-align:center"><span style="color:#000;font-size:30px"><strong><br></strong></span></p>
                      <p style="text-align:center"><span style="color:#000;font-size:30px"><strong>Perfect!</strong></span></p>
                      <p style="text-align:center"><span style="color:#b5b5b5">You can now use our free toolkit</span></p>
                      <p><span style="color:#b5b5b5"><br></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </div>
</section>