
{{- range .Params.features -}}
<section class="container m-b-96 home-features-industries" id="features-industries" >
    <div class="row">
        <div class="col-xs-12 col-md-5 left-col">
            <h2>{{- .title -}}</h2>
            <p>{{- .text | markdownify -}}</p>
            <a data-popup-id="videoPopup" class="learn-more hide-md {{ if isset . "class" }}{{- .class -}}{{end}}" href="{{ $.Site.BaseURL -}}{{- .link.link -}}">
                {{- htmlUnescape .link.text -}}
                <span class="right-arrow-icon">{{- partial (printf "icons/%s.html" "right-ar") -}}</span>
            </a>
            {{- with .question -}}
            <div id="tooltip-element" class="is-relative">
                <p>
                    <a title="{{- .text -}}" class="question hide-md">{{- .text -}}</a>
                    <span class="tooltip left">
                        {{- .tooltip -}}
                    </span>
                </p>
            </div>
            {{- end -}}
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="icon-ctn">
                <!-- <video autoplay muted loop playsinline style="height:100% !important ;">
                    <source src="/videos/{{- .video -}}.mp4" />
                    <source src="../static/video/10s.webm" type='video/webm; codecs="vp8, vorbis"' />
                    <source src="../static/video/10s.ogv" type='video/ogg; codecs="theora, vorbis"' />
                </video> -->
                <img src="{{- .image -}}" alt=""> 
            </div>
            <a  class="learn-more hide-md-up d-flex {{ if isset . "class" }}{{- .class -}}{{end}}" href="{{ $.Site.BaseURL -}}{{- .link.link -}}">
                {{- htmlUnescape .link.text -}}
                <span>{{- partial (printf "icons/%s.html" "right-ar") -}}</span>
            </a>
            {{- with .question -}}
            <a href="{{- .link -}}" title="{{- .text -}}" class="question hide-md-up">{{- .text -}}</a>
            {{- end -}}
        </div>
        
    </div>

</section>
{{- end -}}