<div id="formPopup" class="popupOverlay">
  <div class="popup auto-wh">
    <div class="close hide-sm-up hide-sm">
      {{- partial "icons/close.html" -}}
    </div>
    <div class="content-wrapper">
      <form id="form-popup" class="popupContent"  onsubmit="return false">
        <img src="/images/embedpopup-baner.png" alt="">
        <div class="text-element">
          <h3>Unlock Calculator by entering E-mail</h3>
          <p>We'll never share your email with anyone else.</p>
        </div>
        <p v-if="errorform" class="errorform">{ errorform }</p>
        <div class="form-content">
          <input name="email" placeholder="Email">
          <div>
            <select name="tag" class="form-control">
              <option  value="default" selected>What represents you?</option>
              <option  value="Influencer">Influencer</option>
              <option  value="Brand">Brand</option>
              <option  value="Agency">Agency</option>
              <option  value="E-commerce">E-commerce</option>
            </select>
          </div>
          <button type="submit" @click="formSubmit">
              <div class="lds-ring" v-if="loadingform"><div></div><div></div><div></div><div></div></div>
              <span v-else>Unlock Calculator</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>