<section class="modal modal--animation">
  <div class="modal__overlay modal__overlay--toggle"></div>
  <div class="modal__wrapper modal__wrapper--image modal-transition">
    <div class="modal__body">
      <button class="modal__close modal__overlay--toggle"><span></span></button>
      <div class="modal__header">Comment la plateforme fonctionne</div>
      
      <div class="modal__image">
        <img src="{{- $.Site.Data.settings.animation -}}" alt="" title=""/>
      </div>
    </div>
  </div>
</section>    <!-- Modal for animation -->