<section {{ if eq .canClose false }} data-force="true" {{ end }} class="popupOverlay  {{ if eq .canClose true }} closeOverlay {{ end }}" id={{ .id }}>
    <div class="popup  {{ .class }}">
        {{ if eq .canClose true }} <div class="close">
            {{- partial "icons/close.html" -}}
        </div>
        {{ end }} 
        <div class="content-wrapper">
          <div class="content-video"><iframe src="https://player.vimeo.com/video/708669828?h=057cffcccb&color=ffe9f0&title=0&byline=0&portrait=0"  style="width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><div class="btn-cta"><a href="https://app.inbeat.co/get-started" target="_blank"><button class="btn"><span>Try it now</span> — it's free</button></a></div>
        </div>
    </div>
</section>