{{- if .Params.popupstyle1 -}}
{{- with $.Site.Data.popup.popups.style1 -}}
<div class="modal position-center-center fade m-width-570" id="bite-style-1" bite-show="fadeIn" bite-hide="fadeOut">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <button type="button" class="close close-light" data-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="popup-title text-white">{{- .title -}}</div>
                <p class="popup-text text-white">{{- .description -}}</p>
                <form class="form-subscribe form-inline justify-content-center" name="popup-style-1" method="post" netlify action="/freebies" netlify-honeypot="bot-field">
                    <div class="form-group mr-3">
                        <input type="text" name="popup-style-1-email" class="form-control email-address b-radius-30" placeholder="Enter your email" />
                        <input name="bot-field" style="display: none !important" />
                    </div>
                    <button type="submit" class="btn text-white b-radius-30"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
{{- end -}}
{{- end -}}