{{- $category := "" -}}
{{- $hasCategory := false -}}
{{- if gt (len .Params.categories) 0 -}}
{{- $category = lower (index .Params.categories 0) -}}
{{- $hasCategory = true -}}
{{- end -}}
<div class="post col-md-4 col-xs-12 post{{ if $hasCategory }} {{ $category | urlize }}{{ end }}">
    <a href="{{.Permalink}}" title="{{.Params.titre}}" class="img-link">
        <img src="{{- .Params.feature_image -}}" alt="{{- .Params.titre -}}">
    </a>
    {{- if $hasCategory -}}
    <a href="{{ $.Site.BaseURL }}categories/{{ $category | urlize }}" class="category">
        {{- $category | upper -}}
    </a>
    {{- end -}}
    <h4>
        <a href="{{.Permalink}}" title="{{.Params.titre}}">{{.Params.titre}}</a>
    </h4>
    <p class="small">{{- .Summary -}}</p>
    {{- $author := index .Params.authors 0 -}}
    {{- $time := .ReadingTime -}}
    {{- $junction := "By" -}}
    {{- $method := "READ" -}}
    {{- if (isset .Params "listentime") -}}
    {{- $time = .Params.listentime -}}
    {{- $junction = "With" -}}
    {{- $method = "LISTEN" -}}
    {{- end -}}
    <p class="author">{{ $junction }} <span>{{ $author.name }}</span> | {{ $time }} MIN {{ $method }}</p>
</div>