<section class="container mobile-adjusted m-tb-80 pricing_database" id="pricing">
    <div class="row monthly" id="pricing-row">
        <div class="col-xs-12 pricing-header">
            <h1>Pricing</h1>
            <p class="pricing-schedule">
                <span id="monthly-schedule">Billed Monthly</span>
                <span id="yearly-schedule">
                    <span class="disabled">Billed Yearly</span><span class="deal">4 Months Free</span>
                </span> 
            </p>
        </div>
        {{- range .Params.plans -}}
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
            <div class="plan" id="{{- lower .cssid -}}">
                <div>
                    <div>
                        <div class="content">
                            <p class="title">{{- .title -}}</p>
                            <h2>
                                <span class="monthly-price">{{- .monthly -}}</span>
                                <span class="yearly-price">{{- .yearly -}}</span>
                                <span class="currency">USD</span>
                            </h2>
                            <p class="description small">
                                {{- .description | markdownify -}}
                            </p>
                        </div>
                    </div>
                <div class="features">
                    <div>
                        <p>
                            <strong>{{- .contacts -}}</strong> Contact Exports <span class="small">/mo</span>
                            <span id="tooltip-element">{{- partial "icons/info.html" -}}
                                <span class="tooltip">
                                    Export all available info (e-mail, handle, URL, etc.).
                                    Profiles without e-mail don’t use an export.
                                    Unused exports won't rollover to the following month.
                                </span>
                            </span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <strong>{{- .campaigns -}}</strong> Deep Searches <span class="small">/mo</span>
                            <span id="tooltip-element">
                                {{- partial "icons/info.html" -}}
                                <span class="tooltip">
                                    Manage multiple campaign at the same time.
                                    Once you're satisfied, export the campaign and create a new one.
                                </span>
                            </span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <strong>{{ .accounts }}</strong> Client Accounts
                            <span id="tooltip-element">{{- partial "icons/info.html" -}}
                                <span class="tooltip">
                                    Assign campaigns to client accounts you manage.
                                </span>
                            </span>
                        </p>
                    </div>
                    <div>
                        <p>
                        {{ .filters }} Search Filters
                            <span id="tooltip-element">
                            {{- partial "icons/info.html" -}}
                            <span class="tooltip">
                                Filter profiles by engagement rate, number of followers, location and many more.
                            </span>
                        </span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <strong>Live</strong> Search
                            <span  id="tooltip-element">
                                {{- partial "icons/info.html" -}}
                                <span class="tooltip">
                                    Instantly browse our database of millions of TikTok & Instagram influencers.
                                </span>
                            </span>
                        </p>
                    </div>
                    <div>
                        <p class="{{ if eq .deepsearch false }}disabled{{ end }}">
                            <span><strong>Deep</strong> Search</span> 
                            <span id="tooltip-element">
                                {{- partial "icons/info.html" -}}
                                <span class="tooltip">
                                    Find thousands of look-alike influencers with automated similar profile & hashtag-searches.
                                </span>
                        </span> 
                        </p>
                    </div>
                    <div>
                        <p class="{{ if eq .bulkselection false }}disabled{{ end }}">
                            <span>Bulk Selection</span>
                            <span id="tooltip-element">
                                {{- partial "icons/info.html" -}}
                                <span class="tooltip">
                                    Select and export up to 1000 filtered profiles in a single click.
                                </span>
                            </span>
                        </p>
                    </div>
                    <div>
                        <p class="{{ if eq .training false }}disabled{{ end }}">
                            <span>Training Materials</span>
                            <span id="tooltip-element">
                                {{- partial "icons/info.html" -}}
                                <span class="tooltip">
                                    Get access to our exclusive training materials from our influencer marketing experts.
                                </span>
                            </span>
                        </p>
                    </div>
                    <div>
                        <p class="{{ if eq .templates false }}disabled{{ end }}">
                            <span>Brand Consultation and Influencer Templates</span>
                            <span id="tooltip-element">
                                {{- partial "icons/info.html" -}}
                                <span class="tooltip">
                                    Learn from the best in the world in influencer marketing.
                                </span>
                            </span>
                        </p>
                    </div>
                    <div>
                        <p class="{{ if eq .manager false }}disabled{{ end }}">
                            <span>Dedicated Account Manager</span>
                            <span id="tooltip-element">
                                {{- partial "icons/info.html" -}}
                                <span class="tooltip">
                                    Get a dedicated expert to help you with your campaigns.
                                </span>
                            </span>
                        </p>
                    </div>
                    <a class='btn btn-md col-lg-12' href="/book-a-demo" target="_blank">
                        Book a demo
                    </a>
                </div>
            </div>
        </div>
    </div>
        {{- end -}}
    </div>
</section>