<section class="container mobile-adjusted m-tb-80" id="pricing_toggle">
    <div class="row" id="toggle-sec">
        <div class="col-xs-12 col-md-6">
            <div class="toggle-container --active">
                <h3>The Database</h3>
                <p>
                    Discover influencers & contact them on your own. Access millions of influencers instantly or run automated similar-profile searches.  
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="toggle-container">
                <h3>Creator Studio</h3>
                <p>
                    A fully managed micro-influencer solution. Collaborate with the best micro-influencers, without doing all the work, all inside our platform.  
                </p>
            </div>
        </div>
    </div>
</section>