<section class="container mobile-adjusted" id="cpm__calculator">
    <div>
        <div class="calculator-toggle">
            <div class="calculator-type" id="cpm_calculator-simple-toggle" :class="{'--active': activeTab === 'simple'}" @click="switchTab('simple')">
                Simple Mode
            </div>
            <div class="calculator-type" id="cpm_calculator-advance-toggle" :class="{'--active': activeTab === 'advance'}" @click="switchTab('advance')">
                Advanced  <span class="question-circle --gray_bg">
                    {{- partial "icons/question-mark.html" -}}
                </span>
                <span class="--tooltip">Use advanced mode to compare <br> the costs of multiple campaigns.</span>
            </div>
        </div>
        <div class="row" id="cpm_calculator-section">
            <div v-for="(campaign,i) in campaigns" :key="campaign + Math.random()" :class="['col-xs-12',{'--advance': activeTab === 'active'}]" style="padding: 0;">
                <input-row @value-change="valueChange($event)" :values="campaign.values" :campaign="campaign.name" :platform="campaign.platform" :refresh="isRefresh" :tab="activeTab" @delete-row="deleteRow($event)"></input-row>
        </div>
            <!-- <button v-if="activeTab === 'advance'" @click="addCampaign" class="add-campaign_button col-xs-12">&#43; Add another campaign</button> -->
            <div class="refresh-button_wrapper" @click="refresh">
                {{- partial "icons/refresh.html" -}}
                <span class="--tooltip">Clear & Start Over</span>
            </div>
        </div>
    </div>
</section>

{{- if getenv "IS_PROD" -}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{- end -}}
<script>
    Vue.component('input-row', {
        data: function () {
            return {
                roasValue : this.values.roas,
                profitMarginValue : null,
                roiValue : null,
                roasValue : this.values.roas,
                expectedRevenue: null,
                isRevenueAvaliable:false,
                adRevenueValue: this.values.adRevenue,
                adSpendValue: this.values.adSpend,
                lastUpdatedField: '',
                copied: false,
            }
        },
        props:{
            campaign:{
                type: String
            },
            refresh:{
                type: Boolean
            },
            tab:{
                type: String
            },
            platform:{
                type: Object
            },
            values:{
                type: Object,
                default:function(){
                    return {
                        roas:null,
                        adRevenue:null,
                        adSpend:null
                    }
                }
            }
        },
        methods:{
        copyValue(e,value){
            this.copied = true
            if(value){
                navigator.clipboard.writeText(value)
            }
        },
        calculateROAS(e, fieldName){
            let digitRegex = fieldName === 'roas' ? /[^.0-9]/g : /[^0-9]/g
            if((digitRegex).test(e.target.value)){
                e.target.value = e.target.value.replace(digitRegex, '').replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
            let newValue = e.target.value.replace(digitRegex, "").replace(/,/g, '')
            this[`${fieldName}Value`] = parseFloat(newValue);
            // debugger
            if((!this.roasValue && !this.adRevenueValue || !this.adRevenueValue && !this.adSpendValue || !this.roasValue && !this.adSpendValue ) &&  (!this.roiValue && !this.profitMarginValue || !this.profitMarginValue && !this.adSpendValue || !this.roiValue && !this.adSpendValue )){
                this.updateValue()
                return // do not calculate anything
            }
            if(this.lastUpdatedField){
                // update lastUpdatedField
                this.calculateOtherField(this.lastUpdatedField)
            } else {
                if(fieldName === 'roas') {
                    // Not allowed
                    if(!this.adRevenueValue){
                        this.calculateOtherField('adRevenue')
                    }
                    else if(!this.adSpendValue){
                        this.calculateOtherField('adSpend')
                    } else {
                        this.calculateOtherField('adSpend')
                    }
                } else {
                    if(this.adSpendValue && this.adRevenueValue){
                        // update ROAS
                        this.calculateOtherField('roas')
                    }
                    else if(this.adSpendValue && this.roasValue && fieldName !== 'adRevenue'){ 
                        // update adRevenue
                        this.calculateOtherField('adRevenue')
                    }
                    else if(this.adRevenueValue && this.roasValue && fieldName !== 'adSpend'){
                        // update adSpendroasValue
                        this.calculateOtherField('adSpend')
                    }
                    else if(this.roiValue && this.adSpendValue && fieldName !== 'profitMargin'){
                        // update adSpendroasValue
                        this.calculateOtherField('profitMargin')
                    }
                    else if(this.adSpendValue && this.profitMarginValue && fieldName !== 'roi'){
                        // update adSpendroasValue
                        this.calculateOtherField('roi')
                    }
                }
            }
        },
        calculateExpectedValues(){
          this.expectedRevenue =  ( (this.adSpendValue * 800) / 100).toFixed(2)
        },
        calculateOtherField(fieldName) {
            switch(fieldName){
                case 'roas': 
                    if(!this.isRevenueAvaliable){
                      this.roasValue = ((this.adRevenueValue / this.adSpendValue) * 100).toFixed(2);
                    }else{
                      this.roasValue = 800
                    }
                    this.calculateExpectedValues();
                    this.updateValue()
                    break;
                case 'adRevenue':
                    this.calculateExpectedValues();
                    if(!this.isRevenueAvaliable){
                      this.adRevenueValue = (this.adSpendValue * (this.roasValue/100)).toFixed(0);
                    }else{
                      this.adRevenueValue = this.expectedRevenue
                    }
                    break;
                case 'adSpend':
                    this.updateValue()
                    this.calculateExpectedValues();
                    this.adSpendValue = ((this.adRevenueValue / this.roasValue) * 100).toFixed(0);
                case 'profitMargin':
                    this.profitMarginValue = (this.adSpendValue + this.roiValue);
                case 'roi':
                  console.log('hello')
                  this.roiValue = (this.adSpendValue - this.profitMargin);
                    break;
                }
                this.lastUpdatedField = fieldName;
        },  
        blur(e){
            e.target.parentElement.parentElement.classList.remove('--active_input-box')
            this.lastUpdatedField = '';
        },
        focus(e){
            e.target.parentElement.parentElement.classList.add('--active_input-box')
        },
        getImgUrl(pic) {
            return '/icons/'+pic+'.svg'
        },
        getInputSize(fieldName){
            if(this[`${fieldName}Text`] && this[`${fieldName}Text`].length >= 1){
                return this[`${fieldName}Text`].length
            } else{
                 return fieldName === 'adSpend' ? 5 :  fieldName === 'roas' ? 2 :  1
            }
        },
        updateValue(){
            if(this.tab === 'advance'){
                this.$emit('value-change',{
                        name: this.campaign,
                        roas:this.roasValue,
                        adSpend: this.adSpendValue,
                        adRevenue: this.adRevenueValue
                })
            }
            return
        },
        toggleRevenuAvaliable(e){
          if(this.isRevenueAvaliable){
            this.roasValue = 800;
          }else{
            this.calculateOtherField('roas')
          }
        }
      },
      watch: {
        refresh(){
            this.roasValue = null
            this.adRevenueValue = null
            this.adSpendValue = null
            this.lastUpdatedField = ''
        }
      },
      computed: {
        roasText() {
            if(this.roasValue && this.roasValue !== 'NaN'){
                let replaceWith = this.roasValue.toString().includes('.') ? '' : ','
                return this.roasValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, replaceWith)
            }
            else{
                return this.roasValue = null
            }
        },
        adRevenueText() {
            return this.adRevenueValue && this.adRevenueValue !== 'NaN'  ? this.adRevenueValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : this.adRevenueValue = null;
        },
        adSpendText() {
            return this.adSpendValue && this.adSpendValue !== 'NaN' ? this.adSpendValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","): this.adSpendValue = null;
        },
        profitMarginText() {
            return this.profitMarginValue && this.profitMarginValue !== 'NaN' ? this.profitMarginValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","): this.profitMarginValue = null;
        },
        roiText() {
            return this.roiValue && this.roiValue !== 'NaN' ? this.roiValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","): this.roiValue = null;
        },
        expectedRevenueText() {
            return this.expectedRevenue && this.expectedRevenue !== 'NaN' ? this.expectedRevenue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","): this.expectedRevenue = null;
        },
      },

        template:  `
    <div>
      <div class="toolbox">
        <label class="toggle">
          <div class="toggle-wrpper">
            <input class="toggle-input" type="checkbox" v-model="isRevenueAvaliable" @change="toggleRevenuAvaliable"/>
            <div class="toggle-track">
              <div class="toggle-control"></div>
            </div>
          </div>
          <span class="toggle-label">I dont know my revenue</span>
        </label>
      </div>
      <div :class="['row', 'cpm__input-row',{'simple-case': this.tab === 'advance'} ]">
        <div class="col-xs-12 col-md-4">
          <div class="calculator_input-box ">
            <div class="header --green">
                Ad spend <span class="question-circle --green_bg">
                  <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.55399 0.785156C1.19035 0.785156 0.401851 1.43156 0.355469 2.68894H1.45009C1.4872 1.99826 1.85826 1.67064 2.55399 1.67064C3.16624 1.67064 3.52802 1.9717 3.52802 2.43215C3.52802 2.82176 3.43526 3.01657 2.85084 3.52129C2.09944 4.15884 1.93247 4.48647 1.93247 5.3808C1.93247 5.46049 1.93247 5.5579 1.94174 5.6553H2.86011C2.86011 4.78753 2.98999 4.53074 3.67644 3.97289C4.45567 3.3442 4.6412 3.01657 4.6412 2.40559C4.6412 1.41385 3.83414 0.785156 2.55399 0.785156ZM2.98999 7.21375V6.16003H1.79332V7.21375H2.98999Z" fill="white"/>
                  </svg></span>
                <span class="--tooltip">The total cost or budget <br> for the campaign</span>
            </div>
            <div class="input-wrapper" :class="{ '--border': adSpendValue }">
              <input @focus="focus" @blur="blur" @input="calculateROAS($event, 'adSpend')" :value="adSpendText"
                type="text" placeholder="1,000" ref="adSpend" :size="getInputSize('adSpend')" />
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none" >
                <path
                  d="M9.36 10.76C9.36 8.186 7.542 7.628 5.616 7.088V2.966C6.858 3.164 7.506 3.956 7.506 5.612H9.108C9.108 3.146 7.884 1.832 5.616 1.634V0.247999H4.5V1.634C2.304 1.796 0.972 3.038 0.972 4.928C0.972 7.268 2.754 7.916 4.5 8.42V12.884C3.096 12.686 2.358 11.786 2.358 10.04H0.756C0.774 12.596 2.106 14.036 4.5 14.234V15.782H5.616V14.234C7.92 14.054 9.36 12.74 9.36 10.76ZM2.592 4.838C2.592 3.704 3.258 3.074 4.5 2.948V6.782C3.276 6.422 2.592 6.026 2.592 4.838ZM5.616 8.726C6.93 9.122 7.74 9.536 7.74 10.814C7.74 12.02 7.002 12.758 5.616 12.902V8.726Z"
                  fill="black" fill-opacity="0.5" />
              </svg>
            </div>
            <div class="copy-button_wrapper hide-sm" @click="copyValue($event, adSpendValue)" @mouseleave="copied = false">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.667969 17.8287H13.7989V3.98828H0.667969V17.8287ZM2.76882 5.89717H11.6978V15.9195H2.76882V5.89717Z" fill="black"/>
                <path d="M4.86914 0.169922V3.0334H6.96971V2.07877H15.8987V12.1018H14.8481V14.0106H17.9992V0.170206L4.86914 0.169922Z" fill="black"/>
              </svg>
              <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
              <span v-else class="--tooltip --sucess">Copied
                <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon--check">
                  <path d="M1 7.5L5 11.5L12 1" stroke="black" stroke-width="2"/>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="calculator_input-box">
            <div class="header --yellow">
              Ad revenue <span class="question-circle --yellow_bg">
                {{- partial "icons/question-mark.html" -}}
              </span>
              <span class="--tooltip">The total advertising impressions <br /> over the life of the campaign</span>
            </div>
            <div class="input-wrapper" :class="{ '--border': adRevenueValue }">
              <input :disabled="isRevenueAvaliable" @focus="focus" @blur="blur" @input="calculateROAS($event, 'adRevenue')" :value="adRevenueText"
                type="text" placeholder="50,000" ref="adRevenue" />
              <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.36 10.76C9.36 8.186 7.542 7.628 5.616 7.088V2.966C6.858 3.164 7.506 3.956 7.506 5.612H9.108C9.108 3.146 7.884 1.832 5.616 1.634V0.247999H4.5V1.634C2.304 1.796 0.972 3.038 0.972 4.928C0.972 7.268 2.754 7.916 4.5 8.42V12.884C3.096 12.686 2.358 11.786 2.358 10.04H0.756C0.774 12.596 2.106 14.036 4.5 14.234V15.782H5.616V14.234C7.92 14.054 9.36 12.74 9.36 10.76ZM2.592 4.838C2.592 3.704 3.258 3.074 4.5 2.948V6.782C3.276 6.422 2.592 6.026 2.592 4.838ZM5.616 8.726C6.93 9.122 7.74 9.536 7.74 10.814C7.74 12.02 7.002 12.758 5.616 12.902V8.726Z"
                  fill="black" fill-opacity="0.5" />
              </svg>
            </div>
            <div class="copy-button_wrapper hide-sm" @click="copyValue($event, adRevenueValue)"
              @mouseleave="copied = false">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.667969 17.8287H13.7989V3.98828H0.667969V17.8287ZM2.76882 5.89717H11.6978V15.9195H2.76882V5.89717Z" fill="black"/>
                <path d="M4.86914 0.169922V3.0334H6.96971V2.07877H15.8987V12.1018H14.8481V14.0106H17.9992V0.170206L4.86914 0.169922Z" fill="black"/>
              </svg>
              <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
              <span v-else class="--tooltip --sucess">Copied
                <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon--check">
                  <path d="M1 7.5L5 11.5L12 1" stroke="black" stroke-width="2"/>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="calculator_input-box">
            <div class="header --pink" title="ROAS">
              ROAS <span class="question-circle --pink_bg">
                {{- partial "icons/question-mark.html" -}}
              </span>
              <span class="--tooltip">The cost of the campaign <br> per 1,000 ad exposures</span>
            </div>
            <div class="input-wrapper" :class="{ '--border': roasValue }">
              <input @focus="focus" @blur="blur" @input="calculateROAS($event, 'roas')" :value="roasText" type="text"
                placeholder="20" :size="getInputSize('roas')" ref="roas" />
                <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4.986 13.54L11.79 0.327999H10.566L3.762 13.54H4.986ZM3.564 0.616C1.8 0.616 0.81 1.84 0.81 4.036C0.81 6.232 1.8 7.456 3.564 7.456C5.328 7.456 6.318 6.232 6.318 4.036C6.318 1.84 5.328 0.616 3.564 0.616ZM3.564 1.732C4.428 1.732 4.896 2.542 4.896 4.036C4.896 5.548 4.428 6.34 3.564 6.34C2.7 6.34 2.232 5.548 2.232 4.036C2.232 2.542 2.7 1.732 3.564 1.732ZM11.988 6.412C10.224 6.412 9.234 7.636 9.234 9.832C9.234 12.028 10.224 13.252 11.988 13.252C13.752 13.252 14.742 12.028 14.742 9.832C14.742 7.636 13.752 6.412 11.988 6.412ZM11.988 7.528C12.852 7.528 13.32 8.338 13.32 9.832C13.32 11.344 12.852 12.136 11.988 12.136C11.124 12.136 10.656 11.344 10.656 9.832C10.656 8.338 11.124 7.528 11.988 7.528Z" fill="black" fill-opacity="0.5"/>
                </svg>
            </div>
            <div class="copy-button_wrapper hide-sm" @click="copyValue($event, roasValue)" @mouseleave="copied = false">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.667969 17.8287H13.7989V3.98828H0.667969V17.8287ZM2.76882 5.89717H11.6978V15.9195H2.76882V5.89717Z" fill="black"/>
                <path d="M4.86914 0.169922V3.0334H6.96971V2.07877H15.8987V12.1018H14.8481V14.0106H17.9992V0.170206L4.86914 0.169922Z" fill="black"/>
              </svg>
              <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
              <span v-else class="--tooltip --sucess">Copied
                <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon--check">
                  <path d="M1 7.5L5 11.5L12 1" stroke="black" stroke-width="2"/>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row cpm__input-row" v-if="this.tab === 'advance'">
        <div class="col-xs-12 col-md-4">
          <div class="calculator_input-box ">
            <div class="header --green">
              Profit margin <span class="question-circle --green_bg">
                <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.55399 0.785156C1.19035 0.785156 0.401851 1.43156 0.355469 2.68894H1.45009C1.4872 1.99826 1.85826 1.67064 2.55399 1.67064C3.16624 1.67064 3.52802 1.9717 3.52802 2.43215C3.52802 2.82176 3.43526 3.01657 2.85084 3.52129C2.09944 4.15884 1.93247 4.48647 1.93247 5.3808C1.93247 5.46049 1.93247 5.5579 1.94174 5.6553H2.86011C2.86011 4.78753 2.98999 4.53074 3.67644 3.97289C4.45567 3.3442 4.6412 3.01657 4.6412 2.40559C4.6412 1.41385 3.83414 0.785156 2.55399 0.785156ZM2.98999 7.21375V6.16003H1.79332V7.21375H2.98999Z" fill="white"/>
                </svg>
              </span>
              <span class="--tooltip">The total cost or budget <br> for the campaign</span>
            </div>
            <div class="input-wrapper" :class="{ '--border': profitMarginValue }">
              <input @focus="focus" @blur="blur" @input="calculateROAS($event, 'profitMargin')" :value="profitMarginText"
                type="text" placeholder="1,000" ref="profitMargin" :size="getInputSize('adSpend')" />
              <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.36 10.76C9.36 8.186 7.542 7.628 5.616 7.088V2.966C6.858 3.164 7.506 3.956 7.506 5.612H9.108C9.108 3.146 7.884 1.832 5.616 1.634V0.247999H4.5V1.634C2.304 1.796 0.972 3.038 0.972 4.928C0.972 7.268 2.754 7.916 4.5 8.42V12.884C3.096 12.686 2.358 11.786 2.358 10.04H0.756C0.774 12.596 2.106 14.036 4.5 14.234V15.782H5.616V14.234C7.92 14.054 9.36 12.74 9.36 10.76ZM2.592 4.838C2.592 3.704 3.258 3.074 4.5 2.948V6.782C3.276 6.422 2.592 6.026 2.592 4.838ZM5.616 8.726C6.93 9.122 7.74 9.536 7.74 10.814C7.74 12.02 7.002 12.758 5.616 12.902V8.726Z"
                  fill="black" fill-opacity="0.5" />
              </svg>
            </div>
            <div class="copy-button_wrapper hide-sm" @click="copyValue($event, adSpendValue)" @mouseleave="copied = false">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.667969 17.8287H13.7989V3.98828H0.667969V17.8287ZM2.76882 5.89717H11.6978V15.9195H2.76882V5.89717Z" fill="black"/>
                <path d="M4.86914 0.169922V3.0334H6.96971V2.07877H15.8987V12.1018H14.8481V14.0106H17.9992V0.170206L4.86914 0.169922Z" fill="black"/>
              </svg>
              <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
              <span v-else class="--tooltip --sucess">Copied
                <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon--check">
                  <path d="M1 7.5L5 11.5L12 1" stroke="black" stroke-width="2"/>
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="calculator_input-box">
            <div class="header --yellow">
              Return on Investment (ROI) <span class="question-circle --yellow_bg">
                {{- partial "icons/question-mark.html" -}}
              </span>
              <span class="--tooltip">The total advertising impressions <br /> over the life of the campaign</span>
            </div>
            <div class="input-wrapper" :class="{ '--border': roiValue }">
              <input @focus="focus" @blur="blur" @input="calculateROAS($event, 'roi')" :value="roiText"
                type="text" placeholder="50,000" ref="adRevenue" />
              <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.36 10.76C9.36 8.186 7.542 7.628 5.616 7.088V2.966C6.858 3.164 7.506 3.956 7.506 5.612H9.108C9.108 3.146 7.884 1.832 5.616 1.634V0.247999H4.5V1.634C2.304 1.796 0.972 3.038 0.972 4.928C0.972 7.268 2.754 7.916 4.5 8.42V12.884C3.096 12.686 2.358 11.786 2.358 10.04H0.756C0.774 12.596 2.106 14.036 4.5 14.234V15.782H5.616V14.234C7.92 14.054 9.36 12.74 9.36 10.76ZM2.592 4.838C2.592 3.704 3.258 3.074 4.5 2.948V6.782C3.276 6.422 2.592 6.026 2.592 4.838ZM5.616 8.726C6.93 9.122 7.74 9.536 7.74 10.814C7.74 12.02 7.002 12.758 5.616 12.902V8.726Z"
                  fill="black" fill-opacity="0.5" />
              </svg>
            </div>
            <div class="copy-button_wrapper hide-sm" @click="copyValue($event, adRevenueValue)"
              @mouseleave="copied = false">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.667969 17.8287H13.7989V3.98828H0.667969V17.8287ZM2.76882 5.89717H11.6978V15.9195H2.76882V5.89717Z" fill="black"/>
                <path d="M4.86914 0.169922V3.0334H6.96971V2.07877H15.8987V12.1018H14.8481V14.0106H17.9992V0.170206L4.86914 0.169922Z" fill="black"/>
              </svg>
              <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
              <span v-else class="--tooltip --sucess">Copied
                <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon--check">
                  <path d="M1 7.5L5 11.5L12 1" stroke="black" stroke-width="2"/>
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div v-if='roasValue'
        :class="['roas-progress-bar', 'col-xs-12', { 'safe': roasValue >= 800, 'warning': roasValue >= 400 && roasValue < 800, 'danger': roasValue < 400 || roasValue === null }]">
        <div class="progress-wrap"><span v-html="roasValue ? roasValue + '%' : '0%'"></span>
          <div class="bar">
            <div class="target"><small>Target (800%)</small><br>$<span v-html="expectedRevenueText"></span>+</div>
            <div class="progress" :style="{ width: (roasValue / 10) + '%' }"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xs-12 footer">
        <span v-if="roasValue > 800" class='safe value'>
          Nice work! Your ROAS is <span v-html="roasValue ? roasValue + '%' : '0%'"></span>.<br /> If you're getting over
          800% ROAS, you're probably in a good spot!
        </span>
        <span v-if="roasValue >= 400 && roasValue < 800" class='warning value'>
          Your ROAS is <span v-html="roasValue ? roasValue + '%' : '0%'"></span>. This is not great but it's fair.
          <br />You
          need to make more than you spend on ads. You should aim for 800%
        </span>
        <span v-if="roasValue < 400 && roasValue !== null" class='danger value'>
          Danger! Your ROAS is <span v-html="roasValue ? roasValue + '%' : '0%'"></span>. This is not good.<br /> You need
          to
          make more than you spend on ads. <br />If you are receiving any less than 400% ROAS, you may be losing money.
        </span>
        <span v-if="roasValue === null">
          <span class="footer-heading">Fill in any 2 fields</span><br>
          The value of the third will appear
        </span>
      </div>
    </div>
    `
    })
    var app = new Vue({
      el: '#cpm__calculator',
      data: {
            campaigns: [{name:'Campaign 1',platform:{name:'Campaign 1',icon:'dot'},values: {
                        adRevenue:null,
                        roas:null,
                        adSpend:null
                    }}],
            ind : 1,
            isRefresh: false,
            activeTab: 'simple',
            dummyCampains:[],
        },
        watch:{
          campaigns:{
            handler(val) {
                this.dummyCampains = val
            },
            immediate: true
          }
        },
    methods:{
        refresh(){
            this.campaigns = [{name:'Campaign 1',platform:{name:'Campaign 1',icon:'dot'},values: { adRevenue:null, roas:null, adSpend:null }}]
            this.isRefresh = !this.isRefresh
        },
        switchTab(tab){
            this.activeTab = tab
            if(tab === 'simple'){
                this.ind = 2
                this.campaigns.splice(1)
            }
        },
        deleteRow(e){
            this.ind = 0
            this.campaigns = JSON.parse(JSON.stringify(this.campaigns))
            let newArr = []
            for(let i = 0; i<=this.campaigns.length - 1;i++){
                if(this.campaigns[i].name !== e.name ){
                    newArr.push({name:`Campaign ${++this.ind}`,platform:this.dummyCampains[i].platform,values:this.dummyCampains[i].values })   
                }
            }
            this.campaigns = [...newArr]
        },
        valueChange(e){
            this.dummyCampains = JSON.parse(JSON.stringify(this.campaigns))
            const updatedValues = JSON.parse(JSON.stringify(e))
            for(let i = 0; i<=this.campaigns.length - 1;i++){
                if(this.dummyCampains[i].name === updatedValues.name ){
                    this.dummyCampains[i].values = updatedValues
                }
            }
        }
    },
      // To make sure there's no conflict with Hugo templating
      delimiters: ['{', '}'],
    });
    </script>