<section class="container mobile-adjusted" id="cpm__calculator">
    <div>
        <div class="calculator-toggle">
            <div class="calculator-type" id="cpm_calculator-simple-toggle" :class="{'--active': activeTab === 'simple'}" @click="switchTab('simple')">
                Simple Mode
            </div>
            <div class="calculator-type" id="cpm_calculator-advance-toggle" :class="{'--active': activeTab === 'advance'}" @click="switchTab('advance')">
                With ROI  <span class="question-circle --gray_bg">
                    {{- partial "icons/question-mark.html" -}}
                </span>
                <span class="--tooltip">Use advanced mode to compare <br> the costs of multiple campaigns.</span>
            </div>
        </div>
        <div class="row" id="cpm_calculator-section">
            <div class="col-md-5 roas-left-controls">
                <div class="roas-control-wrapper">
                    <div class="roas-input-box">
                        <div class="header --pink">
                            Ad Spend <span class="question-circle --pink_bg">
                                {{- partial "icons/question-mark.html" -}}
                            </span>
                            <span class="--tooltip">The total cost or budget <br> for the campaign</span>
                        </div>
                        <div class="input-wrapper" :class="{'--border':inlineValue}">
                            <inline-input @blur="blur" background="none" v-model="adSpendValue" placeholder="200"  @input="calculateROAS($event, 'adSpend')"></inline-input><span class="doller-sign">$</span>         
                            <div class="copy-button_wrapper hide-sm" @click="copyValue($event,totalCostValue)" @mouseleave="copied = false">
                                {{- partial "icons/copy-button.html" -}}
                                <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                                <span v-else class="--tooltip --sucess">Copied 
                                    {{- partial "icons/check.html" -}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="roas-input-box --with-toggle">
                        <div class="wrapper">
                            <div class="header --green">
                                Ad Revenue <span class="question-circle --green_bg">
                                    {{- partial "icons/question-mark.html" -}}
                                </span>
                                <span class="--tooltip">The total cost or budget <br> for the campaign</span>
                            </div>
                            <div class="input-wrapper" :class="{'--border':inlineValue}">     
                                    <inline-input @blur="blur" :read-only="!isRevenueAvaliable" background="none" v-model="adRevenueValue" placeholder="8,000" @input="calculateROAS($event, 'adRevenue')"></inline-input><span class="doller-sign">$</span>
                                    <div class="copy-button_wrapper hide-sm" @click="copyValue($event,totalCostValue)" @mouseleave="copied = false">
                                        {{- partial "icons/copy-button.html" -}}
                                        <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                                        <span v-else class="--tooltip --sucess">Copied 
                                            {{- partial "icons/check.html" -}}
                                        </span>
                                    </div>
                            </div>
                        </div>
                            <label class="toggle">
                                <div class="toggle-wrpper">
                                  <input @blur="blur" class="toggle-input" type="checkbox" v-model="isRevenueAvaliable" @change="toggleRevenuAvaliable"/>
                                  <div class="toggle-track">
                                    <div class="toggle-control"></div>
                                  </div>
                                </div>
                                <span class="toggle-label">I know my revenue</span>
                            </label>
                    </div>
                    <div class="roas-input-box">
                        <div class="header --black">
                            ROAS 
                        </div>
                        <div class="input-wrapper" :class="{'--border':inlineValue}">
                            <inline-input  @blur="blur" :read-only="!isRevenueAvaliable"  background="none" v-model="roasValue" placeholder="500" @input="calculateROAS($event, 'roas')"></inline-input><span class="doller-sign">%</span>
                            <div class="copy-button_wrapper hide-sm" @click="copyValue($event,roasValue)" @mouseleave="copied = false">
                                {{- partial "icons/copy-button.html" -}}
                                <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                                <span v-else class="--tooltip --sucess">Copied 
                                    {{- partial "icons/check.html" -}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="roas-input-box" v-if="activeTab === 'advance'">
                        <div class="header --black">
                            Profit Margin
                        </div>
                        <div class="input-wrapper" :class="{'--border':inlineValue}">
                            <inline-input @blur="blur"  background="none" v-model="profitMarginValue" placeholder="500" @input="calculateROAS($event, 'profitMargin')"></inline-input><span class="doller-sign">$</span>
                            <div class="copy-button_wrapper hide-sm" @click="copyValue($event,roasValue)" @mouseleave="copied = false">
                                {{- partial "icons/copy-button.html" -}}
                                <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                                <span v-else class="--tooltip --sucess">Copied 
                                    {{- partial "icons/check.html" -}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="roas-input-box" v-if="activeTab === 'advance'">
                        <div class="header --black">
                            Return on investment (ROI)
                        </div>
                        <div class="input-wrapper" :class="{'--border':inlineValue}">
                            <inline-input @blur="blur"  background="none" v-model="roiValue" placeholder="500" @input="calculateROAS($event, 'roi')"></inline-input><span class="doller-sign">$</span>
                            <div class="copy-button_wrapper hide-sm" @click="copyValue($event,roiValue)" @mouseleave="copied = false">
                                {{- partial "icons/copy-button.html" -}}
                                <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                                <span v-else class="--tooltip --sucess">Copied 
                                    {{- partial "icons/check.html" -}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="switch-mode-wrapper">
                    Calculate Return On Investment (ROI) <br /> using <span @click="switchTab('advance')">ROI Mode</span> 
                </div>
            </div>
            <div class="col-md-7 graph-section-wrapper">
                <div class="roas-progress-wrapper">
                    <div :class="['roas-progress-bar', 'col-xs-12', { 'safe': roasValue >= 800, 'warning': roasValue >= 400 && roasValue < 800, 'danger': roasValue < 400 || roasValue === null }]">
                    <div class="progress-wrap">
                    <div class="progress-value-wrapper">
                        <div class="value-wrapper">
                            <span class="value"><div class="title"><span class="circle"></span><span class="title-value">ROAS</span></div>{roasValue ? roasValue: '0%'}</span><span class="percentage">%</span>
                        </div>
                    </div>
                      <div class="bar">
                        <!-- <div class="target"><span class="expected-revenue">{expectedRevenueText}$</span><small>Target (800%)</small></div> -->
                        <div class="target"><span class="expected-revenue">800%</span><small>Target</small></div>
                        <div class="progress" :style="{ width: (roasValue / 10) + '%' }"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="roas-graph-wrapper">

                </div>
            </div>

            <!-- <div v-for="(campaign,i) in campaigns" :key="campaign + Math.random()" :class="['col-xs-12',{'--advance': activeTab === 'active'}]" style="padding: 0;">
                <input-row @value-change="valueChange($event)" :values="campaign.values" :campaign="campaign.name" :platform="campaign.platform" :refresh="isRefresh" :tab="activeTab" @delete-row="deleteRow($event)" @select-option="selectOption($event)"></input-row>
        </div> -->
        <!-- <inline-input v-model="inlineValue"></inline-input>$ -->
            <div class="refresh-button_wrapper" @click="refresh">
                {{- partial "icons/refresh.html" -}}
                <span class="--tooltip">Clear & Start Over</span>
            </div>
        </div>
    </div>
</section>

{{- if getenv "IS_PROD" -}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{- end -}}
{{- partial "site/trueValueMixin.html" -}}
<script>
    Vue.component('inline-input',{
        mixins: [trueValueMixin],

props: {
  value: {
    type: String,
    default: '',
  },
  background: {
    type: String,
    default: 'rgba(0, 0, 0, 0.02)',
  },
  padding: {
    type: String,
    default: '4px 8px',
  },
  margin: {
    type: String,
    default: '-4px -8px',
  },
  borderRadius: {
    type: String,
    default: '4px',
  },
  readOnly: {
    type: Boolean,
    default: false,
  },
  placeholder: {
    type: String,
    default: '',
  },
},
// created() {
//   this.$refs.editable.innerText = this.modelValue;
// },
data() {
  return {
    localValue: '',
  };
},
// watch: {
//   modelValue: {
//     handler: function(newValue) {
//       // console.log(newValue, this.localValue);
//       console.log({newValue,l:this.localValue},'this')
//       if (newValue && newValue !== this.localValue) {
//         this.localValue = newValue.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
//       }
//     },
//     immediate: true,
//   },
// },
computed: {
  calculateMargin() {
    var newPadding = this.padding.split(' ');
    var arrayPadding = newPadding.map(function(x) {
      return '-' + x;
    });
    return arrayPadding.join(' ');
  },
  getValue(){
    return this.value ? this.value.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") : null
  }
},
methods: {
  onUpdateValue(evt) {
    const newValue = evt.target.innerText.replace(/,/g, '');
    const range = document.getSelection().getRangeAt(0);
    const pos = range.endOffset;
    this.updateValue(newValue);
    this.$nextTick(() => {
      const newRange = document.createRange();
      const selection = window.getSelection();
      const node = this.$el.childNodes[0];
      if (node) {
        newRange.setStart(node, node && pos > node.length ? 0 : pos);
        newRange.collapse(true);
        selection.removeAllRanges();
        selection.addRange(newRange);
      }
    });
  },
  onkeyDown(event){
    const regex = new RegExp(/(^\d*$)|(Backspace|Tab|Delete|ArrowLeft|ArrowRight)/);
    return !event.key.match(regex) && event.preventDefault();
  },
  onTextFocus(e) {
    e.target.style.color = this.color;
    e.target.style.background = this.background;
    e.target.style.padding = this.padding;
    e.target.style.margin = this.calculateMargin;
    e.target.style.borderRadius = this.borderRadius;
  },
  removeTextFocus(e) {
    this.$emit('blur',e)
    e.target.style.background = '';
    e.target.style.padding = '';
    e.target.style.margin = '';
    e.target.style.borderRadius = '';
  },
},
template:  `

  <div class="inline-input__wrapper" :contenteditable="!readOnly" @input="onUpdateValue($event)" @keydown='onkeyDown($event)' @focus="onTextFocus" @blur="removeTextFocus" v-html="getValue" @keydown.stop="" :placeholder="placeholder"></div>
    `
    })
    var app = new Vue({
      el: '#cpm__calculator',
      data: {
          activeTab: 'simple',
          roasValue: null,
          inlineValue: '1000',
          isRevenueAvaliable:true,
          adRevenueValue: null,
          adSpendValue: null,
          lastUpdatedField: '',
          copied: false,
          expectedRevenueText:null,
          profitMarginValue : null,
          roiValue : null,
        },
    methods:{
        switchTab(tab){
            this.activeTab = tab
        },
        copyValue(e,value){
            this.copied = true
            if(value){
                navigator.clipboard.writeText(value)
            }
        },
        refresh(){

        },
        calculateROAS(e, fieldName){
            // debugger
            if((!this.roasValue && !this.adRevenueValue || !this.adRevenueValue && !this.adSpendValue || !this.roasValue && !this.adSpendValue )){
                return // do not calculate anything
            }
            if(this.lastUpdatedField){
              console.log('le')
                // update lastUpdatedField
                this.calculateOtherField(this.lastUpdatedField)
            } else {
                if(fieldName === 'roas') {
                    // Not allowed
                    if(!this.adRevenueValue){
                        this.calculateOtherField('adRevenue')
                    }
                    else if(!this.adSpendValue){
                        this.calculateOtherField('adSpend')
                    } else {
                        this.calculateOtherField('adSpend')
                    }
                } else {
                    if(this.adSpendValue && this.adRevenueValue){
                        // update ROAS
                        this.calculateOtherField('roas')
                    }
                    else if(this.adSpendValue && this.roasValue && fieldName !== 'adRevenue'){ 
                        // update adRevenue
                        this.calculateOtherField('adRevenue')
                    }
                    else if(this.adRevenueValue && this.roasValue && fieldName !== 'adSpend'){
                        // update adSpendroasValue
                        this.calculateOtherField('adSpend')
                    }
                    else if(this.roiValue && this.adSpendValue && fieldName !== 'profitMargin'){
                        // update adSpendroasValue
                        this.calculateOtherField('profitMargin')
                    }
                    else if(this.adSpendValue && this.profitMarginValue && fieldName !== 'roi'){
                        // update adSpendroasValue
                        this.calculateOtherField('roi')
                    }
                }
            }
        },
        calculateExpectedValues(){
          this.expectedRevenueText =  ( (this.adSpendValue * 800) / 100).toFixed(2)
        },
        calculateOtherField(fieldName) {
            switch(fieldName){
                case 'roas': 
                    if(this.isRevenueAvaliable){
                      this.roasValue = ((this.adRevenueValue / this.adSpendValue) * 100).toFixed(2);
                    }else{
                      this.roasValue = '800.00'
                    }
                    this.calculateExpectedValues();
                    break;
                case 'adRevenue':
                    this.calculateExpectedValues();
                    if(this.isRevenueAvaliable){
                      this.adRevenueValue = (this.adSpendValue * (this.roasValue/100)).toFixed(0);
                    }else{
                      this.adRevenueValue = this.expectedRevenueText
                    }
                    break;
                case 'adSpend':
                    this.calculateExpectedValues();
                    this.adSpendValue = ((this.adRevenueValue / this.roasValue) * 100).toFixed(0);
                case 'profitMargin':
                    this.profitMarginValue = (this.adSpendValue + this.roiValue);
                case 'roi':
                  console.log('hello')
                  this.roiValue = (this.adSpendValue - this.profitMargin);
                    break;
                }
                this.lastUpdatedField = fieldName;
        }, 
        toggleRevenuAvaliable(e){
          if(!this.isRevenueAvaliable){
              this.roasValue = '800.00';
              if(this.adSpendValue){
                  this.calculateOtherField('adRevenue')
              }else{
                this.adSpendValue = '200'
                this.calculateOtherField('adRevenue')
              }
          }else{
            this.calculateOtherField('roas')
          }
        },
        blur(){
          this.lastUpdatedField = ''
        }
    },
      // To make sure there's no conflict with Hugo templating
      delimiters: ['{', '}'],
    });
    </script>