<section class="container mobile-adjusted" id="cpm__calculator">
    <div>
        <div class="calculator-toggle">
            <div class="calculator-type" id="cpm_calculator-simple-toggle" :class="{'--active': activeTab === 'simple'}" @click="switchTab('simple')">
                Simple Mode
            </div>
            <div class="calculator-type" id="cpm_calculator-advance-toggle" :class="{'--active': activeTab === 'advance'}" @click="switchTab('advance')">
                With ROI  <span class="question-circle --gray_bg">
                    {{- partial "icons/question-mark.html" -}}
                </span>
                <span class="--tooltip">Use advanced mode to compare <br> the costs of multiple campaigns.</span>
            </div>
        </div>
        <div class="row" id="cpm_calculator-section">
            <div class="col-md-5 roas-left-controls">
                <div class="roas-control-wrapper">
                    <div class="roas-input-box">
                        <div class="header --pink">
                            Ad Spend <span class="question-circle --pink_bg">
                                {{- partial "icons/question-mark.html" -}}
                            </span>
                            <span class="--tooltip">The total cost or budget <br> for the campaign</span>
                        </div>
                        <div class="input-wrapper" :class="{'--border':inlineValue}">
                            <inline-input background="none" v-model="adSpendValue" placeholder="200"  @input="calculateROAS($event, 'adSpend')"></inline-input><span class="doller-sign">$</span>         
                            <div class="copy-button_wrapper hide-sm" @click="copyValue($event,totalCostValue)" @mouseleave="copied = false">
                                {{- partial "icons/copy-button.html" -}}
                                <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                                <span v-else class="--tooltip --sucess">Copied 
                                    {{- partial "icons/check.html" -}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="roas-input-box --with-toggle">
                        <div class="wrapper">
                            <div class="header --green">
                                Ad Revenue <span class="question-circle --green_bg">
                                    {{- partial "icons/question-mark.html" -}}
                                </span>
                                <span class="--tooltip">The total cost or budget <br> for the campaign</span>
                            </div>
                            <div class="input-wrapper" :class="{'--border':inlineValue}">     
                                    <inline-input :read-only="!isRevenueAvaliable" background="none" v-model="adRevenueValue" placeholder="8,000" @input="calculateROAS($event, 'adRevenue')"></inline-input><span class="doller-sign">$</span>
                                    <div class="copy-button_wrapper hide-sm" @click="copyValue($event,totalCostValue)" @mouseleave="copied = false">
                                        {{- partial "icons/copy-button.html" -}}
                                        <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                                        <span v-else class="--tooltip --sucess">Copied 
                                            {{- partial "icons/check.html" -}}
                                        </span>
                                    </div>
                            </div>
                        </div>
                            <label class="toggle">
                                <div class="toggle-wrpper">
                                  <input class="toggle-input" type="checkbox" v-model="isRevenueAvaliable" @change="toggleRevenuAvaliable"/>
                                  <div class="toggle-track">
                                    <div class="toggle-control"></div>
                                  </div>
                                </div>
                                <span class="toggle-label">I know my revenue</span>
                            </label>
                    </div>
                    <div class="roas-input-box">
                        <div class="header --black">
                            ROAS 
                        </div>
                        <div class="input-wrapper" :class="{'--border':inlineValue}">
                            <inline-input :read-only="!isRevenueAvaliable"  background="none" v-model="roasValue" placeholder="500" @input="calculateROAS($event, 'roas')"></inline-input><span class="doller-sign">%</span>
                            <div class="copy-button_wrapper hide-sm" @click="copyValue($event,roasValue)" @mouseleave="copied = false">
                                {{- partial "icons/copy-button.html" -}}
                                <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                                <span v-else class="--tooltip --sucess">Copied 
                                    {{- partial "icons/check.html" -}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="roas-input-box" v-if="activeTab === 'advance'">
                        <div class="header --black">
                            Profit Margin
                        </div>
                        <div class="input-wrapper" :class="{'--border':inlineValue}">
                            <inline-input :read-only="!isRevenueAvaliable"  background="none" v-model="profitMarginValue" placeholder="500" @input="calculateROAS($event, 'profitMargin')"></inline-input><span class="doller-sign">$</span>
                            <div class="copy-button_wrapper hide-sm" @click="copyValue($event,roasValue)" @mouseleave="copied = false">
                                {{- partial "icons/copy-button.html" -}}
                                <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                                <span v-else class="--tooltip --sucess">Copied 
                                    {{- partial "icons/check.html" -}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="roas-input-box" v-if="activeTab === 'advance'">
                        <div class="header --black">
                            Return on investment (ROI)
                        </div>
                        <div class="input-wrapper" :class="{'--border':inlineValue}">
                            <inline-input :read-only="!isRevenueAvaliable"  background="none" v-model="roiValue" placeholder="500" @input="calculateROAS($event, 'roi')"></inline-input><span class="doller-sign">$</span>
                            <div class="copy-button_wrapper hide-sm" @click="copyValue($event,roiValue)" @mouseleave="copied = false">
                                {{- partial "icons/copy-button.html" -}}
                                <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                                <span v-else class="--tooltip --sucess">Copied 
                                    {{- partial "icons/check.html" -}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="switch-mode-wrapper">
                    Calculate Return On Investment (ROI) 
                    using ROI Mode
                </div>
            </div>
            <div class="col-md-7 graph-section-wrapper">
                <div class="roas-progress-wrapper">
                    <div :class="['roas-progress-bar', 'col-xs-12', { 'safe': roasValue >= 800, 'warning': roasValue >= 400 && roasValue < 800, 'danger': roasValue < 400 || roasValue === null }]">
                    <div class="progress-wrap">
                    <div class="progress-value-wrapper">
                        <div class="value-wrapper">
                            <span class="value"><div class="title"><span class="circle"></span><span class="title-value">ROAS</span></div>{roasValue ? roasValue: '0%'}</span><span class="percentage">%</span>
                        </div>
                    </div>
                      <div class="bar">
                        <div class="target"><span class="expected-revenue">{expectedRevenueText}$</span><small>Target (800%)</small></div>
                        <div class="progress" :style="{ width: (roasValue / 10) + '%' }"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="roas-graph-wrapper">

                </div>
            </div>

            <!-- <div v-for="(campaign,i) in campaigns" :key="campaign + Math.random()" :class="['col-xs-12',{'--advance': activeTab === 'active'}]" style="padding: 0;">
                <input-row @value-change="valueChange($event)" :values="campaign.values" :campaign="campaign.name" :platform="campaign.platform" :refresh="isRefresh" :tab="activeTab" @delete-row="deleteRow($event)" @select-option="selectOption($event)"></input-row>
        </div> -->
        <!-- <inline-input v-model="inlineValue"></inline-input>$ -->
            <div class="refresh-button_wrapper" @click="refresh">
                {{- partial "icons/refresh.html" -}}
                <span class="--tooltip">Clear & Start Over</span>
            </div>
        </div>
    </div>
</section>

{{- if getenv "IS_PROD" -}}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
{{- else -}}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{{- end -}}
{{- partial "site/trueValueMixin.html" -}}
<script>
    Vue.component('inline-input',{
        mixins: [trueValueMixin],

props: {
  value: {
    type: String,
    default: '',
  },
  background: {
    type: String,
    default: 'rgba(0, 0, 0, 0.02)',
  },
  padding: {
    type: String,
    default: '4px 8px',
  },
  margin: {
    type: String,
    default: '-4px -8px',
  },
  borderRadius: {
    type: String,
    default: '4px',
  },
  readOnly: {
    type: Boolean,
    default: false,
  },
  placeholder: {
    type: String,
    default: '',
  },
},
// created() {
//   this.$refs.editable.innerText = this.modelValue;
// },
data() {
  return {
    localValue: '',
  };
},
// watch: {
//   modelValue: {
//     handler: function(newValue) {
//       // console.log(newValue, this.localValue);
//       console.log({newValue,l:this.localValue},'this')
//       if (newValue && newValue !== this.localValue) {
//         this.localValue = newValue.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
//       }
//     },
//     immediate: true,
//   },
// },
computed: {
  calculateMargin() {
    var newPadding = this.padding.split(' ');
    var arrayPadding = newPadding.map(function(x) {
      return '-' + x;
    });
    return arrayPadding.join(' ');
  },
  getValue(){
    return this.value ? this.value.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",") : null
  }
},
methods: {
  onUpdateValue(evt) {
    const newValue = evt.target.innerText.replace(/,/g, '');
    const range = document.getSelection().getRangeAt(0);
    const pos = range.endOffset;
    this.updateValue(newValue);
    this.$nextTick(() => {
      const newRange = document.createRange();
      const selection = window.getSelection();
      const node = this.$el.childNodes[0];
      if (node) {
        newRange.setStart(node, node && pos > node.length ? 0 : pos);
        newRange.collapse(true);
        selection.removeAllRanges();
        selection.addRange(newRange);
      }
    });
  },
  onkeyDown(event){
    const regex = new RegExp(/(^\d*$)|(Backspace|Tab|Delete|ArrowLeft|ArrowRight)/);
    return !event.key.match(regex) && event.preventDefault();
  },
  onTextFocus(e) {
    e.target.style.color = this.color;
    e.target.style.background = this.background;
    e.target.style.padding = this.padding;
    e.target.style.margin = this.calculateMargin;
    e.target.style.borderRadius = this.borderRadius;
  },
  removeTextFocus(e) {
    e.target.style.background = '';
    e.target.style.padding = '';
    e.target.style.margin = '';
    e.target.style.borderRadius = '';
  },
},
template:  `

  <div class="inline-input__wrapper" :contenteditable="!readOnly" @input="onUpdateValue($event)" @keydown='onkeyDown($event)' @focus="onTextFocus" @blur="removeTextFocus" v-html="getValue" @keydown.stop="" :placeholder="placeholder"></div>
    `
    })
    Vue.component('input-row', {
        data: function () {
            return {
                cpmValue : this.values.cpm,
                impressionsValue: this.values.impressions,
                totalCostValue: this.values.totalCost,
                lastUpdatedField: '',
                options : [{name:this.campaign,icon:'dot'},{name:'Facebook',icon:'facebook'},{name:'Google',icon:'google'},{name:'TikTok',icon:'tiktok'},{name:'Pinterest',icon:'pinterest'},{name:'Snapchat',icon:'snapchat'},{name:'Twitter',icon:'twitter'}],
                selectedOption : this.platform.name.includes('Campaign') ? {name:this.campaign,icon:'dot'} : this.platform,
                copied: false,
            }
        },
        props:{
            campaign:{
                type: String
            },
            refresh:{
                type: Boolean
            },
            tab:{
                type: String
            },
            platform:{
                type: Object
            },
            values:{
                type: Object,
                default:function(){
                    return {
                        cpm:null,
                        impressions:null,
                        totalCost:null
                    }
                }
            }
        },
        methods:{
        calculateCPM(e, fieldName){
        },
        calculateOtherField(fieldName) {
            switch(fieldName){
                case 'cpm': 
                    this.cpmValue = ((this.totalCostValue / (this.impressionsValue/1000))).toFixed(2);
                    this.updateValue()
                    break;
                case 'impressions':
                    this.updateValue()
                    this.impressionsValue = ((this.totalCostValue / this.cpmValue) * 1000).toFixed(0);
                    break;
                case 'totalCost':
                    this.updateValue()
                    this.totalCostValue = ((this.impressionsValue / 1000) * this.cpmValue).toFixed(0);
                    break;
                }
                this.lastUpdatedField = fieldName;
        },  
        blur(e){
            e.target.parentElement.parentElement.classList.remove('--active_input-box')
            this.lastUpdatedField = '';
        },
        focus(e){
            e.target.parentElement.parentElement.classList.add('--active_input-box')
        },
        deleteRow(e){
            this.$emit('delete-row',{name: this.campaign, platform: this.selectedOption})
        },
        openDropdown(e){
            this.$refs.dropdown.classList.toggle('active')
            window.addEventListener('click', (event)=>{
                if (this.$refs.dropdown && !this.$refs.dropdown.contains(event.target)){
                    this.closeDropdown()
                }
            });
        },
        closeDropdown(e){
            this.$refs.dropdown.classList.remove('active')
        },
        selectOption(option){
            this.$emit('select-option',{name: this.campaign, platform: option, values:{
                        cpm:this.cpmValue,
                        totalCost: this.totalCostValue,
                        impressions: this.impressionsValue 
            }})
            this.selectedOption = option
        },
        getImgUrl(pic) {
            return '/icons/'+pic+'.svg'
        },
        getInputSize(fieldName){
            if(this[`${fieldName}Text`] && this[`${fieldName}Text`].length >= 1){
                return this[`${fieldName}Text`].length
            } else{
                 return fieldName === 'totalCost' ? 5 :  fieldName === 'cpm' ? 2 :  1
            }
        },
        updateValue(){
            if(this.tab === 'advance'){
                this.$emit('value-change',{
                        name: this.campaign,
                        cpm:this.cpmValue,
                        totalCost: this.totalCostValue,
                        impressions: this.impressionsValue
                })
            }
            return
        }
      },
      watch: {
        refresh(){
            this.cpmValue = null
            this.impressionsValue = null
            this.totalCostValue = null
            this.lastUpdatedField = ''
        }
      },
      computed: {
        cpmText() {
            if(this.cpmValue && this.cpmValue !== 'NaN'){
                let replaceWith = this.cpmValue.toString().includes('.') ? '' : ','
                return this.cpmValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, replaceWith)
            }
            else{
                return this.cpmValue = null
            }
        },
        impressionsText() {
            return this.impressionsValue && this.impressionsValue !== 'NaN'  ? this.impressionsValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") : this.impressionsValue = null;
        },
        totalCostText() {
            return this.totalCostValue && this.totalCostValue !== 'NaN' ? this.totalCostValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","): this.totalCostValue = null;
        },
      },

        template:  `
        <div>
    <div class="toolbox" v-if="tab === 'advance'" >
        <div class="dropdown-wrapper">
            <div class="dropdown"  @click.prevent="openDropdown" ref="dropdown">     
               <img :src="getImgUrl(selectedOption.icon)">
                <a href="javascript:void(0)" v-html="selectedOption.name">
                    Campaign
                </a>
                <svg class="dropdown-icon" width="13" height="7" viewBox="0 0 13 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 0.5L6.5 5.5L12 0.5" stroke="black" stroke-opacity="0.25"/>
                </svg>
            </div>
            <ul class="dropdown-list">
                <li class="list-item" v-for="option in options" @click="selectOption(option)">
                    <img :src="getImgUrl(option.icon)">
                    <p class="list-title"  v-html="option.name"></p>
                </li>            
            </ul>
        </div>
        <p v-if="campaign != 'Campaign 1'" @click="deleteRow($event)" class="delete-button">Delete</p>
    </div>
    <div class="row cpm__input-row">
        <div class="col-xs-12 col-md-4">
            <div class="calculator_input-box ">
                <div class="header --green">
                    Total Cost <span class="question-circle --green_bg">
                        {{- partial "icons/question-mark.html" -}}
                    </span>
                    <span class="--tooltip">The total cost or budget <br> for the campaign</span>
                </div>
                <div class="input-wrapper" :class="{'--border':totalCostValue}">
                    <input @focus="focus" @blur="blur" @input="calculateCPM($event, 'totalCost')" :value="totalCostText" type="text" placeholder="1,000"  ref="totalCost" :size="getInputSize('totalCost')">
                    {{- partial "icons/doller.html" -}}
                </div>
                <div class="copy-button_wrapper hide-sm" @click="copyValue($event,totalCostValue)" @mouseleave="copied = false">
                    {{- partial "icons/copy-button.html" -}}
                    <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                    <span v-else class="--tooltip --sucess">Copied 
                        {{- partial "icons/check.html" -}}
                        </span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="calculator_input-box">
                <div class="header --yellow">
                    Impressions <span class="question-circle --yellow_bg">
                        {{- partial "icons/question-mark.html" -}}
                    </span>
                    <span class="--tooltip">The total advertising impressions </br> over the life of the campaign</span>
                </div>
                <div class="input-wrapper" :class="{'--border':impressionsValue}">
                    <input @focus="focus" @blur="blur" @input="calculateCPM($event, 'impressions')" :value="impressionsText"  type="text" placeholder="50,000" ref="impressions">
                </div>
                <div class="copy-button_wrapper hide-sm" @click="copyValue($event,impressionsValue)" @mouseleave="copied = false">
                    {{- partial "icons/copy-button.html" -}}
                    <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                    <span v-else class="--tooltip --sucess">Copied 
                        {{- partial "icons/check.html" -}}
                        </span>
                </div>
            </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="calculator_input-box">
                    <div class="header --pink" title="CPM">
                        CPM <span class="question-circle --pink_bg">
                            {{- partial "icons/question-mark.html" -}}
                        </span>
                        <span class="--tooltip">The cost of the campaign <br> per 1,000 ad exposures</span>
                    </div>
                    <div class="input-wrapper" :class="{'--border':cpmValue}">
                        <input @focus="focus" @blur="blur" @input="calculateCPM($event, 'cpm')" :value="cpmText" type="text" placeholder="20" :size="getInputSize('cpm')" ref="cpm">
                        {{- partial "icons/doller.html" -}}
                    </div>
                    <div class="copy-button_wrapper hide-sm" @click="copyValue($event,cpmValue)" @mouseleave="copied = false">
                        {{- partial "icons/copy-button.html" -}}
                        <span v-if="!copied" class="--tooltip">Copy to clipboard</span>
                    <span v-else class="--tooltip --sucess">Copied 
                        {{- partial "icons/check.html" -}}
                        </span>
                    </div>
                </div>
                </div>
            </div>
            <div v-if="tab === 'simple'" class="col-md-12 col-xs-12 footer">
                <span v-if="cpmValue && impressionsValue || impressionsValue && totalCostValue || cpmValue && totalCostValue">
                    Use advanced mode to compare the costs of <br> multiple campaigns.
                </span>
                <span v-else >
                <span class="footer-heading">Fill in any 2 fields</span><br>
            The value of the third will appear
                </span>
            </div>
            </div>
    `
    })
    var app = new Vue({
      el: '#cpm__calculator',
      data: {
          activeTab: 'simple',
          roasValue: null,
          inlineValue: '1000',
          isRevenueAvaliable:true,
          adRevenueValue: null,
          adSpendValue: null,
          lastUpdatedField: '',
          copied: false,
          expectedRevenueText:null,
          profitMarginValue : null,
          roiValue : null,
        },
    methods:{
        switchTab(tab){
            this.activeTab = tab
        },
        copyValue(e,value){
            this.copied = true
            if(value){
                navigator.clipboard.writeText(value)
            }
        },
        refresh(){

        },
        updateValue(){
            console.log('hh')
        },
        calculateROAS(e, fieldName){
            if((!this.roasValue && !this.adRevenueValue || !this.adRevenueValue && !this.adSpendValue || !this.roasValue && !this.adSpendValue ) &&  (!this.roiValue && !this.profitMarginValue || !this.profitMarginValue && !this.adSpendValue || !this.roiValue && !this.adSpendValue )){
                this.updateValue()
                return // do not calculate anything
            }
            if(this.lastUpdatedField){
                // update lastUpdatedField
                this.calculateOtherField(this.lastUpdatedField)
            } else {
                if(fieldName === 'roas') {
                    // Not allowed
                    if(!this.adRevenueValue){
                        this.calculateOtherField('adRevenue')
                    }
                    else if(!this.adSpendValue){
                        this.calculateOtherField('adSpend')
                    } else {
                        this.calculateOtherField('adSpend')
                    }
                } else {
                    if(this.adSpendValue && this.adRevenueValue){
                        // update ROAS
                        this.calculateOtherField('roas')
                    }
                    else if(this.adSpendValue && this.roasValue && fieldName !== 'adRevenue'){ 
                        // update adRevenue
                        this.calculateOtherField('adRevenue')
                    }
                    else if(this.adRevenueValue && this.roasValue && fieldName !== 'adSpend'){
                        // update adSpendroasValue
                        this.calculateOtherField('adSpend')
                    }
                    else if(this.roiValue && this.adSpendValue && fieldName !== 'profitMargin'){
                        // update adSpendroasValue
                        this.calculateOtherField('profitMargin')
                    }
                    else if(this.adSpendValue && this.profitMarginValue && fieldName !== 'roi'){
                        // update adSpendroasValue
                        this.calculateOtherField('roi')
                    }
                }
            }
        },
        calculateExpectedValues(){
          this.expectedRevenueText =  ( (this.adSpendValue * 800) / 100).toFixed(2)
        },
        calculateOtherField(fieldName) {
            switch(fieldName){
                case 'roas': 
                    if(!this.isRevenueAvaliable){
                      this.roasValue = ((this.adRevenueValue / this.adSpendValue) * 100).toFixed(2);
                    }else{
                      this.roasValue = '800'
                    }
                    this.calculateExpectedValues();
                    this.updateValue()
                    break;
                case 'adRevenue':
                    this.calculateExpectedValues();
                    if(!this.isRevenueAvaliable){
                      this.adRevenueValue = (this.adSpendValue * (this.roasValue/100)).toFixed(0);
                    }else{
                      this.adRevenueValue = this.expectedRevenueText
                    }
                    break;
                case 'adSpend':
                    console.log('hrkk')
                    this.updateValue()
                    this.calculateExpectedValues();
                    this.adSpendValue = ((this.adRevenueValue / this.roasValue) * 100).toFixed(0);
                case 'profitMargin':
                    this.profitMarginValue = (this.adSpendValue + this.roiValue);
                case 'roi':
                  console.log('hello')
                  this.roiValue = (this.adSpendValue - this.profitMargin);
                    break;
                }
                this.lastUpdatedField = fieldName;
        }, 
        toggleRevenuAvaliable(e){
          if(!this.isRevenueAvaliable){
              this.roasValue = '800';
              if(this.adSpendValue){
                  this.calculateOtherField('adRevenue')
              }else{
                this.adSpendValue = '200'
                this.calculateOtherField('adRevenue')
              }
          }else{
            this.calculateOtherField('roas')
          }
        }
    },
      // To make sure there's no conflict with Hugo templating
      delimiters: ['{', '}'],
    });
    </script>