<div class="showcase-popup">
  <div class="wrapper">
    <img src="/images/showcase.png" alt="">
    <div class="aside">
      <div class="text">
        <h4 class="title">Showcase for creators</h4>
        <p class="subtext">Collaborate with top brands & get paid.</p>
      </div>
      <div class="cta">
        <a href="https://app.inbeat.co/get-started" @click="hideUnlockPopup" class="" title="Get started"
          target="_blank">
          Join as a creator
        </a>
      </div>
    </div>
  </div>
</div>