<div class="showcase-popup">
  <div class="wrapper">
    <div @click="hideUnlockPopup" class="close">{{ partial "icons/close.html" . }}</div>
    <img src="/images/showcase.png" alt="">
    <div class="aside">
      <div class="text">
        <h4 class="title">Collaborate with top brands & get paid.</h4>
        <p class="subtext">Showcase is a platform that connects brands & creators to create UGC.</p>
      </div>
      <a href="https://www.showca.se/" @click="hideUnlockPopup" class="cta" title="Get started"
        target="_blank">
        Learn more
      </a>
    </div>
  </div>
</div>