<section class="container-fluid testimonials-influencer" id="{{- .Params.testimonials.id -}}"> 
    {{- with $.Site.Data.testimonial -}}
        <div class="container"> 
            <div class="row">
                <div class="col-xs-12 col-md-12 align-center"><h3>{{- .title -}}</h3></div>
                <!-- <div class="navigator hide-md-up">
                    {{- range $elem_index, $elem_val := .client -}}
                    <div class="testimonial_circle" @click="scrollTo($elem_index)"></div>
                    {{- end -}}
                </div> -->
                <div class="clients_card-container">
                        {{- range .client -}}
                            <div class="col-md-4 col-sm-12 box client-card" > 
                                <div class="inner-box">
                                   <p style="font-size: 14px;">{{- .quote -}} </p> 
                                   <div class="client">
                                        <img src="{{- .img -}}" alt="">
                                        <div class="client-info">
                                        <p class="small"><strong>{{- .name -}}</strong></p>
                                        <p class="small job">{{- htmlUnescape .job  | markdownify -}}</p>
                                    </div>
                                   </div>
                                </div>
                            </div>
                        {{- end -}}
            </div>    
            </div>
        </div>
        {{- end -}}
</section>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    function initilezeFlickity(){
        var elem = document.querySelector('.clients_card-container');
        var flkty = new Flickity( elem, {
            wrapAround: true,
        });
    }
    if(window.matchMedia("(max-width: 700px)").matches){
        initilezeFlickity()
    }
</script>