{{- with $.Site.Data.testimonial -}}
    <section class="container-fluid p-tb-80" id="testimonials"> 
        <div class="container m-tb-40"> 
            <div class="row">
                <div class="col-xs-12 col-md-12 align-center"><h3>{{- .title -}}</h3></div>    
                {{- range .client -}}
                    <div class="col-md-4 col-sm-12 box m-tb-80"> 
                        <div class="inner-box">
                           <p class="small">{{- .quote -}} </p> 
                           <div class="client">
                                <img src="{{- .img -}}" alt="">
                                <div class="client-info">
                                <p class="small"><strong>{{- .name -}}</strong></p>
                                <p class="small job">{{- .job -}}</p>
                            </div>
                           </div>
                        </div>
                    </div>
                {{- end -}}
            </div>
        </div>
    <section class="container mobile-adjusted" id="clients">
        <div class="row between-xs middle-xs">
            <div class="icons">{{- partial "icons/got-milk.html" -}}</div>
            <div class="icons">{{- partial "icons/moose.html" -}}</div>
            <div class="icons">{{- partial "icons/new-balance.html" -}}</div>
            <div class="icons">{{- partial "icons/nissan.html" -}}</div>
            <div class="icons">{{- partial "icons/loop.html" -}}</div>
            <div class="icons">{{- partial "icons/bedtime.html" -}}</div>
        </div>
    </section>
</section>
{{- end -}}