<section class="container mobile-adjusted" id="testimonial">
    <div class="row around-xs">
        <div class="col-xs-12 col-lg-8 align-center">
            <h3>Helping 1000+ agencies and e-commerce brands</h3>
            <p class="quote">
                "inBeat is the tech behind our ambassador program of 3000+ micro-influencers.
                It saves us countless hours of research every month.""
            </p>
            <p>
                <img src="/images/avatar-jp.png" alt="J.P. Brousseau">
                J.P. Brousseau, CEO at Phoneloops
            </p>
        </div>
    </div>
</section>