{{- $nb := div (len .items) 3 -}}
{{- if not (eq (mod (len .items) 3) 0) -}}
{{- $nb = add $nb 1 -}}
{{- end -}}
<div class="top-row">
    <div>
        <ul>
        {{- range $i, $e := first $nb .items -}}
        <li><a href="{{- $.Site.BaseURL -}}/top-influencers{{- $e.link }}">{{- $e.name -}}</a></li>
        {{- end -}}
        </ul>
    </div>
    <div>
        <ul>
        {{- range $i, $e := first $nb (after $nb .items) -}}
        <li><a href="{{- $.Site.BaseURL -}}/top-influencers{{- $e.link }}">{{- $e.name -}}</a></li>
        {{- end -}}
        </ul>
    </div>
    <div>
        <ul>
        {{- range $i, $e := after $nb (after $nb .items) -}}
        <li><a href="{{- $.Site.BaseURL -}}/top-influencers{{- $e.link }}">{{- $e.name -}}</a></li>
        {{- end -}}
        </ul>
    </div>
</div>