{{- with $.Site.Data.toolkitGlobalBanner -}}
    <section class="container-fluid mobile-adjusted ugc-global-section" id="{{- .id -}}">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-5">
                  <img class="whatwedo_image" src="/images/showcase-img.png" alt="Showcase"> 
                </div>
                <div class="col-xs-12 col-md-6 whatwedo_description-section">
                  <h2 class="whatwedo_description-title">
                    {{- if .newBadge -}}
                      <span class="new-badge">New!</span>
                    {{- end -}}   
                    {{- .title -}}
                  </h2>
                    <p class="whatwedo_description-subtext">{{- .text -}}</p>
                    <div class="cta-whatwedo">
                        <a href="{{- .cta.link -}}" class="btn btn-lg whatwedo-btn" title="Sign up for free — On Showcase" id="hero-cta" target="_blank">
                            {{- htmlUnescape .cta.text | markdownify -}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{- end -}}