<transition name="fade">
  <div id="unlockCalculator" :class="['unlock-calculator-popup', popupClass]" v-if="showPopup" v-cloak>
    <div class="popup popup--fadeIn"> 
        <div class="content">
          <div class="content-group">
            <div class="header">
              <h1 class="title">Title</h1>
              <p class="subtext">Subtext</p>
            </div>
            <button class="btn btn-lg active" @click="hideUnlockPopup">Unlock Calculator</button>
          </div>
        </div>
    </div>
  </div>
</transition>