{{- with .Params.whatwedo -}}
    <section class="container-fluid mobile-adjusted" id="what-we-do-industries">
        <div class="container">
            <div class="row" style="display:flex; justify-content: space-between;">
                <h2 class="cta-title mobile-title hide-md-up" style="margin-bottom: 32px;">{{- .title -}}</h2>
                <div class="col-xs-12 col-md-5 left-sec">
                    <!-- <video autoplay muted loop playsinline>
                        <source src="/videos/{{- .video -}}.mp4" />
                    </video>    -->
                    <img src="{{- .image -}}" alt=""> 
                </div>
                <div class="col-xs-12 col-md-6 whatwedo-aside">
                    <h2 class="cta-title hide-md">{{- .title -}}</h2>
                    <div class="list-seperator"></div>
                    {{- range .tabs -}}
                    <div class="list-box text-box">
                        <div class="heading">
                            <span>{{- partial (printf "icons/%s.html" .icon) -}}</span> {{- .title -}}
                        </div>
                        <p>{{- .text -}}</p>
                    </div>
                    <div class="list-seperator"></div>
                    {{- end -}}
                </div>
            </div>
        </div>
    </section>
{{- end -}}