<section id="what-we-do">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <img src="/images/features-quicksearch.png" alt="inBeat Agency" class="img-responsive">
      </div>
      <div class="col-xs-12 col-sm-6">
        <h2>Drive Measurable Results Through Performance-Creative</h2>
        <p>Scale through data-driven paid media and micro-influencer marketing. Creator-centric strategies trusted by 250+ brands.</p>
        <div class="cta">
          <a href="https://www.inbeat.agency/" class="btn btn-lg btn-crazy-hover" title="Get started" id="hero-cta"
            target="_blank">
            Get started
          </a>
        </div>
      </div>
    </div>
  </div>
</section>