<section class="container-fluid mobile-adjusted" id="what-we-do">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <video autoplay muted loop playsinline>
          <source src="/videos/CreatorStudio_Snippet.mp4" />
        </video>
      </div>
      <div class="col-xs-12 col-md-6 whatwedo-aside">
        <span class="new-badge">NEW!</span>
        <h2>UGC Platform</h2>
        <p>Drive down your CPAs by working with creators that have a track record for performance and create conversion
          focused content in a fully managed platform</p>
        <div class="cta">
          <a href="https://www.showca.se/" class="btn btn-lg btn-crazy-hover" title="Try it now" id="hero-cta"
            target="_blank">
            Sign up for free — On Showcase
          </a>
        </div>
      </div>
    </div>
  </div>
</section>